@import "../../../root.css";

:host {
  @apply --app-boxs;
}
:host /deep/ .recommend-banner{
  position: relative;
  & .help{
    position: absolute;
    right: 30px;
    top: 38px;
    font-size: 16px;
    line-height: 1.42857;
    color: #fff;
  }
}
