<div class="carousel-inner">
    <div class="item">
        <div class="banner">
            <a target="_blank" href="http://www.jianshu.com/p/b98a8300b94a?utm_medium=index-banner&amp;utm_source=desktop"><img src="//upload.jianshu.io/admin_banners/web_images/3052/85b826f83eebc8051ad35b06b74f3e71d0f31060.jpg?imageMogr2/auto-orient/strip|imageView2/1/w/1250/h/540" alt="540"></a>
        </div>
        <div class="banner">
            <a target="_blank" href="http://www.jianshu.com/p/c3215a0e5ca7?utm_medium=index-banner&amp;utm_source=desktop"><img src="//upload.jianshu.io/admin_banners/web_images/3049/8e533a068e4c23426773de1660369382795ca2e4.jpg?imageMogr2/auto-orient/strip|imageView2/1/w/1250/h/540" alt="540"></a>
        </div>
        <div class="banner">
            <a target="_blank" href="http://www.jianshu.com/p/f6c0b978eb4b?utm_medium=index-banner&amp;utm_source=desktop"><img src="//upload.jianshu.io/admin_banners/web_images/2295/2dbb6d6e2abd9f7e50c56adfff92f9613ad9c502.jpg?imageMogr2/auto-orient/strip|imageView2/1/w/1250/h/540" alt="540"></a>
        </div>
    </div>
</div>
<a href="javascript:;" class="left carousel-control"><i class="icon-previous-s"></i></a>
<a href="javascript:;" class="right carousel-control"><i class="icon-next-s"></i></a>