:host {
  display: block;
  position: relative;
  z-index: 1000;
  border-radius: 0 0 6px 6px;
  overflow: hidden;
  margin-bottom: 40px;

  & .carousel-inner {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 276px;
  }
  & .primary {
    position: relative;
    float: left;
    width: 66.666%;
    height: 100%;
    & .banner{
      position: absolute;
      left: 0;
      top: 0;
      opacity: 0;
    }
    & .banner:first-child{
      display: none;
    }
    &.active .banner:not(:first-child, :last-child){
      transition: none;
      opacity: 1;
    }
    &.prev .banner:first-child{
      display: block;
      opacity: 1;
    }
    &.next .banner:last-child {
      display: block;
      opacity: 1;
    }
  }
  & .banner {
    width: 100%;
    transition: .6s cubic-bezier(.6,0,.2,1);
    & a {
      position: relative;
      display: block;
      &:before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        transition: .1s ease-in;
      }
    }
    &:hover a:before {
      background-color: rgba(0, 0, 0, .08)
    }
    & img {
      width: 100%;
    }
  }
  & .rear {
    float: left;
    width: 33.333%;
    & .banner {
      transform: translate3d(0, -100%, 0);
    }
    &.prev .banner {
      transform: translate3d(0, -200%, 0);
    }
    &.next .banner {
      transform: translate3d(0, 0, 0);
    }
  }
  & .carousel-control {
    position: absolute;
    font-size: 20px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    width: 40px;
    top: 40%;
    color: #fff;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0, 0, 0, .6);
    background-color: rgba(0, 0, 0, .4);
    transition: background-color 0.5s;
    opacity: 0;
    transition: .1s ease-in;
    &:hover {
      background-color: rgba(0, 0, 0, .6);
    }
    &.left {
      border-top-right-radius: 6px;
      border-bottom-right-radius: 6px;
    }
    &.right {
      left: auto;
      right: 0;
      border-top-left-radius: 6px;
      border-bottom-left-radius: 6px;
    }
  }
  &:hover .carousel-control {
    opacity: 1;
  }
}

