<div class="row">
  <div class="col-xs-18 col-xs-offset-3 main">
    <h3>关于简书</h3>
    <h6>简书是一个优质的创作社区，“创作你的创作”，是简书的信仰。</h6>
    <h6>我们相信，每个人都是生活中的艺术家，有着无穷的创造力。人人都可创作，不管是一段文字、一张图片，还是一段影音，都可以成为你的作品。每个人在创作的同时，都可以接受来自全世界的赞赏，与同好交流。</h6>
    <h6>简书致力于提供最好的分享体验。简单优雅的设计，给用户带来前所未有的感受；同时，对于富文本和 Markdown 方式，文档实时保存等独特功能，使得内容分享更加方便快捷；包罗万象的专题，使得用户更容易发现自己喜爱的内容，与同好交流。</h6>
    <h6>简书是一个开放而友好的社区，每个人都可以在这里自由地发现或是分享作品。</h6>
    <br>
    <h3>联系我们</h3>
    <h5>广告投放合作：</h5>
    <h6>电子邮件：Candy.Chen@jianshu.com</h6>
    <h6>电话：138-1687-4329</h6>
    <h6>固定电话：021-34770030 （请根据语音提示操作）</h6>
    <hr>
    <h5>市场推广、换量合作：</h5>
    <h6>电子邮件：michelleling@jianshu.com</h6>
    <h6>微信：Michelle_lj11</h6>
    <h6>固定电话：021-34770030 （请根据语音提示操作）</h6>
    <hr>
    <h5>技术类合作：</h5>
    <h6>电子邮件：Larry@jianshu.com</h6>
    <h6>（备注：暂不接受电话受理渠道）</h6>
    <hr>
    <h5>赞赏、提现业务咨询：</h5>
    <h6>微信公众号：简宝玉 (jianshubaoyu)</h6>
    <h6>（备注：暂不接受电话受理渠道）</h6>
    <hr>
    <h5>人事沟通：</h5>
    <h6>电子邮件：HR@jianshu.com</h6>
    <hr>
    <h5>封号和锁文章咨询：</h5>
    <h6>简信联系：<a target="_blank" href="/u/82d6d31a133f">简书首席封号官</a></h6>
    <h6>电子邮件：contact@jianshu.com</h6>
    <h6><strong>联系后，1-2 个工作日会给予答复。</strong></h6>
    <h6>锁文章：请备注你有疑问的文章地址，并附上疑问。</h6>
    <h6>封号：请先仔细阅读文章<a target="_blank" href="/p/004277ec371b">《账号冻结通知》</a>，其中违反 9~10 条规定者，请于 60 天之内，通过发简信至“简书首席封号官”的方式道歉，并承诺日后不会再犯。</h6>
    <h6>（备注：暂不接受电话受理渠道）</h6>
    <hr>
    <h5>其它事务：</h5>
    <h6>电子邮件：PD@jianshu.com</h6>
    <h6>固定电话：021-34770030 （请根据语音提示操作）</h6>
    <br>
    <h6>如你需要更多帮助，请前往<a href='/help'>帮助与反馈</a>页面，或电子邮件：contact@jianshu.com</h6>
  </div>
</div>
