.jui-btn{
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    background: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857;
    border-radius: 4px;
    user-select: none;
    transition: .1s ease-in;
    &:matches([disabled], .disabled){
        cursor: not-allowed;
        box-shadow: none;
        opacity: 0.65;
    }
    &:matches(:active, .active){
        box-shadow: rgba(0, 0, 0, 0.125) 0px 3px 5px inset;
        outline: 0;
    }
    &:hover:focus,&:focus {
        outline: 0;
    }
    &.jui-btn-dashed {
        border-style: dashed;
    }
    &.jui-btn-outline,
    &.jui-btn-dashed {
        &.jui-btn-default {
            color: rgba(0, 0, 0, 0.65);
            border-color: #d9d9d9;
            background-color: #fff;
        }
        &.jui-btn-primary {
            color: #3194d0;
            border-color: #3194d0;
            background-color: #fff;
        }
        &.jui-btn-secondary {
            color: #868e96;
            border-color: #868e96;
            background-color: #fff;
        }
        &.jui-btn-info {
            color: #5bc0de;
            border-color: #5bc0de;
            background-color: #fff;
        }
        &.jui-btn-warning {
            color: #f0ad4e;
            border-color: #f0ad4e;
            background-color: #fff;
        }
        &.jui-btn-success {
            color: #42c02e;
            border-color: #3bc21d;
            background-color: #fff;
            &:hover{
                color: #42c02e;
                border-color: #42c02e;
                background-color: rgba(59,194,29, .05);
            }
        }
        &.jui-btn-danger {
            color: #ea6f5a;
            border-color: #ea6f5a;
            background-color: #fff;
            &:hover{
                color: #ec6149;
                border-color: #ec6149;
                background-color: rgba(236,97,73,.05);
            }
        }
    }

    &.jui-btn-default{
        color: #969696;
        &:hover{
            color: #9b9b9b;
            background-color: rgba(181, 181, 181, 0.1);
        }
    }
    &.jui-btn-primary{
        color: #fff;
        background-color: #3194d0;
        &:hover{
        background-color: #187cb7;
        }
    }
    &.jui-btn-success{
        color: #fff;
        background-color: #42c02e;
        &:hover{
        background-color: #3db922;
        }
    }
    &.jui-btn-info{
        color: #787878;
        background-color: #f7f7f7;
        border-color: #dcdcdc;
        &:hover{
        background-color: #f3f3f3;
        }
    }
    &.jui-btn-danger{
        color: #fff;
        background-color: #ea6f5a;
        &:hover{
        background-color: #ec6149;
        }
    }
    &.jui-btn-link{
        color: #3194d0;
        padding: 0 5px;
        border-radius: 0px;
        &.disable{
            pointer-events: none;
        }
        &:hover{
            color: #337ab7;
        }
    }
    &.jui-btn-pill{
        border-radius: 10rem;
    }
    &.jui-btn-xs{
        padding: 0 8px;
        font-size: 12px;
    }
    &.jui-btn-sm{
        font-size: 12px;
        padding: 4px 10px;
    }
    &.jui-btn-md{
        padding: 8px 18px;
        font-size: 16px;
    }
    &.jui-btn-lg{
        padding: 9px 25px;
        font-size: 18px;
    }
    &.jui-btn-block{
        display: block;
        width: 100%;
    }
}