<main class="g-login">
  <h1 class="m-logo"><a href="/">简书</a></h1>
  <section class="m-main">
    <h3 class="m-title">
      <a class="active" routerLink="/login">登录</a>
      <b>·</b>
      <a routerLink="/register">注册</a>
    </h3>
    <div>
      <form [formGroup]="loginForm" novalidate autocomplete="off" (submit)="loginSubmit(loginForm)">
        <div class="form-group">
          <div class="input-prepend">
            <input type="text" class="form-control" formControlName="username" placeholder="手机号"/>
            <i class="icon-user"></i>
          </div>
          <div class="input-prepend">
            <input type="password" class="form-control" formControlName="password" placeholder="密码"
                   [(ngModel)]="login.password">
            <i class="icon-password"></i>
          </div>
        </div>
        <div class="form-group">
          <input type="hidden" formControlName="verifycode" placeholder="验证码" [(ngModel)]="login.verifycode">
          <app-verify-sliderbar (checked)="verify($event)"></app-verify-sliderbar>
        </div>
        <div class="form-group checkbox f-cb">
          <label class="f-fl"><input type="checkbox" formControlName="rememberme" [(ngModel)]="login.rememberme">记住我</label>
          <a class="f-fr forgot" routerLink="/forgot">登录遇到问题?</a>
        </div>
        <div class="form-group">
          <button type="submit" class="u-btn u-btn-primary u-btn-lg u-btn-block">登录</button>
        </div>
      </form>
    </div>
    <p>Form value: {{ loginForm.value }}</p>
    <p>Form status: {{ loginForm.status }}</p>
  </section>
</main>
