<h1 class="m-logo f-fl">
    <a routerLink="/">简书</a>
</h1>
<nav class="g-container" role="navigation">
    <ul class="m-nav f-fl" *ngIf="isLogin">
        <li routerLinkActive="active">
            <a routerLink="/">
                <i class="icon-navigation-discover menu-icon"></i>
                <span class="menu-text">发现</span>
            </a>
        </li>
        <li routerLinkActive="active">
            <a routerLink="/subscriptions">
                <i class="icon-navigation-follow menu-icon"></i>
                <span class="menu-text">关注</span>
            </a>
        </li>
        <li routerLinkActive="active" class="notification" dropdown>
            <a class="dropdown-toggle" routerLink="/notifications" class="notification-btn">
                <i class="icon-navigation-notification menu-icon"></i>
                <span class="menu-text">消息</span>
            </a>
            <ul class="dropdown-menu">
                <li><a routerLink="/notifications/comments"><i class="icon-comments"></i> <span>评论</span></a></li>
                <li><a routerLink="/notifications/chats"><i class="icon-chats"></i> <span>简信</span></a></li>
                <li><a routerLink="/notifications/requests"><i class="icon-requests"></i> <span>投稿请求</span></a></li>
                <li><a routerLink="/notifications/likes"><i class="icon-likes"></i> <span>喜欢和赞</span></a></li>
                <li><a routerLink="/notifications/follows"><i class="icon-follows"></i> <span>关注</span></a></li>
                <li><a routerLink="/notifications/others"><i class="icon-others"></i> <span>其他消息</span></a></li>
            </ul>
        </li>
    </ul>
    <ul class="m-nav f-fl" *ngIf="!isLogin">
        <li routerLinkActive="active">
            <a routerLink="/">
                <i class="icon-navigation-discover menu-icon"></i>
                <span class="menu-text">首页</span>
            </a>
        </li>
        <li>
            <a class="app-download-btn" routerLink="/apps">
                <i class="icon-navigation-download menu-icon"></i>
                <span class="menu-text">下载App</span>
            </a>
        </li>
    </ul>
    <div class="m-search f-fl">
        <input type="text" name="q" id="q" [(ngModel)]="search" placeholder="搜索" class="search-input">
        <a class="search-btn" (click)="searchHandler()"><i class="icon-search"></i></a>
    </div>
</nav>
<a routerLink="/writer" class="f-fr u-btn u-btn-danger u-btn-md u-user-btn"><i class="icon-write"></i> 写文章</a>
<div class="m-user f-fr" *ngIf="isLogin" dropdown>
    <div class="dropdown-toggle">
        <a class="avatar" [routerLink]="['/user', user.slug]"><img [src]="user.avatar" alt="120"></a>
    </div>
    <ul class="dropdown-menu">
        <li>
            <a [routerLink]="['/user', user.slug]">
                <i class="icon-navigation-profile"></i><span>我的主页</span>
            </a>
        </li>
        <li>
            <a routerLink="/bookmarks">
                <i class="icon-navigation-mark"></i><span>收藏的文章</span>
            </a>
        </li>
        <li>
            <a [routerLink]="['/user', user.slug, 'liked_article']">
                <i class="icon-navigation-like"></i><span>喜欢的文章</span>
            </a>
        </li>
        <li>
            <a routerLink="/settings">
                <i class="icon-navigation-settings"></i><span>设置</span>
            </a>
        </li>
        <li>
            <a routerLink="/faqs">
                <i class="icon-navigation-feedback"></i><span>帮助与反馈</span>
            </a>
        </li>
        <li>
            <a href="javascript:;" (click)="logout()">
                <i class="icon-navigation-signout"></i><span>退出</span>
            </a>
        </li>
    </ul>
</div>
<div class="m-user f-fr" *ngIf="!isLogin">
    <a routerLink="/register" class="f-fr u-btn u-btn-danger u-btn-md transparent u-user-btn">注册</a>
    <a routerLink="/login" class="f-fr u-btn u-btn-md u-user-btn">登录</a>
</div>
