:host{
  display: block;
  min-width: 768px;
  max-width: 1440px;
  margin: 0 auto;
}
.m-logo{
  width: 55px;
  margin: 14px 25px 15px 20px;
  & > a{
    padding-top: 26px;
  }
}
[dropdown]{
  position: relative;
  & .dropdown-menu{
    position: absolute;
    left: 0;
    top: 56px;
    display: none;
    list-style: none;
    width: 200px;
    padding: 5px 0;
    margin: 0;
    background-color: #fff;
    border-radius: 0 0 4px 4px;
    box-shadow: 0 2px 8px rgba(0,0,0,.1);
    filter: drop-shadow(0 2px 8px rgba(0,0,0,.1));
    & li {
      margin: 0
    }
    & a {
      display: inline-block;
      width: 100%;
      height: auto;
      padding: 10px 20px;
      line-height: 30px;
      color: #333;
      &:hover{
        background-color: #f5f5f5
      }
    }

    & i{
      margin-right: 15px;
      font-size: 22px;
      color: #ea6f5a;
      vertical-align: middle
    }

    & span {
      vertical-align: middle
    }
  }
  &.open .dropdown-toggle{
    background-color: #f5f5f5!important;
  }
  &.open .dropdown-menu{
    display: block;
  }
}
.m-nav{
    margin: 0;
    padding: 0;
    list-style: none;
    margin-left: -15px;
  & > li{
    float: left;
    margin-right: 10px;
    &.active a{
      color: #ea6f5a;
      background: none;
    }
    & > a{
      display: inline-block;
      height: 56px;
      line-height: 26px;
      padding: 15px;
      font-size: 16px;
      color: #333;
      &:hover{
        color: #333;
        background-color: #f5f5f5;
      }
      & > i{
        font-size: 20px;
        vertical-align: middle;
        margin-left: 3px;
      }
    }
  }
}
.m-search{
  position: relative;
  padding: 10px 0 0 15px;
  & .search-input{
    padding: 0 40px 0 20px;
    width: 160px;
    height: 38px;
    font-size: 14px;
    border: 1px solid #eee;
    border-radius: 40px;
    background: #eee;
    transition: width .5s;
    -moz-transition: width .5s;
    -webkit-transition: width .5s;
    -o-transition: width .5s;
    &:focus {
        width: 240px;
        outline: none;
    }
    &:focus+.search-btn{
      background-color: #969696;
      border-radius: 50%;
      color: #fff;
    }
  }
  & .search-btn{
    position: absolute;
    top: 14px;
    right: 5px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    color: #333;
  }
}
.navbar-default .navbar-nav>li>a {
  color: #333
}

.navbar-default .navbar-nav>li>a:focus,.navbar-default .navbar-nav>li>a:hover {
  background-color: #f5f5f5
}

.navbar-default .navbar-nav>.active>a,.navbar-default .navbar-nav>.active>a:focus,.navbar-default .navbar-nav>.active>a:hover {
  color: #ea6f5a;
  background: none
}

.navbar-nav>.open>a,.navbar-nav>.open>a:focus,.navbar-nav>.open>a:hover {
  background-color: #f5f5f5!important
}
.u-user-btn{
  margin: 6px 15px 0;
}
.m-user{
  height: 100%;
  & .u-user-btn{
    margin: 6px 5px 0 15px;
    &:first-child{
      padding: 8px 30px;
    }
  }
  & .avatar{
    display: inline-block;
    position: relative;
    width: 40px;
    height: 40px;
    margin: 8px 28px 8px 20px;
    &:before{
      content: "";
      position: absolute;
      top: 18px;
      right: -14px;
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
      border-top: 6px solid #999;
    }
  }
}
