<header class="g-navbar navbar-default navbar-fixed-top">
  <app-navbar class="f-cb"></app-navbar>
</header>
<main class="g-container f-cb">
  <article class="g-main f-fl">
    <div class="main-top">
      <a class="avatar" href="/u/c1fed915ed12">
        <img
          src="//upload.jianshu.io/users/upload_avatars/1669869/21cc1916b6a4.jpg?imageMogr2/auto-orient/strip|imageView2/1/w/240/h/240"
          alt="240">
      </a>
      <a class="u-btn u-btn-success btn-follow"><i class="icon-follow"></i><span>关注</span></a>
      <a class="u-btn u-btn-success transparent btn-follow" href="/notifications#/chats/new?mail_to=1669869">发简信</a>

      <div class="title">
        <a class="name" href="/u/c1fed915ed12">顾一宸</a>
        <i class="icon-man"></i>
        <span class="author-tag"><i class="icon-write"></i> 签约作者</span>
      </div>
      <ul class="info">
        <li>
            <a  class="meta-block" href="/users/c1fed915ed12/following">
              <p>30</p>
              关注 <i class="icon-arrow"></i>
            </a>
        </li>
        <li>
            <a  class="meta-block" href="/users/c1fed915ed12/followers">
              <p>20548</p>
              粉丝 <i class="icon-arrow"></i>
            </a>
        </li>
        <li>
            <a  class="meta-block" href="/u/c1fed915ed12">
              <p>227</p>
              文章 <i class="icon-arrow"></i>
            </a>
        </li>
        <li>
          <div class="meta-block">
            <p>590231</p>
            字数
          </div>
        </li>
        <li>
          <div class="meta-block">
            <p>53106</p>
            收获喜欢
          </div>
        </li>
      </ul>
    </div>
    <router-outlet></router-outlet>
  </article>
  <aside class="g-aside f-fr">
    <dl>
      <dt class="title">个人介绍</dt>
      <dd class="description">
        <p class="intro">
          简书签约作者，微博签约自媒体。<br>专注于情感治愈和励志分享，写有态度又有温度的文字。<br>没有星光的夜晚，就让我对你说晚安。<br>微信公众号：顾一宸（ID：guyichen6）。<br>新浪微博：@顾一宸。<br>关于转载问题：请统一简信联系我的经纪人加油小毛虫。
        </p>
        <a class="social-icon-sprite social-icon-weibov" target="_blank" href="http://weibo.com/u/5838538045"></a>
        <a class="social-icon-sprite social-icon-weixin" data-toggle="popover" data-placement="bottom" data-html="true"
           data-trigger="hover" href="javascript:void(0);"
           data-content="<div class=&quot;qrcode&quot;><div class=&quot;arrow-top&quot;></div><img src=&quot;//upload.jianshu.io/users/qrcodes/1669869/%E4%BA%8C%E7%BB%B4%E7%A0%81.jpg?imageMogr2/auto-orient/strip|imageView2/1/w/320/h/320&quot; alt=&quot;320&quot; /></div>"
           data-original-title="" title=""></a>
      </dd>
    </dl>
    <dl class="user-dynamic">
      <dd class="list">
        <a href="/users/c1fed915ed12/subscriptions">
          <i class="icon-collection"></i> <span>他关注的专题/文集</span>
        </a>
      </dd>
      <dd>
        <a href="/users/c1fed915ed12/liked_notes">
          <i class="icon-like"></i> <span>他喜欢的文章</span>
        </a>
      </dd>
    </dl>
    <!-- 专题和文集 -->
    <dl>
      <dt class="title">他创建的专题</dt>
      <dd class="list">
        <a href="/c/72daf22c68f9" target="_blank" class="avatar-collection"><img
          src="//upload.jianshu.io/collections/images/367981/android.graphics.Bitmap_2bebf481.jpeg?imageMogr2/auto-orient/strip|imageView2/1/w/96/h/96"></a>
        <a href="/c/72daf22c68f9" class="name">文章</a>
      </dd>
    </dl>
    <dl>
      <dt class="title">他参与管理的专题</dt>
      <dd class="list">
        <a href="/c/72daf22c68f9" target="_blank" class="avatar-collection"><img
          src="//upload.jianshu.io/collections/images/367981/android.graphics.Bitmap_2bebf481.jpeg?imageMogr2/auto-orient/strip|imageView2/1/w/96/h/96"></a>
        <a href="/c/72daf22c68f9" class="name">文章</a>
      </dd>
    </dl>
    <dl>
      <dt class="title">他的文集</dt>
      <dd class="list">
        <a [routerLink]="['/books', '1']"><i class="icon-search-notebook"></i></a> <a
        [routerLink]="['/books', '1']" class="name">生活杂感</a>
      </dd>
    </dl>
    <div class="user-action">
      <a class="js-block-button" data-user-id="1669869" href="javascript:void(null);">加入黑名单</a> ·
      <a class="js-report-button" data-reportable-id="1669869" data-reportable-type="user">举报用户</a>
    </div>
    <div class="side-tool">
      <ul>
        <li data-placement="left" data-toggle="tooltip" data-container="body" data-original-title="回到顶部"
            style="display: none;"><a href="#" class="function-button"><i class="icon-backtop"></i></a></li>
      </ul>
    </div>
  </aside>
</main>
