@import "../../../root.css";

:host {
  @apply --app-boxs;
}

.g-container {
  padding-top: 30px;
}

.g-main {
  width: 66.666667%;
}

.g-aside {
  width: 29.16667%;
  & .title{
    margin-bottom: 10px;
    font-size: 14px;
    color: #969696;
  }
  & .intro{
    margin-bottom: 10px;
    line-height: 20px;
    font-size: 14px;
  }
  & dl{
    margin-bottom: 16px;
    border-bottom: 1px solid #f0f0f0;
  }
  & dd{
    margin:0 0 10px 0;
    line-height: 20px;
    & .avatar-collection{
      margin-right: 5px;
      width: 32px;
      height: 32px;
      & img{
        width: 100%;
        height: 100%;
        border: 1px solid #ddd;
        border-radius: 10%;
      }
    }
    & a{
      display: inline-block;
      font-size: 14px;
      color: #333;
      line-height: 30px;
      & i{
        vertical-align: middle;
        margin-right: 5px;
        font-size: 20px;
        &.icon-search-notebook{
          color: #969696;
        }
      }
    }
  }
}

.main-top {
  margin-bottom: 20px;
  & .avatar {
    float: left;
    width: 80px;
    height: 80px;
    margin-left: -2px;
  }
  & .btn-follow {
    float: right;
    margin: 23px 0 23px 16px;
    font-size: 15px;
    padding: 8px 0;
    width: 100px;
    border-radius: 40px;
  }
  & .title {
    padding: 5px 0 0 100px;
    & .name {
      display: inline;
      font-size: 21px;
      font-weight: 700;
      vertical-align: middle;
      color: #2f2f2f;
      &:hover {
        color: #2f2f2f;
      }
    }
    & .icon-man, & .icon-woman {
      font-size: 18px;
      vertical-align: middle;
    }
    & .author-tag {
      vertical-align: middle;
      display: inline-block;
      padding: 0 2px;
      margin-left: 4px;
      font-size: 13px;
      color: #ea6f5a;
      border: 1px solid #ea6f5a;
      border-radius: 3px;
      line-height: normal;
    }
  }
  & .info {
    margin-top: 5px;
    padding-left: 100px;
    font-size: 0;
    list-style: none;
    & li {
      display: inline-block;
      font-size: 12px;
      margin: 0 7px 6px 0;
      padding: 0 7px 0 0;
      border-right: 1px solid #f0f0f0;
      &:last-child {
        margin: 0;
        padding: 0;
        border: none;
      }
      & p {
        margin-bottom: 0;
        font-size: 15px;
        color: #333;
        font-family: Georgia, Times New Roman, Times, Songti SC, serif;
      }
      & .meta-block {
        color: #969696;
      }
    }
  }
}

:host /deep/ .trigger-menu {
  margin-bottom: 20px;
  border-bottom: 1px solid #f0f0f0;
  font-size: 0;
  list-style: none;
  padding: 0;
  & li {
    position: relative;
    display: inline-block;
    padding: 8px 0;
    margin-bottom: -1px;
    & a{
      padding: 13px 20px;
      font-size: 15px;
      font-weight: 700;
      color: #969696;
      line-height: 25px;
    }
    & i{
      margin-right: 5px;
      font-size: 17px;
    }
    &:after {
      content: "";
      position: absolute;
      left: 50%;
      bottom: -2px;
      width: 100%;
      opacity: 0;
      border-bottom: 2px solid #646464;
      transform: translate(-50%) scaleX(0);
      transition: .2s ease-in-out;
    }
    &:hover{
      & a {
        color: #646464;
      }
      &:after{
        opacity: 1;
        transform: translate(-50%) scaleX(1);
      }
    }
    &.active{
      border-bottom: 2px solid #646464;
      & a {
        color: #646464;
      }
    }
  }
}
