@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?jqnaoc');
  src:  url('fonts/icomoon.eot?jqnaoc#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?jqnaoc') format('truetype'),
    url('fonts/icomoon.woff?jqnaoc') format('woff'),
    url('fonts/icomoon.svg?jqnaoc#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-info:before {
  content: "\e60c";
}
.icon-arrow:before {
  content: "\e61e";
}
.icon-search:before {
  content: "\e618";
}
.icon-qq_connect:before {
  content: "\e603";
}
.icon-douban:before {
  content: "\e601";
}
.icon-location:before {
  content: "\e627";
}
.icon-next:before {
  content: "\e62d";
}
.icon-previous:before {
  content: "\e62f";
}
.icon-unfollow:before {
  content: "\e631";
}
.icon-phone:before {
  content: "\e602";
}
.icon-catalog:before {
  content: "\e694";
}
.icon-search-history:before {
  content: "\e640";
}
.icon-share-more:before {
  content: "\e623";
}
.icon-work:before {
  content: "\e628";
}
.icon-share-wechat:before {
  content: "\e625";
}
.icon-education:before {
  content: "\e62b";
}
.icon-social:before {
  content: "\e62a";
}
.icon-question:before {
  content: "\e60d";
}
.icon-google_oauth2:before {
  content: "\e600";
}
.icon-share-weibo:before {
  content: "\e626";
}
.icon-edit-s:before {
  content: "\e619";
}
.icon-wechat:before {
  content: "\e604";
}
.icon-weibo:before {
  content: "\e605";
}
.icon-hot:before {
  content: "\e607";
}
.icon-feed:before {
  content: "\e608";
}
.icon-latestcomments:before {
  content: "\e609";
}
.icon-articles:before {
  content: "\e60a";
}
.icon-official:before {
  content: "\e60b";
}
.icon-write:before {
  content: "\e60e";
}
.icon-discover-collections:before {
  content: "\e61a";
}
.icon-discover-user:before {
  content: "\e61b";
}
.icon-back:before {
  content: "\e61c";
}
.icon-article-mark:before {
  content: "\e629";
}
.icon-article-like:before {
  content: "\e62c";
}
.icon-collections-followed:before {
  content: "\e62e";
}
.icon-collection:before {
  content: "\e615";
}
.icon-settings-money:before {
  content: "\e63a";
}
.icon-settings-profile:before {
  content: "\e63b";
}
.icon-settings-basic:before {
  content: "\e63c";
}
.icon-settings-verify:before {
  content: "\e63d";
}
.icon-settings-account:before {
  content: "\e63e";
}
.icon-settings-block:before {
  content: "\e63f";
}
.icon-search-collection:before {
  content: "\e641";
}
.icon-search-notebook:before {
  content: "\e643";
}
.icon-money:before {
  content: "\e606";
}
.icon-comment-emotions:before {
  content: "\e64a";
}
.icon-comment-at:before {
  content: "\e64b";
}
.icon-navigation-night:before {
  content: "\e64d";
}
.icon-navigation-mark:before {
  content: "\e64f";
}
.icon-navigation-profile:before {
  content: "\e650";
}
.icon-navigation-help:before {
  content: "\e651";
}
.icon-navigation-settings:before {
  content: "\e652";
}
.icon-navigation-wallet:before {
  content: "\e653";
}
.icon-navigation-like:before {
  content: "\e654";
}
.icon-navigation-feedback:before {
  content: "\e655";
}
.icon-filter:before {
  content: "\e657";
}
.icon-subscribed:before {
  content: "\e630";
}
.icon-fail:before {
  content: "\e65b";
}
.icon-addcollection:before {
  content: "\e65c";
}
.icon-phonenumber:before {
  content: "\e65d";
}
.icon-user:before {
  content: "\e65e";
}
.icon-list-comments:before {
  content: "\e660";
}
.icon-list-like:before {
  content: "\e661";
}
.icon-list-read:before {
  content: "\e662";
}
.icon-list-money:before {
  content: "\e60f";
}
.icon-followed:before {
  content: "\e610";
}
.icon-follow:before {
  content: "\e611";
}
.icon-friends:before {
  content: "\e617";
}
.icon-like-active:before {
  content: "\e613";
}
.icon-like:before {
  content: "\e663";
}
.icon-navigation-signout:before {
  content: "\e61d";
}
.icon-others:before {
  content: "\e633";
}
.icon-requests:before {
  content: "\e635";
}
.icon-follows:before {
  content: "\e636";
}
.icon-chats:before {
  content: "\e637";
}
.icon-comments:before {
  content: "\e656";
}
.icon-likes:before {
  content: "\e664";
}
.icon-woman:before {
  content: "\e645";
}
.icon-man:before {
  content: "\e646";
}
.icon-password:before {
  content: "\e614";
}
.icon-ios:before {
  content: "\e612";
}
.icon-error:before {
  content: "\e648";
}
.icon-qrcode:before {
  content: "\e649";
}
.icon-android:before {
  content: "\e65f";
}
.icon-verify:before {
  content: "\e61f";
}
.icon-show:before {
  content: "\e621";
}
.icon-hide:before {
  content: "\e622";
}
.icon-previous-s:before {
  content: "\e647";
}
.icon-next-s:before {
  content: "\e659";
}
.icon-go:before {
  content: "\e65a";
}
.icon-none:before {
  content: "\e665";
}
.icon-zan-active:before {
  content: "\e638";
}
.icon-comment:before {
  content: "\e639";
}
.icon-zan:before {
  content: "\e666";
}
.icon-share:before {
  content: "\e683";
}
.icon-backtop:before {
  content: "\e684";
}
.icon-addcollectionmodal:before {
  content: "\e668";
}
.icon-link:before {
  content: "\e616";
}
.icon-more:before {
  content: "\e620";
}
.icon-report:before {
  content: "\e624";
}
.icon-block:before {
  content: "\e632";
}
.icon-delete:before {
  content: "\e66b";
}
.icon-email:before {
  content: "\e66c";
}
.icon-recommend:before {
  content: "\e66d";
}
.icon-city:before {
  content: "\e66e";
}
.icon-recommend-collection:before {
  content: "\e66f";
}
.icon-recommend-user:before {
  content: "\e670";
}
.icon-article-s:before {
  content: "\e671";
}
.icon-collection-s:before {
  content: "\e672";
}
.icon-subcomment:before {
  content: "\e698";
}
.icon-navigation-discover:before {
  content: "\e69a";
}
.icon-navigation-notification:before {
  content: "\e69b";
}
.icon-navigation-follow:before {
  content: "\e69c";
}
.icon-navigation-download:before {
  content: "\e69d";
}
.icon-successed:before {
  content: "\e69e";
}
.icon-unblock:before {
  content: "\e6a2";
}
.icon-applying:before {
  content: "\e6a7";
}
.icon-addpeople:before {
  content: "\e6a8";
}
.icon-mark:before {
  content: "\e6af";
}
.icon-search-user:before {
  content: "\e6b0";
}
.icon-search-note:before {
  content: "\e6b1";
}
.icon-picture:before {
  content: "\e6b2";
}
.icon-navigation-mode:before {
  content: "\e6b5";
}
.icon-mark-active:before {
  content: "\e6b7";
}
.icon-note-requests:before {
  content: "\e6bc";
}
.icon-search-change:before {
  content: "\e6e3";
}
.icon-github:before {
  content: "\eab0";
}
