<header class="g-navbar navbar-default navbar-fixed-top">
  <app-navbar class="f-cb"></app-navbar>
</header>
<main class="g-container f-cb">
  <article class="g-main f-fl">
    <div class="main-top">
      <a class="avatar-collection" [routerLink]="['/books', books.slug]">
        <img src="../assets/images/avatar-notebook-default.png" alt="Avatar notebook default">
      </a>
      <a class="u-btn u-btn-success btn-follow"><i class="icon-follow"></i> <span>关注</span></a>
      <div class="title">
        <a class="name" [routerLink]="['/books', books.slug]">{{books.title}}</a>
      </div>
      <div class="info">
        {{books.articles_count}}篇文章 · {{books.wordage}}字 · {{books.follows_count}}人关注
      </div>
    </div>
    <ul class="trigger-menu">
      <li *ngFor="let item of menu" [class.active]="item.active" (click)="setMenu(item)"><a href="javascript:;"><i [class]="item.icon"></i> {{item.label}}</a></li>
    </ul>
    <app-article-list [request]="container.request"></app-article-list>
  </article>
  <aside class="g-aside f-fr">
    <div class="share">
      <span>分享到</span>
      <a class="option" href="javascript:void((function(s,d,e,r,l,p,t,z,c){var%20f='http://v.t.sina.com.cn/share/share.php?appkey=1881139527',u=z||d.location,p=['&amp;url=',e(u),'&amp;title=',e(t||d.title),'&amp;source=',e(r),'&amp;sourceUrl=',e(l),'&amp;content=',c||'gb2312','&amp;pic=',e(p||'')].join('');function%20a(){if(!window.open([f,p].join(''),'mb',['toolbar=0,status=0,resizable=1,width=440,height=430,left=',(s.width-440)/2,',top=',(s.height-430)/2].join('')))u.href=[f,p].join('');};if(/Firefox/.test(navigator.userAgent))setTimeout(a,0);else%20a();})(screen,document,encodeURIComponent,'','','', '推荐 @滇中焱公子 的文集《长篇连载》（ 分享自 @简书 ）','http://www.jianshu.com/nb/9585684?utm_campaign=maleskine&amp;utm_content=notebook&amp;utm_medium=reader_share&amp;utm_source=weibo','页面编码gb2312|utf-8默认gb2312'));"><i class="icon-share-weibo"></i></a>
      <a class="option" data-action="weixin-share" data-notebook-id="9585684"><i class="icon-share-wechat"></i></a>
      <a class="option" tabindex="0" data-toggle="popover" data-placement="bottom" data-html="true" data-trigger="focus" href="javascript:void(0);" data-content="" data-original-title="" title=""><i class="icon-share-more"></i></a>
    </div>
    <dl>
      <dt class="title">文集作者</dt>
      <dd class="list collection-editor">
        <a class="avatar" [routerLink]="['/user', books.author.slug]">
          <img [src]="books.author.avatar" alt="96">
        </a>            <a class="name" [routerLink]="['/user', books.author.slug]">{{books.author.nickname}}</a>
      </dd>
    </dl>
  </aside>
</main>
