<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" type="image/x-icon" href="/web/favicon.ico">
    <title>首页</title>
</head>
<body>
    <h1>欢迎来到简书web</h1>
    <p>这是前后分离项目，只提供API接口</p>
    <p>你需要去web目录下运行npm run start运行web项目</p>
    <p>ps: 目前项目正在完善中，请持续关注。</p>
</body>
</html>