<h1 class="m-logo">
  <a routerLink="/">
    <img src="assets/images/logo.png" alt="">
  </a>
</h1>
<main class="g-main">
  <header>
    <h3>
      <a href="">登陆</a>
      <b>·</b>
      <a href="/register" class="active">注册</a>
    </h3>
  </header>
  <section>
    <form autocomplete="off" [formGroup]="registerForm" (submit)="onSubmit($event, registerForm)" novalidate>
      <div class="m-form-group">
        <div class="m-input-group">
          <label for="nickname" class="u-input-group-btn">
            <i class="icon-user"></i>
          </label>
          <input type="text" class="u-input-control" autocomplete="off" formControlName="nickname" (blur)="onCheckNickname(registerForm.get('nickname'))"
            name="nickname" id="nickname" placeholder="您的昵称" />
        </div>
        <div class="m-input-group">
          <label for="username" class="u-input-group-btn">
            <i class="icon-phonenumber"></i>
          </label>
          <input type="number" class="u-input-control" autocomplete="off" formControlName="username" name="username" id="username"
            placeholder="手机号" />
        </div>
        <div class="m-input-group">
          <label for="code" class="u-input-group-btn">
            <i class="icon-verify"></i>
          </label>
          <input type="number" autocomplete="off" class="u-input-control" formControlName="code" name="code" id="code" placeholder="手机验证码"
          />
          <button type="button" class="u-btn-verify" jui-button [color]="'success'" jui-button-pill [disabled]="registerForm.get('username').invalid"
            (click)="onSendCode()">{{codeBtnText}}</button>
        </div>
        <div class="m-input-group">
          <label for="password" class="u-input-group-btn">
            <i class="icon-password"></i>
          </label>
          <input type="password" autocomplete="new-password" class="u-input-control" formControlName="password" name="password" id="password"
            placeholder="设置密码" />
        </div>
      </div>
      <div class="m-form-group b-pt10">
        <button type="submit" jui-button jui-button-block [color]="'success'" [size]="'lg'" jui-button-pill>注册</button>
      </div>
      <div class="m-form-group">
        <p>
          点击 “注册” 即表示您同意并愿意遵守简书
          <br/>
          <a href="" jui-button [color]="'link'">用户协议</a>和
          <a href="" jui-button [color]="'link'">隐私政策</a>。
        </p>
      </div>
    </form>
  </section>
  <footer>
    <h6>社交帐号直接注册</h6>
    <ul>
      <li>
        <a class="weibo" target="_blank" href="/users/auth/weibo">
          <i class="iconfont ic-weibo">wb</i>
        </a>
      </li>
      <li>
        <a class="weixin" target="_blank" href="/users/auth/wechat">
          <i class="iconfont ic-wechat">wx</i>
        </a>
      </li>
      <li>
        <a class="qq" target="_blank" href="/users/auth/qq_connect">
          <i class="iconfont ic-qq_connect">qq</i>
        </a>
      </li>
    </ul>
  </footer>
  <div>
    <i class="icon-search-change"></i>
  </div>
</main>
