.m-form-group{
    margin-bottom: 10px;
}
.u-input-control{
    width: 100%;
    padding: 5px 10px;
    font-size: 16px;
    border: 1px solid #c8c8c8;
    border-radius: 4px;
    background-color: rgba(181, 181, 181, 0.1);
    &:focus{
        outline: none;
        box-shadow: inset 0 0 10px #ccc;
    }
    &::placeholder{
        color: #999;
    }
}
.m-input-group{
  position: relative;
  width: 100%;
  & .u-input-group-btn{
    position: absolute;
  }
}
.u-label-control{

}
