<div>
  <div class="menu">收到的评论</div>
  <ul class="comment-list">
    <li class=""><a href="/u/552f687b314b" class="avatar"><img
      src="//upload.jianshu.io/users/upload_avatars/1430425/82622dbef4a2?imageMogr2/auto-orient/strip|imageView2/1/w/120/h/120"></a>
      <div class="info">
        <div><a class="user" href="/u/552f687b314b">Yuan_Jie</a><span class="comment-slogan">在文章</span><a
          href="/p/56ce4f3f0060">《10分钟教你撸一个nodejs爬虫系统》</a><span class="comment-slogan">中写了一条新评论</span></div>
        <div class="time">2017.05.31 21:20</div>
      </div>
      <p><a href="/users/431a1573bee6" class="maleskine-author" target="_blank" data-user-slug="431a1573bee6">@jiayisheji</a>
        可以看下MARKDOWN,排版很简单</p>
      <div class="meta"><a class="function-btn"><i class="iconfont ic-comment"></i><span>回复</span></a> <a
        href="/p/56ce4f3f0060#comment-11383619" class="function-btn"><i class="iconfont ic-go"></i><span>查看对话</span></a>
        <a class="report" reportable-type="[object Object]"><span>举报</span></a></div> <!----></li>
    <li class=""><a href="/u/552f687b314b" class="avatar"><img
      src="//upload.jianshu.io/users/upload_avatars/1430425/82622dbef4a2?imageMogr2/auto-orient/strip|imageView2/1/w/120/h/120"></a>
      <div class="info">
        <div><a class="user" href="/u/552f687b314b">Yuan_Jie</a><span class="comment-slogan">评论了你的文章</span><a
          href="/p/56ce4f3f0060">《10分钟教你撸一个nodejs爬虫系统》</a></div>
        <div class="time">2017.05.25 17:21</div>
      </div>
      <p>文章不错，就是里面有些排版需要优化下👍</p>
      <div class="meta"><a class="function-btn"><i class="iconfont ic-comment"></i><span>回复</span></a> <a
        href="/p/56ce4f3f0060#comment-11206132" class="function-btn"><i class="iconfont ic-go"></i><span>查看对话</span></a>
        <a class="report" reportable-type="[object Object]"><span>举报</span></a></div> <!----></li>
  </ul> <!----> <!----> <!----></div>
