<div class="container index">
  <div class="row">
    <div class="col-xs-16 main">
      <img class="tag-banner" src="//cdn2.jianshu.io/assets/web/seven-hot-344e8726a99ec07a8d552b33fe50be82.png" alt="Seven hot">
      <!-- 文章列表模块 -->
      <div id="list-container">
        <ul class="note-list" infinite-scroll-url="/trending/weekly">
          <li id="note-13049926" data-note-id="13049926" class="have-img">
            <a class="wrap-img" href="/p/ccc104a0639e" target="_blank">
              <img class="img-blur-done" src="//upload-images.jianshu.io/upload_images/2484282-74155d744f489041.jpg?imageMogr2/auto-orient/strip|imageView2/1/w/375/h/300" alt="120">
            </a>
            <div class="content">
              <div class="author">
                <a class="avatar" target="_blank" href="/u/5dbd34b241c6">
                  <img src="//upload.jianshu.io/users/upload_avatars/2484282/c0ae3290-474c-4cae-a3fa-e06c57642b2a.jpg?imageMogr2/auto-orient/strip|imageView2/1/w/96/h/96" alt="96">
                </a>      <div class="name">
                <a class="blue-link" target="_blank" href="/u/5dbd34b241c6">苏沐医编</a>
                <span class="time" data-shared-at="2017-06-02T16:39:57+08:00">06.02 16:39</span>
              </div>
              </div>
              <a class="title" target="_blank" href="/p/ccc104a0639e">我就是那个被简书拯救过来的姑娘</a>
              <p class="abstract">
                简书像对我进行了人工呼吸，恢复了我的心跳，砰砰有力，让我重获新生，不再像死人一样的活着。 文/苏沐 【1】 有人说，最理想的生活就是干净的圈子，规律但偶尔放肆的生活，还有喜欢...
              </p>
              <div class="meta">
                <a target="_blank" href="/p/ccc104a0639e">
                  <i class="iconfont ic-list-read"></i> 12518
                </a>        <a target="_blank" href="/p/ccc104a0639e#comments">
                <i class="iconfont ic-list-comments"></i> 591
              </a>      <span><i class="iconfont ic-list-like"></i> 1067</span>
                <span><i class="iconfont ic-list-money"></i> 13</span>
              </div>
            </div>
          </li>
          <li id="note-13053904" data-note-id="13053904" class="have-img">
            <a class="wrap-img" href="/p/35edf9563460" target="_blank">
              <img class="img-blur-done" src="//upload-images.jianshu.io/upload_images/1980684-2266bd1e30bd65fe.jpg?imageMogr2/auto-orient/strip|imageView2/1/w/375/h/300" alt="120">
            </a>
            <div class="content">
              <div class="author">
                <a class="avatar" target="_blank" href="/u/8519268c0e04">
                  <img src="//upload.jianshu.io/users/upload_avatars/1980684/95e8c0e293e4.jpg?imageMogr2/auto-orient/strip|imageView2/1/w/96/h/96" alt="96">
                </a>      <div class="name">
                <a class="blue-link" target="_blank" href="/u/8519268c0e04">另维_</a>
                <span class="time" data-shared-at="2017-06-02T18:12:44+08:00">06.02 18:12</span>
              </div>
              </div>
              <a class="title" target="_blank" href="/p/35edf9563460">致咪蒙：告诉你我在大学里都学到了什么</a>
              <p class="abstract">
                文＆图/另维 写在前面： 五年本科，我休学两次，两次都完成了自己想做的事，然后第一时间回到学校继续学业。我从未想过以学业为代价做任何事。不为文凭，为我的大学带给我的，人的本质...
              </p>
              <div class="meta">
                <a target="_blank" href="/p/35edf9563460">
                  <i class="iconfont ic-list-read"></i> 14867
                </a>        <a target="_blank" href="/p/35edf9563460#comments">
                <i class="iconfont ic-list-comments"></i> 210
              </a>      <span><i class="iconfont ic-list-like"></i> 1264</span>
                <span><i class="iconfont ic-list-money"></i> 9</span>
              </div>
            </div>
          </li>
          <li id="note-13026826" data-note-id="13026826" class="have-img">
            <a class="wrap-img" href="/p/9dcaa4ce39f6" target="_blank">
              <img class="img-blur-done" src="//upload-images.jianshu.io/upload_images/1867420-d8b142eba021b632.jpg?imageMogr2/auto-orient/strip|imageView2/1/w/375/h/300" alt="120">
            </a>
            <div class="content">
              <div class="author">
                <a class="avatar" target="_blank" href="/u/8d260e1f155d">
                  <img src="//upload.jianshu.io/users/upload_avatars/1867420/2a60ea131dd1.jpeg?imageMogr2/auto-orient/strip|imageView2/1/w/96/h/96" alt="96">
                </a>      <div class="name">
                <a class="blue-link" target="_blank" href="/u/8d260e1f155d">浪浪于江湖</a>
                <span class="time" data-shared-at="2017-06-01T22:15:58+08:00">06.01 22:15</span>
              </div>
              </div>
              <a class="title" target="_blank" href="/p/9dcaa4ce39f6">如果能回到毕业那年，我一定会选择进大公司！</a>
              <p class="abstract">
                01 我是一个工科女，专业水平一般般，毕业后到深圳工作，现在已是第四个年头。刚毕业的时候，我从来没有想过要进大公司，我觉得大公司要求一定比较严格，上班肯定没有自由。我投的简历...
              </p>
              <div class="meta">
                <a target="_blank" href="/p/9dcaa4ce39f6">
                  <i class="iconfont ic-list-read"></i> 20654
                </a>        <a target="_blank" href="/p/9dcaa4ce39f6#comments">
                <i class="iconfont ic-list-comments"></i> 309
              </a>      <span><i class="iconfont ic-list-like"></i> 690</span>
                <span><i class="iconfont ic-list-money"></i> 10</span>
              </div>
            </div>
          </li>
          <li id="note-12618190" data-note-id="12618190" class="have-img">
            <a class="wrap-img" href="/p/e9b0382c52ba" target="_blank">
              <img class="img-blur-done" src="//upload-images.jianshu.io/upload_images/1442902-1f865f07288edbea?imageMogr2/auto-orient/strip|imageView2/1/w/375/h/300" alt="120">
            </a>
            <div class="content">
              <div class="author">
                <a class="avatar" target="_blank" href="/u/deeea9e09cbc">
                  <img src="//upload.jianshu.io/users/upload_avatars/1442902/b54c023e8862.jpg?imageMogr2/auto-orient/strip|imageView2/1/w/96/h/96" alt="96">
                </a>      <div class="name">
                <a class="blue-link" target="_blank" href="/u/deeea9e09cbc">衷曲无闻</a>
                <span class="time" data-shared-at="2017-05-28T22:32:31+08:00">05.28 22:32</span>
              </div>
              </div>
              <a class="title" target="_blank" href="/p/e9b0382c52ba">樊胜美：那些穷养的孩子，后来怎样了？</a>
              <p class="abstract">
                文 | 衷曲无闻    01 《欢乐颂2》自开播以来，虽然比起第一部质量有所下滑，但还是引起了广泛的讨论。 有人看到友谊，有人看到爱情，有人看到成长，有人看到阶层固化，更有人...
              </p>
              <div class="meta">
                <a target="_blank" href="/p/e9b0382c52ba">
                  <i class="iconfont ic-list-read"></i> 16044
                </a>        <a target="_blank" href="/p/e9b0382c52ba#comments">
                <i class="iconfont ic-list-comments"></i> 315
              </a>      <span><i class="iconfont ic-list-like"></i> 735</span>
                <span><i class="iconfont ic-list-money"></i> 4</span>
              </div>
            </div>
          </li>
          <li id="note-12856582" data-note-id="12856582" class="have-img">
            <a class="wrap-img" href="/p/cc5ef5ebcfc9" target="_blank">
              <img class="img-blur-done" src="//upload-images.jianshu.io/upload_images/5889454-20db60ea59838293.jpg?imageMogr2/auto-orient/strip|imageView2/1/w/375/h/300" alt="120">
            </a>
            <div class="content">
              <div class="author">
                <a class="avatar" target="_blank" href="/u/880b482939ec">
                  <img src="//upload.jianshu.io/users/upload_avatars/5889454/216fe347-e666-438e-9fd3-82e02fcd2a0c?imageMogr2/auto-orient/strip|imageView2/1/w/96/h/96" alt="96">
                </a>      <div class="name">
                <a class="blue-link" target="_blank" href="/u/880b482939ec">新世相</a>
                <span class="time" data-shared-at="2017-05-30T00:05:49+08:00">05.30 00:05</span>
              </div>
              </div>
              <a class="title" target="_blank" href="/p/cc5ef5ebcfc9">熬夜不睡的都是在偷人，以偷自己为主</a>
              <p class="abstract">
                猝死总在发生，我这样的高危人群（前媒体人、现创业者）照例会受到关照。一位同行猝死，“经常熬夜”被当成重点放进标题里。朋友圈照例掀起了一次集体自勉：在转发语中加了很多感叹号来呼...
              </p>
              <div class="meta">
                <a target="_blank" href="/p/cc5ef5ebcfc9">
                  <i class="iconfont ic-list-read"></i> 15259
                </a>        <a target="_blank" href="/p/cc5ef5ebcfc9#comments">
                <i class="iconfont ic-list-comments"></i> 142
              </a>      <span><i class="iconfont ic-list-like"></i> 782</span>
                <span><i class="iconfont ic-list-money"></i> 7</span>
              </div>
            </div>
          </li>
          <li id="note-12770153" data-note-id="12770153" class="have-img">
            <a class="wrap-img" href="/p/a5ed713094c4" target="_blank">
              <img data-echo="//upload-images.jianshu.io/upload_images/2542851-6bb94c32aec08b9c.jpg?imageMogr2/auto-orient/strip|imageView2/1/w/375/h/300" class="img-blur" src="//upload-images.jianshu.io/upload_images/2542851-6bb94c32aec08b9c.jpg?imageMogr2/auto-orient/strip|imageView2/1/w/150/h/120" alt="120">
            </a>
            <div class="content">
              <div class="author">
                <a class="avatar" target="_blank" href="/u/62478ec15b74">
                  <img src="//upload.jianshu.io/users/upload_avatars/2542851/0dca220dd6bb.jpeg?imageMogr2/auto-orient/strip|imageView2/1/w/96/h/96" alt="96">
                </a>      <div class="name">
                <a class="blue-link" target="_blank" href="/u/62478ec15b74">怀左同学</a>
                <span class="time" data-shared-at="2017-05-25T09:08:09+08:00">05.25 09:08</span>
              </div>
              </div>
              <a class="title" target="_blank" href="/p/a5ed713094c4">我超级自律，就是为了和别人不一样</a>
              <p class="abstract">
                01 浏览公众号时，我被咪蒙前天的推文《你有没有想过，你会平庸到死》触动了，不是因为奖金，而是我确实想过，可能有一天，我会平庸到死。 平庸，到死。 我学的文学，在读研之前，体...
              </p>
              <div class="meta">
                <a target="_blank" href="/p/a5ed713094c4">
                  <i class="iconfont ic-list-read"></i> 40701
                </a>        <a target="_blank" href="/p/a5ed713094c4#comments">
                <i class="iconfont ic-list-comments"></i> 477
              </a>      <span><i class="iconfont ic-list-like"></i> 2353</span>
                <span><i class="iconfont ic-list-money"></i> 20</span>
              </div>
            </div>
          </li>
          <li id="note-13072042" data-note-id="13072042" class="have-img">
            <a class="wrap-img" href="/p/dca97cae64c7" target="_blank">
              <img data-echo="//upload-images.jianshu.io/upload_images/4030811-28c8eefe3609af9f.jpg?imageMogr2/auto-orient/strip|imageView2/1/w/375/h/300" class="img-blur" src="//upload-images.jianshu.io/upload_images/4030811-28c8eefe3609af9f.jpg?imageMogr2/auto-orient/strip|imageView2/1/w/150/h/120" alt="120">
            </a>
            <div class="content">
              <div class="author">
                <a class="avatar" target="_blank" href="/u/fa8f376d465a">
                  <img src="//upload.jianshu.io/users/upload_avatars/4030811/fc576f8db107?imageMogr2/auto-orient/strip|imageView2/1/w/96/h/96" alt="96">
                </a>      <div class="name">
                <a class="blue-link" target="_blank" href="/u/fa8f376d465a">1212秋刀鱼</a>
                <span class="time" data-shared-at="2017-06-03T10:57:31+08:00">前天 10:57</span>
              </div>
              </div>
              <a class="title" target="_blank" href="/p/dca97cae64c7">你不够优秀，只因你缺乏长期思维</a>
              <p class="abstract">
                文/1212秋刀鱼&#65279; 我知道，当步入80岁高龄时，我不会考虑为何在1994年的人生低谷时放弃了华尔街的优厚待遇。与此同时，我会为没有亲历互联网浪潮而感到后悔，因为那是一件具有...
              </p>
              <div class="meta">
                <a target="_blank" href="/p/dca97cae64c7">
                  <i class="iconfont ic-list-read"></i> 11364
                </a>        <a target="_blank" href="/p/dca97cae64c7#comments">
                <i class="iconfont ic-list-comments"></i> 150
              </a>      <span><i class="iconfont ic-list-like"></i> 833</span>
                <span><i class="iconfont ic-list-money"></i> 13</span>
              </div>
            </div>
          </li>
          <li id="note-13100298" data-note-id="13100298" class="have-img">
            <a class="wrap-img" href="/p/5ee52a2861ff" target="_blank">
              <img data-echo="//upload-images.jianshu.io/upload_images/1867420-ccc3dbb36cba1c4a.jpg?imageMogr2/auto-orient/strip|imageView2/1/w/375/h/300" class="img-blur" src="//upload-images.jianshu.io/upload_images/1867420-ccc3dbb36cba1c4a.jpg?imageMogr2/auto-orient/strip|imageView2/1/w/150/h/120" alt="120">
            </a>
            <div class="content">
              <div class="author">
                <a class="avatar" target="_blank" href="/u/8d260e1f155d">
                  <img src="//upload.jianshu.io/users/upload_avatars/1867420/2a60ea131dd1.jpeg?imageMogr2/auto-orient/strip|imageView2/1/w/96/h/96" alt="96">
                </a>      <div class="name">
                <a class="blue-link" target="_blank" href="/u/8d260e1f155d">浪浪于江湖</a>
                <span class="time" data-shared-at="2017-06-04T09:38:05+08:00">昨天 09:38</span>
              </div>
              </div>
              <a class="title" target="_blank" href="/p/5ee52a2861ff">大学里所偷的懒，出到社会后会加倍向你讨回来！</a>
              <p class="abstract">
                01 2014年我大学毕业了，所学的专业是通信工程，那年我在深圳找了整整一个月的工作，才勉强找到一份稍微过得去的工作，而且与专业一点都不挂勾。我一点也不讨厌我所学的专业，反而...
              </p>
              <div class="meta">
                <a target="_blank" href="/p/5ee52a2861ff">
                  <i class="iconfont ic-list-read"></i> 16906
                </a>        <a target="_blank" href="/p/5ee52a2861ff#comments">
                <i class="iconfont ic-list-comments"></i> 240
              </a>      <span><i class="iconfont ic-list-like"></i> 809</span>
                <span><i class="iconfont ic-list-money"></i> 7</span>
              </div>
            </div>
          </li>
          <li id="note-12602649" data-note-id="12602649" class="have-img">
            <a class="wrap-img" href="/p/8faf7e632f1c" target="_blank">
              <img data-echo="//upload-images.jianshu.io/upload_images/5350321-ae065c1e5f8ce2d1.jpg?imageMogr2/auto-orient/strip|imageView2/1/w/375/h/300" class="img-blur" src="//upload-images.jianshu.io/upload_images/5350321-ae065c1e5f8ce2d1.jpg?imageMogr2/auto-orient/strip|imageView2/1/w/150/h/120" alt="120">
            </a>
            <div class="content">
              <div class="author">
                <a class="avatar" target="_blank" href="/u/e3281b3e3a62">
                  <img src="//upload.jianshu.io/users/upload_avatars/5350321/21e39045-dccd-4aa3-b099-2a830a967f4f.jpg?imageMogr2/auto-orient/strip|imageView2/1/w/96/h/96" alt="96">
                </a>      <div class="name">
                <a class="blue-link" target="_blank" href="/u/e3281b3e3a62">去年的茶</a>
                <span class="time" data-shared-at="2017-05-20T11:31:28+08:00">05.20 11:31</span>
              </div>
              </div>
              <a class="title" target="_blank" href="/p/8faf7e632f1c">妓女的自述</a>
              <p class="abstract">
                &#65279;如果你来嫖我，千万别劝我从良。&#65279; 我听过太多男人边穿裤子边问我“为什么不干点别的？”&#65279; 那一刻我真想抽他。这句话让他立马处在了道德制高点，就好像嫖娼要比卖淫高尚。&#65279; 提着裤...
              </p>
              <div class="meta">
                <a target="_blank" href="/p/8faf7e632f1c">
                  <i class="iconfont ic-list-read"></i> 76038
                </a>        <a target="_blank" href="/p/8faf7e632f1c#comments">
                <i class="iconfont ic-list-comments"></i> 1098
              </a>      <span><i class="iconfont ic-list-like"></i> 3504</span>
                <span><i class="iconfont ic-list-money"></i> 55</span>
              </div>
            </div>
          </li>
          <li id="note-13084357" data-note-id="13084357" class="have-img">
            <a class="wrap-img" href="/p/0449b91986ee" target="_blank">
              <img data-echo="//upload-images.jianshu.io/upload_images/2929044-cd6d016bf97a9d30.jpg?imageMogr2/auto-orient/strip|imageView2/1/w/375/h/300" class="img-blur" src="//upload-images.jianshu.io/upload_images/2929044-cd6d016bf97a9d30.jpg?imageMogr2/auto-orient/strip|imageView2/1/w/150/h/120" alt="120">
            </a>
            <div class="content">
              <div class="author">
                <a class="avatar" target="_blank" href="/u/2409fd4dfc9a">
                  <img src="//upload.jianshu.io/users/upload_avatars/2929044/aa13193f2600.jpg?imageMogr2/auto-orient/strip|imageView2/1/w/96/h/96" alt="96">
                </a>      <div class="name">
                <a class="blue-link" target="_blank" href="/u/2409fd4dfc9a">罗衣一时聚散</a>
                <span class="time" data-shared-at="2017-06-03T19:03:46+08:00">前天 19:03</span>
              </div>
              </div>
              <a class="title" target="_blank" href="/p/0449b91986ee">女人多读书真的会“气质好”吗？不见得！</a>
              <p class="abstract">
                我表弟从事音乐培训，主要是教小孩子们弹钢琴，每每遇到新生入学，大都会碰到这样的家长，上来拉着手谆谆叮嘱道：老师啊，我希望我的孩子不仅在这一年里要学会弹琴，最重要的是，老师你也...
              </p>
              <div class="meta">
                <a target="_blank" href="/p/0449b91986ee">
                  <i class="iconfont ic-list-read"></i> 13420
                </a>        <a target="_blank" href="/p/0449b91986ee#comments">
                <i class="iconfont ic-list-comments"></i> 367
              </a>      <span><i class="iconfont ic-list-like"></i> 464</span>
                <span><i class="iconfont ic-list-money"></i> 9</span>
              </div>
            </div>
          </li>
          <li id="note-13002281" data-note-id="13002281" class="have-img">
            <a class="wrap-img" href="/p/69d4dc766fea" target="_blank">
              <img data-echo="//upload-images.jianshu.io/upload_images/569985-bc7c97aa1e7eaa83.jpg?imageMogr2/auto-orient/strip|imageView2/1/w/375/h/300" class="img-blur" src="//upload-images.jianshu.io/upload_images/569985-bc7c97aa1e7eaa83.jpg?imageMogr2/auto-orient/strip|imageView2/1/w/150/h/120" alt="120">
            </a>
            <div class="content">
              <div class="author">
                <a class="avatar" target="_blank" href="/u/d90828191ace">
                  <img src="//upload.jianshu.io/users/upload_avatars/569985/0b0cd539-7b8c-457c-acc7-7ed941bb0a69.jpg?imageMogr2/auto-orient/strip|imageView2/1/w/96/h/96" alt="96">
                </a>      <div class="name">
                <a class="blue-link" target="_blank" href="/u/d90828191ace">安梳颜</a>
                <span class="time" data-shared-at="2017-06-01T15:05:15+08:00">06.01 15:05</span>
              </div>
              </div>
              <a class="title" target="_blank" href="/p/69d4dc766fea">我不想爱你了，我只想好好爱自己</a>
              <p class="abstract">
                01. 大家都说，我像一匹野马。嗯，我确实是一匹野马，但我只想做你怀里的猫。 爱一个人到底是什么样呢？ 手心里握着五颗糖，心里却想给他十颗。 好多人说，要像成年人一样去恋爱，...
              </p>
              <div class="meta">
                <a target="_blank" href="/p/69d4dc766fea">
                  <i class="iconfont ic-list-read"></i> 11460
                </a>        <a target="_blank" href="/p/69d4dc766fea#comments">
                <i class="iconfont ic-list-comments"></i> 145
              </a>      <span><i class="iconfont ic-list-like"></i> 480</span>
                <span><i class="iconfont ic-list-money"></i> 7</span>
              </div>
            </div>
          </li>
          <li id="note-13099435" data-note-id="13099435" class="have-img">
            <a class="wrap-img" href="/p/4b95fe6d407f" target="_blank">
              <img data-echo="//upload-images.jianshu.io/upload_images/2542851-216e5f730483ceea.jpeg?imageMogr2/auto-orient/strip|imageView2/1/w/375/h/300" class="img-blur" src="//upload-images.jianshu.io/upload_images/2542851-216e5f730483ceea.jpeg?imageMogr2/auto-orient/strip|imageView2/1/w/150/h/120" alt="120">
            </a>
            <div class="content">
              <div class="author">
                <a class="avatar" target="_blank" href="/u/62478ec15b74">
                  <img src="//upload.jianshu.io/users/upload_avatars/2542851/0dca220dd6bb.jpeg?imageMogr2/auto-orient/strip|imageView2/1/w/96/h/96" alt="96">
                </a>      <div class="name">
                <a class="blue-link" target="_blank" href="/u/62478ec15b74">怀左同学</a>
                <span class="time" data-shared-at="2017-06-04T08:57:47+08:00">昨天 08:57</span>
              </div>
              </div>
              <a class="title" target="_blank" href="/p/4b95fe6d407f">慢慢毁掉你的，是你的将就与凑合</a>
              <p class="abstract">
                01 前天开读书会，导师给我们讲了很多关于论文写作的要点。师姐要交开题报告了，问导师：“老师，我感觉现在的题目取的范围大了，要不要改改？” 导师说：“你就从这个题目着手去搜集...
              </p>
              <div class="meta">
                <a target="_blank" href="/p/4b95fe6d407f">
                  <i class="iconfont ic-list-read"></i> 15835
                </a>        <a target="_blank" href="/p/4b95fe6d407f#comments">
                <i class="iconfont ic-list-comments"></i> 127
              </a>      <span><i class="iconfont ic-list-like"></i> 710</span>
                <span><i class="iconfont ic-list-money"></i> 4</span>
              </div>
            </div>
          </li>
          <li id="note-12768346" data-note-id="12768346" class="have-img">
            <a class="wrap-img" href="/p/828833b74118" target="_blank">
              <img data-echo="//upload-images.jianshu.io/upload_images/2336875-83368a162587de3b.jpg?imageMogr2/auto-orient/strip|imageView2/1/w/375/h/300" class="img-blur" src="//upload-images.jianshu.io/upload_images/2336875-83368a162587de3b.jpg?imageMogr2/auto-orient/strip|imageView2/1/w/150/h/120" alt="120">
            </a>
            <div class="content">
              <div class="author">
                <a class="avatar" target="_blank" href="/u/5a3f5e32115c">
                  <img src="//upload.jianshu.io/users/upload_avatars/2336875/5fb352c3-022a-43d4-85e7-0682ed1f767c.jpg?imageMogr2/auto-orient/strip|imageView2/1/w/96/h/96" alt="96">
                </a>      <div class="name">
                <a class="blue-link" target="_blank" href="/u/5a3f5e32115c">邢先生决不orz</a>
                <span class="time" data-shared-at="2017-05-27T07:56:50+08:00">05.27 07:56</span>
              </div>
              </div>
              <a class="title" target="_blank" href="/p/828833b74118">我亲手招来的年轻人裸辞了，说要追求梦想</a>
              <p class="abstract">
                人们常常讲，背负行囊、追逐梦想。 追梦是要背包的，不带干粮就上路，容易饿死在路上。 01 昨天，我亲自招回来的年轻同事交了辞职信。 男生，23岁，相貌堂堂，985名校毕业，专...
              </p>
              <div class="meta">
                <a target="_blank" href="/p/828833b74118">
                  <i class="iconfont ic-list-read"></i> 22315
                </a>        <a target="_blank" href="/p/828833b74118#comments">
                <i class="iconfont ic-list-comments"></i> 478
              </a>      <span><i class="iconfont ic-list-like"></i> 1129</span>
                <span><i class="iconfont ic-list-money"></i> 8</span>
              </div>
            </div>
          </li>
          <li id="note-13034909" data-note-id="13034909" class="have-img">
            <a class="wrap-img" href="/p/c0caf0dc7761" target="_blank">
              <img data-echo="//upload-images.jianshu.io/upload_images/2024657-63ae02a4d456454b.jpeg?imageMogr2/auto-orient/strip|imageView2/1/w/375/h/300" class="img-blur" src="//upload-images.jianshu.io/upload_images/2024657-63ae02a4d456454b.jpeg?imageMogr2/auto-orient/strip|imageView2/1/w/150/h/120" alt="120">
            </a>
            <div class="content">
              <div class="author">
                <a class="avatar" target="_blank" href="/u/e7c82f1158df">
                  <img src="//upload.jianshu.io/users/upload_avatars/2024657/bf3bdaf7-0334-44f5-a266-69671fd8b54c.jpg?imageMogr2/auto-orient/strip|imageView2/1/w/96/h/96" alt="96">
                </a>      <div class="name">
                <a class="blue-link" target="_blank" href="/u/e7c82f1158df">芥末烤雨</a>
                <span class="time" data-shared-at="2017-06-02T10:30:35+08:00">06.02 10:30</span>
              </div>
              </div>
              <a class="title" target="_blank" href="/p/c0caf0dc7761">没有伞的孩子，必须努力抢一把！</a>
              <p class="abstract">
                “你见过凌晨四点的洛杉矶吗？”&#65279; 我再一次问宋小姐这句话的时候，她哈哈哈地笑翻在地上。&#65279; “见过啊。”&#65279; “啥样啊？”&#65279; “那可以说是锣鼓喧天，人山人海了。”&#65279; “恩……啥？...
              </p>
              <div class="meta">
                <a target="_blank" href="/p/c0caf0dc7761">
                  <i class="iconfont ic-list-read"></i> 14475
                </a>        <a target="_blank" href="/p/c0caf0dc7761#comments">
                <i class="iconfont ic-list-comments"></i> 208
              </a>      <span><i class="iconfont ic-list-like"></i> 416</span>
                <span><i class="iconfont ic-list-money"></i> 2</span>
              </div>
            </div>
          </li>
          <li id="note-12986802" data-note-id="12986802" class="have-img">
            <a class="wrap-img" href="/p/d315a19a991a" target="_blank">
              <img data-echo="//upload-images.jianshu.io/upload_images/195046-224649ec46bb0b0d.jpg?imageMogr2/auto-orient/strip|imageView2/1/w/375/h/300" class="img-blur" src="//upload-images.jianshu.io/upload_images/195046-224649ec46bb0b0d.jpg?imageMogr2/auto-orient/strip|imageView2/1/w/150/h/120" alt="120">
            </a>
            <div class="content">
              <div class="author">
                <a class="avatar" target="_blank" href="/u/1441f4ae075d">
                  <img src="//upload.jianshu.io/users/upload_avatars/195046/65f2b15c-fdae-44f4-8ae8-726b55bbc06e.jpg?imageMogr2/auto-orient/strip|imageView2/1/w/96/h/96" alt="96">
                </a>      <div class="name">
                <a class="blue-link" target="_blank" href="/u/1441f4ae075d">彭小六</a>
                <span class="time" data-shared-at="2017-05-31T22:16:41+08:00">05.31 22:16</span>
              </div>
              </div>
              <a class="title" target="_blank" href="/p/d315a19a991a">书单| 五月我读过的好书</a>
              <p class="abstract">
                1. 《拆掉思维的墙》 对于生长，生活，工作，我们或多或少有着这样那样的困惑。这些困惑，与其说是方法上的不得要领，不如说是我们思维上的闭塞。拆掉思维的墙，就是拆掉我们旧的认知...
              </p>
              <div class="meta">
                <a target="_blank" href="/p/d315a19a991a">
                  <i class="iconfont ic-list-read"></i> 12301
                </a>        <a target="_blank" href="/p/d315a19a991a#comments">
                <i class="iconfont ic-list-comments"></i> 51
              </a>      <span><i class="iconfont ic-list-like"></i> 508</span>
              </div>
            </div>
          </li>
          <li id="note-12874852" data-note-id="12874852" class="have-img">
            <a class="wrap-img" href="/p/f0e40e82abae" target="_blank">
              <img data-echo="//upload-images.jianshu.io/upload_images/5297418-e7182ecb47f25ebf.jpg?imageMogr2/auto-orient/strip|imageView2/1/w/375/h/300" class="img-blur" src="//upload-images.jianshu.io/upload_images/5297418-e7182ecb47f25ebf.jpg?imageMogr2/auto-orient/strip|imageView2/1/w/150/h/120" alt="120">
            </a>
            <div class="content">
              <div class="author">
                <a class="avatar" target="_blank" href="/u/512bf9f05da4">
                  <img src="//upload.jianshu.io/users/upload_avatars/5297418/7553e2ba59ed.jpg?imageMogr2/auto-orient/strip|imageView2/1/w/96/h/96" alt="96">
                </a>      <div class="name">
                <a class="blue-link" target="_blank" href="/u/512bf9f05da4">阿阳sunny</a>
                <span class="time" data-shared-at="2017-05-28T01:47:40+08:00">05.28 01:47</span>
              </div>
              </div>
              <a class="title" target="_blank" href="/p/f0e40e82abae">《欢乐颂》里论会花钱我只服关雎尔</a>
              <p class="abstract">
                转载请附原文链接并署名作者:阿阳 sunny 《欢乐颂》五美人设各有不同，消费观也各有千秋。&#65279; 安迪公司高管独立多金，开豪车穿名牌，奢侈品作为生活的常态，不为炫耀只是习以为常...
              </p>
              <div class="meta">
                <a target="_blank" href="/p/f0e40e82abae">
                  <i class="iconfont ic-list-read"></i> 15682
                </a>        <a target="_blank" href="/p/f0e40e82abae#comments">
                <i class="iconfont ic-list-comments"></i> 87
              </a>      <span><i class="iconfont ic-list-like"></i> 599</span>
                <span><i class="iconfont ic-list-money"></i> 1</span>
              </div>
            </div>
          </li>
          <li id="note-4037395" data-note-id="4037395" class="have-img">
            <a class="wrap-img" href="/p/493f5f4cf1af" target="_blank">
              <img data-echo="//upload-images.jianshu.io/upload_images/1294118-85301cc38418ef45.jpg?imageMogr2/auto-orient/strip|imageView2/1/w/375/h/300" class="img-blur" src="//upload-images.jianshu.io/upload_images/1294118-85301cc38418ef45.jpg?imageMogr2/auto-orient/strip|imageView2/1/w/150/h/120" alt="120">
            </a>
            <div class="content">
              <div class="author">
                <a class="avatar" target="_blank" href="/u/3a7b6c17732e">
                  <img src="//upload.jianshu.io/users/upload_avatars/1294118/f10fa95ee4e0?imageMogr2/auto-orient/strip|imageView2/1/w/96/h/96" alt="96">
                </a>      <div class="name">
                <a class="blue-link" target="_blank" href="/u/3a7b6c17732e">瓯南</a>
                <span class="time" data-shared-at="2016-05-19T23:03:25+08:00">2016.05.19 23:03</span>
              </div>
              </div>
              <a class="title" target="_blank" href="/p/493f5f4cf1af">大学两年读了200多本书，向你推荐这7本</a>
              <p class="abstract">
                文/瓯南自2014年入大学以来，已将近两年了。两年的时间过得飞快，生活虽然平淡无奇，但最让我感到骄傲的，是这两年的时间，我读了200多本书。大部分书都是我买的。在图书馆也借阅...
              </p>
              <div class="meta">
                <a target="_blank" href="/p/493f5f4cf1af">
                  <i class="iconfont ic-list-read"></i> 241957
                </a>        <a target="_blank" href="/p/493f5f4cf1af#comments">
                <i class="iconfont ic-list-comments"></i> 1707
              </a>      <span><i class="iconfont ic-list-like"></i> 19558</span>
                <span><i class="iconfont ic-list-money"></i> 54</span>
              </div>
            </div>
          </li>
          <li id="note-11442036" data-note-id="11442036" class="have-img">
            <a class="wrap-img" href="/p/6fb79f708ea4" target="_blank">
              <img data-echo="//upload-images.jianshu.io/upload_images/2806955-4f69aba6eb467897.jpg?imageMogr2/auto-orient/strip|imageView2/1/w/375/h/300" class="img-blur" src="//upload-images.jianshu.io/upload_images/2806955-4f69aba6eb467897.jpg?imageMogr2/auto-orient/strip|imageView2/1/w/150/h/120" alt="120">
            </a>
            <div class="content">
              <div class="author">
                <a class="avatar" target="_blank" href="/u/74ceb83a0857">
                  <img src="//upload.jianshu.io/users/upload_avatars/2806955/729ebeec-9972-4a8e-84bb-2a246ca8a667.jpg?imageMogr2/auto-orient/strip|imageView2/1/w/96/h/96" alt="96">
                </a>      <div class="name">
                <a class="blue-link" target="_blank" href="/u/74ceb83a0857">委婉的鱼</a>
                <span class="time" data-shared-at="2017-05-14T04:36:57+08:00">05.14 04:36</span>
              </div>
              </div>
              <a class="title" target="_blank" href="/p/6fb79f708ea4">零基础学习Photoshop你所需要知道的</a>
              <p class="abstract">
                第一个问题：多长时间可以学会Photoshop？ “三分钟成为P图高手”、“十分钟掌握九种抠图大法”、“分分钟get双重曝光效果”，到处总能看到这样一些信息，时下流行速成，我...
              </p>
              <div class="meta">
                <a target="_blank" href="/p/6fb79f708ea4">
                  <i class="iconfont ic-list-read"></i> 34756
                </a>        <a target="_blank" href="/p/6fb79f708ea4#comments">
                <i class="iconfont ic-list-comments"></i> 1765
              </a>      <span><i class="iconfont ic-list-like"></i> 1815</span>
                <span><i class="iconfont ic-list-money"></i> 17</span>
              </div>
            </div>
          </li>
          <li id="note-12935115" data-note-id="12935115" class="have-img">
            <a class="wrap-img" href="/p/3d8778ab26d6" target="_blank">
              <img data-echo="//upload-images.jianshu.io/upload_images/5350321-8573689fa60be1de.jpg?imageMogr2/auto-orient/strip|imageView2/1/w/375/h/300" class="img-blur" src="//upload-images.jianshu.io/upload_images/5350321-8573689fa60be1de.jpg?imageMogr2/auto-orient/strip|imageView2/1/w/150/h/120" alt="120">
            </a>
            <div class="content">
              <div class="author">
                <a class="avatar" target="_blank" href="/u/e3281b3e3a62">
                  <img src="//upload.jianshu.io/users/upload_avatars/5350321/21e39045-dccd-4aa3-b099-2a830a967f4f.jpg?imageMogr2/auto-orient/strip|imageView2/1/w/96/h/96" alt="96">
                </a>      <div class="name">
                <a class="blue-link" target="_blank" href="/u/e3281b3e3a62">去年的茶</a>
                <span class="time" data-shared-at="2017-05-30T08:44:16+08:00">05.30 08:44</span>
              </div>
              </div>
              <a class="title" target="_blank" href="/p/3d8778ab26d6">小兵的信</a>
              <p class="abstract">
                我9岁那年，我家门口来了一个鲜衣怒马的老兵。&#65279; 老兵看着我说，嘿，肉体，我要给你一个灵魂。&#65279; 他拿出一柄黑色的刀扔给我，说让我像狼一样奔赴战场，我说怎么才能变成狼呢，他说只要...
              </p>
              <div class="meta">
                <a target="_blank" href="/p/3d8778ab26d6">
                  <i class="iconfont ic-list-read"></i> 5125
                </a>        <a target="_blank" href="/p/3d8778ab26d6#comments">
                <i class="iconfont ic-list-comments"></i> 88
              </a>      <span><i class="iconfont ic-list-like"></i> 381</span>
                <span><i class="iconfont ic-list-money"></i> 7</span>
              </div>
            </div>
          </li>
          <li id="note-13029900" data-note-id="13029900" class="have-img">
            <a class="wrap-img" href="/p/3f153e9346d5" target="_blank">
              <img data-echo="//upload-images.jianshu.io/upload_images/1789857-10bb3536edf0f050.png?imageMogr2/auto-orient/strip|imageView2/1/w/375/h/300" class="img-blur" src="//upload-images.jianshu.io/upload_images/1789857-10bb3536edf0f050.png?imageMogr2/auto-orient/strip|imageView2/1/w/150/h/120" alt="120">
            </a>
            <div class="content">
              <div class="author">
                <a class="avatar" target="_blank" href="/u/7da8dde46818">
                  <img src="//upload.jianshu.io/users/upload_avatars/1789857/406ce9fc-7b50-4ef3-ac2b-56aac0adea9d.jpg?imageMogr2/auto-orient/strip|imageView2/1/w/96/h/96" alt="96">
                </a>      <div class="name">
                <a class="blue-link" target="_blank" href="/u/7da8dde46818">柯锦川子</a>
                <span class="time" data-shared-at="2017-06-01T23:34:58+08:00">06.01 23:34</span>
              </div>
              </div>
              <a class="title" target="_blank" href="/p/3f153e9346d5"> 一个懒散拖延的女人是不可能拥有真正精致的生活的！</a>
              <p class="abstract">
                一般情况下，对于一个对自己有要求的人，很少有人真的会懒得理直气壮，懒得从容坦然的。大多数时候，懒让自己无法直视自己，除了自然发生的自责感就没有其他了。 从各种拖延行为的深切感...
              </p>
              <div class="meta">
                <a target="_blank" href="/p/3f153e9346d5">
                  <i class="iconfont ic-list-read"></i> 8891
                </a>        <a target="_blank" href="/p/3f153e9346d5#comments">
                <i class="iconfont ic-list-comments"></i> 98
              </a>      <span><i class="iconfont ic-list-like"></i> 453</span>
                <span><i class="iconfont ic-list-money"></i> 2</span>
              </div>
            </div>
          </li>

        </ul>
      </div>
    </div>
    <div class="col-xs-7 col-xs-offset-1 aside">
      <div class="recommend"><div class="title"><span>推荐作者</span> <div class="reload"><div class="page-count">1/40</div> <div class="page-change"><a><i class="iconfont ic-previous-s"></i></a> <a><i class="iconfont ic-next-s"></i></a></div></div></div> <ul class="list"><li><a href="/u/5SqsuF?utm_source=desktop&amp;utm_medium=index-users" target="_blank" class="avatar"><img src="//upload.jianshu.io/users/upload_avatars/6287/06c537002583.png?imageMogr2/auto-orient/strip|imageView2/1/w/144/h/144"></a> <a class="follow"><i class="iconfont ic-follow"></i>关注
      </a> <a href="/u/5SqsuF?utm_source=desktop&amp;utm_medium=index-users" target="_blank" class="name">
        刘淼
      </a> <p>
        写了333.7K字 · 17.4K喜欢
      </p></li><li><a href="/u/1441f4ae075d?utm_source=desktop&amp;utm_medium=index-users" target="_blank" class="avatar"><img src="//upload.jianshu.io/users/upload_avatars/195046/65f2b15c-fdae-44f4-8ae8-726b55bbc06e.jpg?imageMogr2/auto-orient/strip|imageView2/1/w/144/h/144"></a> <a class="follow"><i class="iconfont ic-follow"></i>关注
      </a> <a href="/u/1441f4ae075d?utm_source=desktop&amp;utm_medium=index-users" target="_blank" class="name">
        彭小六
      </a> <p>
        写了577.5K字 · 199.5K喜欢
      </p></li><li><a href="/u/49c73adacb4b?utm_source=desktop&amp;utm_medium=index-users" target="_blank" class="avatar"><img src="//upload.jianshu.io/users/upload_avatars/1718706/2a20cd39edb4?imageMogr2/auto-orient/strip|imageView2/1/w/144/h/144"></a> <a class="follow"><i class="iconfont ic-follow"></i>关注
      </a> <a href="/u/49c73adacb4b?utm_source=desktop&amp;utm_medium=index-users" target="_blank" class="name">
        挽梨
      </a> <p>
        写了267.7K字 · 9.9K喜欢
      </p></li><li><a href="/u/1d59a1dd4bd4?utm_source=desktop&amp;utm_medium=index-users" target="_blank" class="avatar"><img src="//upload.jianshu.io/users/upload_avatars/2184130/cf6c9f3d30eb?imageMogr2/auto-orient/strip|imageView2/1/w/144/h/144"></a> <a class="follow"><i class="iconfont ic-follow"></i>关注
      </a> <a href="/u/1d59a1dd4bd4?utm_source=desktop&amp;utm_medium=index-users" target="_blank" class="name">
        朱子先生
      </a> <p>
        写了248.3K字 · 7.4K喜欢
      </p></li><li><a href="/u/680ea2b754fc?utm_source=desktop&amp;utm_medium=index-users" target="_blank" class="avatar"><img src="//upload.jianshu.io/users/upload_avatars/23852/cc0c1e84a511.jpeg?imageMogr2/auto-orient/strip|imageView2/1/w/144/h/144"></a> <a class="follow"><i class="iconfont ic-follow"></i>关注
      </a> <a href="/u/680ea2b754fc?utm_source=desktop&amp;utm_medium=index-users" target="_blank" class="name">
        魔鬼的赞歌
      </a> <p>
        写了290.3K字 · 4.0K喜欢
      </p></li></ul> <a href="/recommendations/users?utm_source=desktop&amp;utm_medium=index-users" target="_blank" class="find-more">
        查看全部<i class="iconfont ic-link"></i></a></div>
    </div>
  </div>
</div>
