<header class="g-navbar navbar-default navbar-fixed-top">
    <app-navbar class="f-cb"></app-navbar>
</header>
<main class="g-container f-cb">
    <!--首页推荐热门专题banner-->
    <app-home-carousel></app-home-carousel>
    <article class="g-main f-fl">
        <!--首页推荐热门专题列表-->
        <app-recommend-collection></app-recommend-collection>
        <!--首页推荐文章列表-->
        <app-article-list request="/"></app-article-list>
    </article>
    <aside class="g-aside f-fr">
        <div class="board">
            <a routerLink="/recommendations/articles"><img src="../assets/images/home/banner-s-1.png" alt="Banner s 1"></a>
            <a [routerLink]="['/user', '593cef410f675f04dc608846']"><img src="../assets/images/home/banner-s-2.png" alt="Banner s 2"></a>
            <a routerLink="/trending/weekly"><img src="../assets/images/home/banner-s-3.png" alt="Banner s 3"></a>
            <a routerLink="/trending/monthly"><img src="../assets/images/home/banner-s-4.png" alt="Banner s 4"></a>
            <a routerLink="/publications"><img src="../assets/images/home/banner-s-5.png" alt="Banner s 5"></a>
        </div>

        <!-- 首页右侧 App 下载提示 -->
        <div class="download">
            <a routerLink="/apps"><img id="js-download-img" src="../assets/images/home/app_download.png" alt="App download"></a>
            <div class="link-btn" id="js-link-btn" style="display: block;">
                <a class="qrcode" data-toggle="popover" data-placement="top" data-html="true" data-trigger="hover" data-content="<img src=&quot;//cdn2.jianshu.io/assets/web/download-app-qrcode-0257cd2c1d094cba9caa7bdc9e5a1393.png&quot; alt=&quot;Download app qrcode&quot; />"
                    href="javascript:void(0)" data-original-title="" title="">
                    <span><i class="icon-qrcode"></i><span>扫码</span></span>
                </a>
                <a class="android" href="http://downloads.jianshu.io/apps/haruki/Jianshu-2.3.1-17051515-1495076675.apk">
                    <span><i class="icon-android"></i><span>安卓</span></span>
                </a>
                <a class="ios" href="https://itunes.apple.com/cn/app/jian-shu/id888237539">
                    <span><i class="icon-ios"></i><span>iOS</span></span>
                </a>
            </div>
        </div>
        <!-- 推荐作者 -->
        <app-recommend-users></app-recommend-users>
    </aside>
</main>
<footer class="g-container">
    <app-footer></app-footer>
</footer>
