@import "../../../root.css";
:host{
  @apply --app-boxs;
}
.g-main{
  width: 66.666667%;
}
.g-aside{
  width: 29.16667%;
}
.board{
  width: 100%;
  & img{
    width: 100%;
  }
}
.download{
  position: relative;
  margin: 0 0 30px;
  & img{
    width: 100%;
    height: auto;
    border-radius: 4px;
  }
  & .link-btn{
    position: absolute;
    right: 0;
    left: 0;
    bottom: 10px;
    padding: 5px 10px;
    & a{
      position: relative;
      min-height: 1px;
      float: left;
      font-size: 14px;
      color: #fff;
      text-align: center;
      width: 33.33333%;
      line-height: 30px;
      padding-left: 5px;
      padding-right: 5px;
      & > span{
        display: inline-block;
        padding: 3px;
        border-radius: 4px;
      }
      &.qrcode{
        background-color: #a5a5a5;
      }
      &.android{
        background-color: #8bc453;
      }
      &.ios{
        background-color: #6dacf4;
      }
    }
  }
}
.board{
  margin-top: -4px;
  padding-bottom: 4px;
  min-height: 228px;
  & img{
    width: 100%;
    min-height: 50px;
    margin-bottom: 6px;
    border-radius: 4px;
  }
}
