.g-container {
  padding: 30px 0 50px;
}
.row{
  margin: 0 -15px;
}
.col-xs-8{
  position: relative;
  float: left;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  width: 33.33333%;
}
.collection-wrap{
  position: relative;
  height: 280px;
  margin-top: 80px;
  padding: 0 20px;
  border: 1px solid #e6e6e6;
  border-radius: 4px;
  background-color: hsla(0,0%,71%,.1);
  transition: .2s ease;
  &:hover{
    box-shadow: 0 5px 20px rgba(0,0,0,.1);
  }
  & h4{
    font-size: 22px;
    font-weight: 400;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    & a{
      color: #2f2f2f;
      text-decoration: none;
      &:hover{
        color: #000;
      }
    }
  }
  & p{
    min-height: 55px;
    font-size: 14px;
    line-height: 25px;
    margin: 0 0 10px;
    color: #333;
  }
}
.avatar-collection{
  width: 80px;
  height: 80px;
  border-radius: 8px;
  margin: -40px 0 10px;
  display: inline-block;
  border: 1px solid #ddd;
  background-color: #fff;
  & img{
    vertical-align: initial;
  }
}
.count{
  font-family: Georgia,Times New Roman,Times,Songti SC,serif;
  & a{
    color: #2f2f2f;
    text-decoration: none;
    &:hover{
      color: #000;
    }
  }
}
article{
  text-align: center;
}
.follow{
  width: 100px;
  padding: 8px 0;
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
  border-radius: 40px;
}
.load-more-btn{
  width: 38.2%;
  padding: 10px 0;
  margin: 40px 0;
  font-size: 16px;
  border-radius: 20px;
  border: none;
}
.trigger-menu {
  margin-bottom: 20px;
  border-bottom: 1px solid #f0f0f0;
  font-size: 0;
  list-style: none;
  padding: 0;
  & li {
    position: relative;
    display: inline-block;
    padding: 8px 0;
    margin-bottom: -1px;
    & a{
      padding: 13px 20px;
      font-size: 15px;
      font-weight: 700;
      color: #969696;
      line-height: 25px;
    }
    & i{
      margin-right: 5px;
      font-size: 17px;
    }
    &:after {
      content: "";
      position: absolute;
      left: 50%;
      bottom: -2px;
      width: 100%;
      opacity: 0;
      border-bottom: 2px solid #646464;
      transform: translate(-50%) scaleX(0);
      transition: .2s ease-in-out;
    }
    &:hover{
      & a {
        color: #646464;
      }
      &:after{
        opacity: 1;
        transform: translate(-50%) scaleX(1);
      }
    }
    &.active{
      border-bottom: 2px solid #646464;
      & a {
        color: #646464;
      }
    }
  }
}
