<main class="g-container f-cb">
    <div class="recommend-banner">
        <img style="margin-bottom: 30px; width: 100%;
    min-height: 100px;
    background-color: hsla(0,0%,71%,.2);
    border-radius: 6px;" src="../assets/images/recommend-collection.png" alt="Recommend collection">
        <a class="help" href="/p/9e6397e3e921">
            <i class="icon-navigation-help"></i> 如何创建并玩转专题
        </a>
    </div>
    <ul class="trigger-menu" data-pjax-container="#list-container">
        <li class="active"><a data-order-by="recommend" href="/recommendations/collections?order_by=recommend"><i
      class="icon-recommend"></i> 推荐</a></li>
        <li class=""><a data-order-by="hot" href="/recommendations/collections?order_by=hot"><i class="icon-hot"></i>
      热门</a></li>
        <li class=""><a data-order-by="city" href="/recommendations/collections?order_by=city"><i
      class="icon-city"></i> 城市</a></li>
    </ul>
    <article>
        <div class="row f-cb" id="list-container">
            <div class="col-xs-8" *ngFor="let item of collection">
                <div class="collection-wrap">
                    <a class="avatar-collection" [routerLink]="['/collections', item.slug]"><img [src]="item.avatar" alt="180"></a>
                    <h4><a class="name" [routerLink]="['/collections', item.slug]">{{item.title}}</a></h4>
                    <p class="collection-description">{{item.description}}</p>
                    <a class="u-btn u-btn-success follow" (click)="subscribers(item)"><i class="icon-follow"></i><span>关注</span></a>
                    <hr>
                    <div class="count"><a [routerLink]="['/collections', item.slug]">{{item.article_count}}篇文章</a> · {{item.subscribers_count}}人关注</div>
                </div>
            </div>
        </div>
        <button *ngIf="!notData" [disabled]="isLoading" class="u-btn u-btn-default load-more-btn" (click)="loadMore()">加载更多</button>
    </article>
</main>