:host{
    display: block;
    min-width: 768px;
    max-width: 1440px;
    margin: 0 auto;
}

.m-logo{
    margin: 0;
    padding: 0;
    & a{
        display: block;
        height: 56px;
        padding: 14px 25px 15px 20px;
    }
    & img{
        width: 55px;
        height: 26px;
    }
}

.m-nav{
    & ul{
        margin: 0;
        list-style: none;
    }
    & li{
        float: left;
        margin-right: 10px;
        &.active{
            & a,& a:hover{
                color: #ea6f5a;
                background: none;
            }
        }
    }
    & a{
        position: relative;
        display: block;
        height: 56px;
        line-height: 26px;
        padding: 15px;
        color: #333;
        &:hover{
            color: #333;
            background-color: #f5f5f5;
        }
        & span{
            font-size: 18px;
        }
        & .menu-icon{
            font-size: 20px;
            margin-right: 5px;
            vertical-align: middle;
        }
    }
}

.m-search{
    padding-left: 15px;
    position: relative;
    top: 9px;
    & .search-input{
        width: 240px;
        height: 38px;
        padding: 0 40px 0 20px;
        font-size: 14px;
        border: 1px solid #eee;
        border-radius: 40px;
        background: #eee;
        transition: width .5s;
        transition-delay: .1s;
        &:focus{
            transition-delay: 0s;
            width: 320px;
            outline: none;
            box-shadow: inset 0 0 10px #ccc;
            &+.search-btn {
                background-color: #969696;
                border-radius: 50%;
                color: #fff;
                transition: background .5s;
                &:hover{
                    background-color: #696969;
                }
            }
        }
    
    }

    & .search-btn{
        position: absolute;
        top: 4px;
        right: 5px;
        width: 30px;
        height: 30px;
        line-height: 30px;
        padding: 0;
        color: #969696;
        text-align: center;
        &:hover{
            color: #696969;
            background: none;
        }
    }
}

.m-user{
    & > a{
        margin: 9px 5px 0 15px;
        &:last-child{
            margin: 8px 15px 0;
        }
    }
    & .u-btn-login{
        height: 34px;
        font-size: 16px;
        line-height: 22px;
    }
    & .u-btn-register{
        width: 80px;
        height: 34px;
        font-size: 16px;
        line-height: 22px;
    }
    & .u-btn-write{
        & i{
            margin-right: 3px;
            font-size: 20px;
            vertical-align: middle;
        }
    }
}