:host{
    display: inline-block;
    vertical-align: middle;
    width: 48px;
    height: 48px;
    cursor: pointer;
    & img{
        width: 100%;
        height: 100%;
        border: 1px solid #ddd;
    }
    &.circle img{
        border-radius: 50%;
    }
    &.square img{
        border-radius: 10%;
    }
    &.large{
        width: 80px;
        height: 80px;
    }
    &.small{
        width: 32px;
        height: 32px;
    }
}