@import "../../root.css";
:host{
  @apply --app-boxs;
}
.g-container{
    padding-top: 20px;
    padding-bottom: 60px;
    width: 620px;
    & .title{
        word-break: break-word;
        margin: 20px 0 0;
        font-family: -apple-system,SF UI Display,Arial,PingFang SC,Hiragino Sans GB,Microsoft YaHei,WenQuanYi Micro Hei,sans-serif;
        font-size: 34px;
        font-weight: 700;
        line-height: 1.3; 
    }
    & .content{
         color: #2f2f2f;
        word-break: break-word;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.7;
        p{
            margin: 0 0 25px;
        }
    }
    & .author{
        margin: 30px 0 40px;
        & .avatar{
            width: 48px;
            height: 48px;
            vertical-align: middle;
            display: inline-block;
        }
        & .info{
            vertical-align: middle;
            display: inline-block;
            margin-left: 8px;
            & .u-btn{
                padding: 0 7px 0 5px;
                font-size: 12px;
                border-radius: 40px;
                & span{
                    margin-left: 2px;
                }
            }
        }
        & .tag{
            padding: 1px 2px;
            font-size: 12px;
            color: #ea6f5a;
            border: 1px solid #ea6f5a;
            border-radius: 3px;
        }
        & .name{
            color: #333;
            margin-left: 3px;
            margin-right: 3px;
            font-size: 16px;
            vertical-align: middle;
        }
        & .meta{
            margin-top: 5px;
            font-size: 12px;
            color: #969696;
            & span{
                padding-right: 5px;
            }
        }
    }
}
.g-ft{
    min-height: 213px;
    background-color: #f5f5f5;
    & .footer-inner{
        margin: 0 auto;
        padding: 0 0 60px;
        width: 620px;
    }
    & .title{
        padding-top: 40px;
        font-size: 16px;
        color: #a0a0a0;
    }
    & .include-collection{
        & .add-collection{
            margin: 11px 11px 0 0;
            padding-top: 7px;
            width: 66px;
            height: 66px;
            text-align: center;
            border: 2px dashed hsla(0,0%,55%,.6);
            border-radius: 6px;
            vertical-align: top;
            display: inline-block;
            & i{
                font-size: 20px;
                color: #969696;
            }
            & span{
                display: inline-block;
                width: 100%;
                font-size: 12px;
                color: #787878;
            }
        }
        & .item{
            position: relative;
            margin: 11px 11px 0 0;
            width: 66px;
            height: 66px;
            display: inline-block;
            vertical-align: top;
            overflow: hidden;
            border-radius: 6px;
            & img{
                margin: -4px;
                width: 74px;
                height: 74px;
                border-radius: 6px;
                filter: blur(10px);
                transition: .1s ease-in;
            }
            & .name{
                position: absolute;
                top: 50%;
                left: 5px;
                right: 5px;
                max-height: 56px;
                transform: translateY(-50%);
                text-align: center;
                text-shadow: 0 2px 2px rgba(0,0,0,.2);
                font-size: 14px;
                color: #fff;
                z-index: 2;
                word-break: break-word;
            }
            &::after{
                content: "";
                position: absolute;
                width: 66px;
                height: 66px;
                border-radius: 6px;
                background-color: rgba(0,0,0,.25);
                top: 0;
                left: 0;
                z-index: 1;
            }
            &:hover{
                & img{
                    filter: blur(0);
                }
                &::after{
                    background-color: rgba(0,0,0,.5);
                }
            }
        }
    }
}