<app-navbar class="g-navbar"></app-navbar>
<div class="container subscription">
  <div class="row">
    <div class="aside">
      <a class="change-type">全部关注</a>
      <ul class="js-subscription-list">
        <li class="active"><a href="#/recommendation" class="wrap">
          <div class="avatar"><img src="//cdn2.jianshu.io/assets/web/addfollow-fc392ec918dda9d19818181ca42d2d7e.png">
          </div>
          <div class="name">添加关注</div>
        </a></li>
      </ul>
    </div>
    <div class="col-xs-16 col-xs-offset-8 main">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
