<app-navbar class="g-navbar"></app-navbar>
<div class="container bookmarks" id="js-page-top">
  <div class="row">
    <div class="col-xs-18 col-xs-offset-3 main">
      <img class="tag-banner" src="//cdn2.jianshu.io/assets/web/collect-note-955d8c71641a360924390da9da4b0151.png" alt="Collect note">
      <!-- 文章列表模块 -->
      <ul class="note-list">

      </ul>
    </div>
  </div>
  <div>
    <!---->
  </div>
  <div class="side-tool"><ul><li data-placement="left" data-toggle="tooltip" data-container="body" data-original-title="回到顶部" style="display: none;"><a href="#" class="function-button"><i class="iconfont ic-backtop"></i></a></li> <!----> <!----> <!----></ul></div>
</div>
