<app-navbar class="g-navbar"></app-navbar>
<main class="container f-cb">
  <app-home-carousel></app-home-carousel>
  <article class="g-main">
    <app-recommend-collection></app-recommend-collection>
    <app-list-container></app-list-container>
  </article>
  <aside class="g-aside">
      <div class="board">
        <a routerLink="/recommendations/articles">
          <img src="//cdn2.jianshu.io/assets/web/banner-s-1-b8ff9ec59f72ea88ecc8c42956f41f78.png" alt="Banner s 1">
        </a>        <a target="_blank" href="/u/d9edcb44e2f2?utm_medium=index-banner-s&amp;utm_source=desktop"><img src="//cdn2.jianshu.io/assets/web/banner-s-2-0ca33954547a07153f9cccd5eddbad42.png" alt="Banner s 2"></a>
        <a routerLink="/trending/weekly"><img src="//cdn2.jianshu.io/assets/web/banner-s-3-7123fd94750759acf7eca05b871e9d17.png" alt="Banner s 3"></a>
        <a routerLink="/trending/monthly"><img src="//cdn2.jianshu.io/assets/web/banner-s-4-b70da70d679593510ac93a172dfbaeaa.png" alt="Banner s 4"></a>
        <a routerLink="/publications"><img src="//cdn2.jianshu.io/assets/web/banner-s-5-2e1d9a955935a69fecc6e8ab2a8d3dcc.png" alt="Banner s 5"></a>
      </div>

      <!-- 首页右侧 App 下载提示 -->
      <div class="download">
        <a routerLink="/apps"><img id="js-download-img" src="//cdn2.jianshu.io/assets/web/app_download-e9146ff3a117129153d283495b51f40e.png" alt="App download"></a>
        <div class="link-btn" id="js-link-btn" style="display: block;">
          <a class="col-xs-8 scan" data-toggle="popover" data-placement="top" data-html="true" data-trigger="hover" data-content="<img src=&quot;//cdn2.jianshu.io/assets/web/download-app-qrcode-0257cd2c1d094cba9caa7bdc9e5a1393.png&quot; alt=&quot;Download app qrcode&quot; />" href="javascript:void(0)" data-original-title="" title="">
            <div><i class="iconfont ic-qrcode"></i><span>扫码</span></div>
          </a>            <a class="col-xs-8 android" href="http://downloads.jianshu.io/apps/haruki/Jianshu-2.3.1-17051515-1495076675.apk">
          <div><i class="iconfont ic-android"></i><span>安卓</span></div>
        </a>            <a class="col-xs-8 ios" href="https://itunes.apple.com/cn/app/jian-shu/id888237539">
          <div><i class="iconfont ic-ios"></i><span>iOS</span></div>
        </a>          </div>
      </div>
      <!-- -->

      <div class="recommend"><div class="title"><span>推荐作者</span> <div class="reload"><div class="page-count">1/40</div> <div class="page-change"><a><i class="iconfont ic-previous-s"></i></a> <a><i class="iconfont ic-next-s"></i></a></div></div></div> <ul class="list"><li><a href="/u/5SqsuF?utm_source=desktop&amp;utm_medium=index-users" target="_blank" class="avatar"><img src="//upload.jianshu.io/users/upload_avatars/6287/06c537002583.png?imageMogr2/auto-orient/strip|imageView2/1/w/144/h/144"></a> <a class="follow"><i class="iconfont ic-follow"></i>关注
      </a> <a href="/u/5SqsuF?utm_source=desktop&amp;utm_medium=index-users" target="_blank" class="name">
        刘淼
      </a> <p>
        写了333.7K字 · 17.4K喜欢
      </p></li><li><a href="/u/680ea2b754fc?utm_source=desktop&amp;utm_medium=index-users" target="_blank" class="avatar"><img src="//upload.jianshu.io/users/upload_avatars/23852/cc0c1e84a511.jpeg?imageMogr2/auto-orient/strip|imageView2/1/w/144/h/144"></a> <a class="follow"><i class="iconfont ic-follow"></i>关注
      </a> <a href="/u/680ea2b754fc?utm_source=desktop&amp;utm_medium=index-users" target="_blank" class="name">
        魔鬼的赞歌
      </a> <p>
        写了290.3K字 · 4.0K喜欢
      </p></li><li><a href="/u/1bfbfe5059dc?utm_source=desktop&amp;utm_medium=index-users" target="_blank" class="avatar"><img src="//upload.jianshu.io/users/upload_avatars/5101324/d13967fe-9448-425c-986e-8a62574257d0.jpg?imageMogr2/auto-orient/strip|imageView2/1/w/144/h/144"></a> <a class="follow"><i class="iconfont ic-follow"></i>关注
      </a> <a href="/u/1bfbfe5059dc?utm_source=desktop&amp;utm_medium=index-users" target="_blank" class="name">
        沪江英语
      </a> <p>
        写了100.8K字 · 1.4K喜欢
      </p></li><li><a href="/u/8f798fa68365?utm_source=desktop&amp;utm_medium=index-users" target="_blank" class="avatar"><img src="//upload.jianshu.io/users/upload_avatars/3598054/9ac398074ca8.jpg?imageMogr2/auto-orient/strip|imageView2/1/w/144/h/144"></a> <a class="follow"><i class="iconfont ic-follow"></i>关注
      </a> <a href="/u/8f798fa68365?utm_source=desktop&amp;utm_medium=index-users" target="_blank" class="name">
        冷眼观史
      </a> <p>
        写了638.1K字 · 4.6K喜欢
      </p></li><li><a href="/u/5cfa376301c5?utm_source=desktop&amp;utm_medium=index-users" target="_blank" class="avatar"><img src="//upload.jianshu.io/users/upload_avatars/326721/fbb53af4d452.jpg?imageMogr2/auto-orient/strip|imageView2/1/w/144/h/144"></a> <a class="follow"><i class="iconfont ic-follow"></i>关注
      </a> <a href="/u/5cfa376301c5?utm_source=desktop&amp;utm_medium=index-users" target="_blank" class="name">
        傅踢踢
      </a> <p>
        写了437.9K字 · 11.6K喜欢
      </p></li></ul> <a  routerLink="/recommendations/users" class="find-more">
        查看全部<i class="iconfont ic-link"></i></a></div>
  </aside>
</main>
<footer class="container">
  <app-footer></app-footer>
</footer>
