@import "../../root.css";
:host{
  @apply --app-boxs;
}
.g-main{
  width: 66.666667%;
}
.g-aside{
  width: 29.16667%;
}
.board{
  width: 100%;
  & img{
    width: 100%;
  }
}
app-home-carousel{
  display: block;
  position: relative;
  z-index: 1000;
  border-radius: 0 0 6px 6px;
  overflow: hidden;
  margin-bottom: 40px;
}