<main class="g-register">
  <h1 class="m-logo"><a href="/">简书</a></h1>
  <section class="m-main">
    <h3 class="m-title">
      <a routerLink="/login">登录</a>
      <b>·</b>
      <a class="active" routerLink="/register">注册</a>
    </h3>
    <div>
      <form [formGroup]="registerForm" novalidate autocomplete="off" (submit)="registerSubmit()">
        <div class="form-group">
          <div class="input-prepend">
            <input type="text" class="form-control" formControlName="nickname" placeholder="你的昵称">
            <i class="icon-user"></i>
          </div>
          <div class="input-prepend">
            <input type="text" class="form-control" formControlName="username" placeholder="手机号">
            <i class="icon-phonenumber"></i>
          </div>
          <div class="input-prepend verifycode">
            <input type="text" class="form-control" formControlName="username" placeholder="手机验证码">
            <i class="icon-verify"></i>
            <button type="button" class="u-btn u-btn-success u-btn-sm">发送验证码</button>
          </div>
          <div class="input-prepend">
            <input class="form-control" type="password" formControlName="password" placeholder="设置密码">
            <i class="icon-password"></i>
          </div>
        </div>
        <div class="form-group">
          <button type="submit" class="u-btn u-btn-success u-btn-lg u-btn-block">注册</button>
        </div>
        <div class="form-group">
          点击 “注册” 即表示您同意并愿意遵守简书 <br>
          <a class="active" routerLink="/register">用户协议</a> 和 <a class="active" routerLink="/register">隐私政策</a> 。
        </div>
      </form>
    </div>
  </section>
</main>
