:host{
  display: block;
  height: 100%;
  min-height: 750px;
  text-align: center;
  font-size: 14px;
  background-color: #f1f1f1;
}
.m-logo{
  position: absolute;
  top: 56px;
  margin-left: 50px;
}
.g-main{
  display: inline-block;
  vertical-align: middle;
  width: 400px;
  margin: 60px auto 0;
  padding: 50px 50px 30px;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 0 8px rgba(0,0,0,.1);
  & header{
    margin: 0 auto 50px;
    padding: 10px;
    font-weight: 400;
    color: #969696;
    & h3{
      font-size: 18px;
      margin: 0;
    }
    & a,& b{
      padding: 10px;
    }
    & a{
      color: #969696;
      &:hover{
        border-bottom: 2px solid #ea6f5a;
      }
      &.active{
        font-weight: 700;
        color: #ea6f5a;
        border-bottom: 2px solid #ea6f5a;
      }
    }
  }
  & .u-input-group-btn{
    top: 16px;
    left: 10px;
    & i{
      font-size: 18px;
      color: #969696;
    }
  }
  & .u-input-control{
    height: 50px;
    padding: 4px 12px 4px 35px;
    border-radius: 0;
    border-bottom: 0;
  }
  & .m-input-group{
    &:first-child .u-input-control{
      border-radius: 4px 4px 0 0;
    }
    &:last-child .u-input-control{
      border-radius: 0 0 4px 4px;
      border-bottom: 1px solid #c8c8c8;
    }
    & .u-send-code{
      position: absolute;
      top: 7px;
      right: 7px;
    }
  }
  & form{
    margin-bottom: 30px;
    & p{
      margin: 0;
      font-size: 12px;
      line-height: 20px;
      color: #969696;
    }
  }
  & footer{
    margin-top: 30px;
    & h6{
      position: relative;
      margin: 0 0 20px;
      font-size: 12px;
      color: #b5b5b5;
      &:matches(::after, ::before){
        content: "";
        border-top: 1px solid #b5b5b5;
        position: absolute;
        width: 60px;
        top: 5px;
      }
      &::before{
        left: 30px;
      }
      &::after{
        right: 30px;
      }
    }
    & li{
      display: inline-block;
      vertical-align: middle;
      margin: 0 3px;
      & a{
        display: inline-block;
        width: 50px;
        height: 50px;
        background-color: hsla(0,0%,71%,.2);
        border-radius: 50%;
        line-height: 50px;
        color: #fff;
        &.weibo{
          background-color: #e05244;
        }
        &.weixin{
          background-color: #00bb29;
        }
        &.qq{
          background-color: #498ad5;
        }
      }
    }
  }
}
