<div class="container index">
  <div class="row">
    <div class="col-xs-16 main">
      <img class="tag-banner" src="//cdn2.jianshu.io/assets/web/thirty-hot-f02153a572050a38141287bda2503320.png" alt="Thirty hot">
      <!-- 文章列表模块 -->
      <div id="list-container">
        <ul class="note-list" infinite-scroll-url="/trending/monthly">
          <li id="note-12602649" data-note-id="12602649" class="have-img">
            <a class="wrap-img" href="/p/8faf7e632f1c" target="_blank">
              <img class="img-blur-done" src="//upload-images.jianshu.io/upload_images/5350321-ae065c1e5f8ce2d1.jpg?imageMogr2/auto-orient/strip|imageView2/1/w/375/h/300" alt="120">
            </a>
            <div class="content">
              <div class="author">
                <a class="avatar" target="_blank" href="/u/e3281b3e3a62">
                  <img src="//upload.jianshu.io/users/upload_avatars/5350321/21e39045-dccd-4aa3-b099-2a830a967f4f.jpg?imageMogr2/auto-orient/strip|imageView2/1/w/96/h/96" alt="96">
                </a>      <div class="name">
                <a class="blue-link" target="_blank" href="/u/e3281b3e3a62">去年的茶</a>
                <span class="time" data-shared-at="2017-05-20T11:31:28+08:00">05.20 11:31</span>
              </div>
              </div>
              <a class="title" target="_blank" href="/p/8faf7e632f1c">妓女的自述</a>
              <p class="abstract">
                &#65279;如果你来嫖我，千万别劝我从良。&#65279; 我听过太多男人边穿裤子边问我“为什么不干点别的？”&#65279; 那一刻我真想抽他。这句话让他立马处在了道德制高点，就好像嫖娼要比卖淫高尚。&#65279; 提着裤...
              </p>
              <div class="meta">
                <a target="_blank" href="/p/8faf7e632f1c">
                  <i class="iconfont ic-list-read"></i> 76039
                </a>        <a target="_blank" href="/p/8faf7e632f1c#comments">
                <i class="iconfont ic-list-comments"></i> 1098
              </a>      <span><i class="iconfont ic-list-like"></i> 3504</span>
                <span><i class="iconfont ic-list-money"></i> 55</span>
              </div>
            </div>
          </li>
          <li id="note-12564012" data-note-id="12564012" class="have-img">
            <a class="wrap-img" href="/p/275ce323a85d" target="_blank">
              <img class="img-blur-done" src="//upload-images.jianshu.io/upload_images/1217754-27ab071fbd988ba6.jpg?imageMogr2/auto-orient/strip|imageView2/1/w/375/h/300" alt="120">
            </a>
            <div class="content">
              <div class="author">
                <a class="avatar" target="_blank" href="/u/009eac2d558e">
                  <img src="//upload.jianshu.io/users/upload_avatars/1217754/0c7b873894df?imageMogr2/auto-orient/strip|imageView2/1/w/96/h/96" alt="96">
                </a>      <div class="name">
                <a class="blue-link" target="_blank" href="/u/009eac2d558e">麦家理想谷</a>
                <span class="time" data-shared-at="2017-05-19T08:17:12+08:00">05.19 08:17</span>
              </div>
              </div>
              <a class="title" target="_blank" href="/p/275ce323a85d">《欢乐颂》：读书和不读书的人生，究竟差在哪里？</a>
              <p class="abstract">
                文|麦家理想谷 本文原创，转载请联系 / 《欢乐颂2》的开播又拯救了一大波剧荒的观众，那五位个性鲜明又迥异的女性后来都怎么样了，大家都迫不及待地想知道。 第一集，阳光、沙滩，...
              </p>
              <div class="meta">
                <a target="_blank" href="/p/275ce323a85d">
                  <i class="iconfont ic-list-read"></i> 67131
                </a>        <a target="_blank" href="/p/275ce323a85d#comments">
                <i class="iconfont ic-list-comments"></i> 349
              </a>      <span><i class="iconfont ic-list-like"></i> 4030</span>
                <span><i class="iconfont ic-list-money"></i> 26</span>
              </div>
            </div>
          </li>
          <li id="note-12346771" data-note-id="12346771" class="have-img">
            <a class="wrap-img" href="/p/c8df6a1be800" target="_blank">
              <img class="img-blur-done" src="//upload-images.jianshu.io/upload_images/2423013-8d6be05d4ef8e488.jpg?imageMogr2/auto-orient/strip|imageView2/1/w/375/h/300" alt="120">
            </a>
            <div class="content">
              <div class="author">
                <a class="avatar" target="_blank" href="/u/8c5968bebb00">
                  <img src="//upload.jianshu.io/users/upload_avatars/2423013/b8888b7f-e0ac-4239-b948-ba910f819826.jpg?imageMogr2/auto-orient/strip|imageView2/1/w/96/h/96" alt="96">
                </a>      <div class="name">
                <a class="blue-link" target="_blank" href="/u/8c5968bebb00">五月的二猫子</a>
                <span class="time" data-shared-at="2017-05-12T21:42:00+08:00">05.12 21:42</span>
              </div>
              </div>
              <a class="title" target="_blank" href="/p/c8df6a1be800">你别来了，我不想谈恋爱了</a>
              <p class="abstract">
                “我从来都无法得知，人们是究竟为什么会爱上另一个人。我猜也许我们的心上都有一个缺口，它是个空洞，呼呼的往灵魂里灌着刺骨的寒风，所以我们急切的需要一个正好形状的心填上它。就算你...
              </p>
              <div class="meta">
                <a target="_blank" href="/p/c8df6a1be800">
                  <i class="iconfont ic-list-read"></i> 36939
                </a>        <a target="_blank" href="/p/c8df6a1be800#comments">
                <i class="iconfont ic-list-comments"></i> 1244
              </a>      <span><i class="iconfont ic-list-like"></i> 2476</span>
                <span><i class="iconfont ic-list-money"></i> 19</span>
              </div>
            </div>
          </li>
          <li id="note-12245090" data-note-id="12245090" class="have-img">
            <a class="wrap-img" href="/p/8b844be7cb79" target="_blank">
              <img class="img-blur-done" src="//upload-images.jianshu.io/upload_images/4286313-be3ec9d37d40d27e.jpg?imageMogr2/auto-orient/strip|imageView2/1/w/375/h/300" alt="120">
            </a>
            <div class="content">
              <div class="author">
                <a class="avatar" target="_blank" href="/u/4b6bdf4f9b22">
                  <img src="//upload.jianshu.io/users/upload_avatars/4286313/48207dbc-0400-448a-8603-20e3aa9d197d.jpg?imageMogr2/auto-orient/strip|imageView2/1/w/96/h/96" alt="96">
                </a>      <div class="name">
                <a class="blue-link" target="_blank" href="/u/4b6bdf4f9b22">吕白Alex</a>
                <span class="time" data-shared-at="2017-05-10T10:18:41+08:00">05.10 10:18</span>
              </div>
              </div>
              <a class="title" target="_blank" href="/p/8b844be7cb79">我做过最爽的事，就是给父母打钱</a>
              <p class="abstract">
                -1- 在以前的公司，几乎所有同事谈起对我的第一印象，就是：抠逼。 的确，我是个很抠的人。 每天中午只点饿X么9.9元的特价餐，特价餐都是限购10份，我会提前订好闹钟，生怕自...
              </p>
              <div class="meta">
                <a target="_blank" href="/p/8b844be7cb79">
                  <i class="iconfont ic-list-read"></i> 35721
                </a>        <a target="_blank" href="/p/8b844be7cb79#comments">
                <i class="iconfont ic-list-comments"></i> 772
              </a>      <span><i class="iconfont ic-list-like"></i> 2741</span>
                <span><i class="iconfont ic-list-money"></i> 67</span>
              </div>
            </div>
          </li>
          <li id="note-12599997" data-note-id="12599997" class="have-img">
            <a class="wrap-img" href="/p/4fb95a281787" target="_blank">
              <img data-echo="//upload-images.jianshu.io/upload_images/2597515-f6ad9f58f5dc93c7.jpg?imageMogr2/auto-orient/strip|imageView2/1/w/375/h/300" class="img-blur" src="//upload-images.jianshu.io/upload_images/2597515-f6ad9f58f5dc93c7.jpg?imageMogr2/auto-orient/strip|imageView2/1/w/150/h/120" alt="120">
            </a>
            <div class="content">
              <div class="author">
                <a class="avatar" target="_blank" href="/u/c5b477017ae9">
                  <img src="//upload.jianshu.io/users/upload_avatars/2597515/f6f85bc45c1e.jpg?imageMogr2/auto-orient/strip|imageView2/1/w/96/h/96" alt="96">
                </a>      <div class="name">
                <a class="blue-link" target="_blank" href="/u/c5b477017ae9">素怀</a>
                <span class="time" data-shared-at="2017-05-20T09:52:37+08:00">05.20 09:52</span>
              </div>
              </div>
              <a class="title" target="_blank" href="/p/4fb95a281787">逃课去北大蹭课的日子—给每一个迷茫而渴望中的你</a>
              <p class="abstract">
                &#65279;也许你知道凌晨四点半的哈佛什么样子，但你知道清华北大的吗？我所看见的，也许只有孤魂野鬼出没吧！其实很多时候他们的生活并不像我们想象的那样遥不可及。&#65279; &#65279;兼职一月的工资刚够车...
              </p>
              <div class="meta">
                <a target="_blank" href="/p/4fb95a281787">
                  <i class="iconfont ic-list-read"></i> 30866
                </a>        <a target="_blank" href="/p/4fb95a281787#comments">
                <i class="iconfont ic-list-comments"></i> 798
              </a>      <span><i class="iconfont ic-list-like"></i> 2879</span>
                <span><i class="iconfont ic-list-money"></i> 33</span>
              </div>
            </div>
          </li>
          <li id="note-11442036" data-note-id="11442036" class="have-img">
            <a class="wrap-img" href="/p/6fb79f708ea4" target="_blank">
              <img data-echo="//upload-images.jianshu.io/upload_images/2806955-4f69aba6eb467897.jpg?imageMogr2/auto-orient/strip|imageView2/1/w/375/h/300" class="img-blur" src="//upload-images.jianshu.io/upload_images/2806955-4f69aba6eb467897.jpg?imageMogr2/auto-orient/strip|imageView2/1/w/150/h/120" alt="120">
            </a>
            <div class="content">
              <div class="author">
                <a class="avatar" target="_blank" href="/u/74ceb83a0857">
                  <img src="//upload.jianshu.io/users/upload_avatars/2806955/729ebeec-9972-4a8e-84bb-2a246ca8a667.jpg?imageMogr2/auto-orient/strip|imageView2/1/w/96/h/96" alt="96">
                </a>      <div class="name">
                <a class="blue-link" target="_blank" href="/u/74ceb83a0857">委婉的鱼</a>
                <span class="time" data-shared-at="2017-05-14T04:36:57+08:00">05.14 04:36</span>
              </div>
              </div>
              <a class="title" target="_blank" href="/p/6fb79f708ea4">零基础学习Photoshop你所需要知道的</a>
              <p class="abstract">
                第一个问题：多长时间可以学会Photoshop？ “三分钟成为P图高手”、“十分钟掌握九种抠图大法”、“分分钟get双重曝光效果”，到处总能看到这样一些信息，时下流行速成，我...
              </p>
              <div class="meta">
                <a target="_blank" href="/p/6fb79f708ea4">
                  <i class="iconfont ic-list-read"></i> 34757
                </a>        <a target="_blank" href="/p/6fb79f708ea4#comments">
                <i class="iconfont ic-list-comments"></i> 1765
              </a>      <span><i class="iconfont ic-list-like"></i> 1815</span>
                <span><i class="iconfont ic-list-money"></i> 17</span>
              </div>
            </div>
          </li>
          <li id="note-12770153" data-note-id="12770153" class="have-img">
            <a class="wrap-img" href="/p/a5ed713094c4" target="_blank">
              <img data-echo="//upload-images.jianshu.io/upload_images/2542851-6bb94c32aec08b9c.jpg?imageMogr2/auto-orient/strip|imageView2/1/w/375/h/300" class="img-blur" src="//upload-images.jianshu.io/upload_images/2542851-6bb94c32aec08b9c.jpg?imageMogr2/auto-orient/strip|imageView2/1/w/150/h/120" alt="120">
            </a>
            <div class="content">
              <div class="author">
                <a class="avatar" target="_blank" href="/u/62478ec15b74">
                  <img src="//upload.jianshu.io/users/upload_avatars/2542851/0dca220dd6bb.jpeg?imageMogr2/auto-orient/strip|imageView2/1/w/96/h/96" alt="96">
                </a>      <div class="name">
                <a class="blue-link" target="_blank" href="/u/62478ec15b74">怀左同学</a>
                <span class="time" data-shared-at="2017-05-25T09:08:09+08:00">05.25 09:08</span>
              </div>
              </div>
              <a class="title" target="_blank" href="/p/a5ed713094c4">我超级自律，就是为了和别人不一样</a>
              <p class="abstract">
                01 浏览公众号时，我被咪蒙前天的推文《你有没有想过，你会平庸到死》触动了，不是因为奖金，而是我确实想过，可能有一天，我会平庸到死。 平庸，到死。 我学的文学，在读研之前，体...
              </p>
              <div class="meta">
                <a target="_blank" href="/p/a5ed713094c4">
                  <i class="iconfont ic-list-read"></i> 40701
                </a>        <a target="_blank" href="/p/a5ed713094c4#comments">
                <i class="iconfont ic-list-comments"></i> 477
              </a>      <span><i class="iconfont ic-list-like"></i> 2353</span>
                <span><i class="iconfont ic-list-money"></i> 20</span>
              </div>
            </div>
          </li>
          <li id="note-4037395" data-note-id="4037395" class="have-img">
            <a class="wrap-img" href="/p/493f5f4cf1af" target="_blank">
              <img data-echo="//upload-images.jianshu.io/upload_images/1294118-85301cc38418ef45.jpg?imageMogr2/auto-orient/strip|imageView2/1/w/375/h/300" class="img-blur" src="//upload-images.jianshu.io/upload_images/1294118-85301cc38418ef45.jpg?imageMogr2/auto-orient/strip|imageView2/1/w/150/h/120" alt="120">
            </a>
            <div class="content">
              <div class="author">
                <a class="avatar" target="_blank" href="/u/3a7b6c17732e">
                  <img src="//upload.jianshu.io/users/upload_avatars/1294118/f10fa95ee4e0?imageMogr2/auto-orient/strip|imageView2/1/w/96/h/96" alt="96">
                </a>      <div class="name">
                <a class="blue-link" target="_blank" href="/u/3a7b6c17732e">瓯南</a>
                <span class="time" data-shared-at="2016-05-19T23:03:25+08:00">2016.05.19 23:03</span>
              </div>
              </div>
              <a class="title" target="_blank" href="/p/493f5f4cf1af">大学两年读了200多本书，向你推荐这7本</a>
              <p class="abstract">
                文/瓯南自2014年入大学以来，已将近两年了。两年的时间过得飞快，生活虽然平淡无奇，但最让我感到骄傲的，是这两年的时间，我读了200多本书。大部分书都是我买的。在图书馆也借阅...
              </p>
              <div class="meta">
                <a target="_blank" href="/p/493f5f4cf1af">
                  <i class="iconfont ic-list-read"></i> 241958
                </a>        <a target="_blank" href="/p/493f5f4cf1af#comments">
                <i class="iconfont ic-list-comments"></i> 1707
              </a>      <span><i class="iconfont ic-list-like"></i> 19559</span>
                <span><i class="iconfont ic-list-money"></i> 54</span>
              </div>
            </div>
          </li>
          <li id="note-12479560" data-note-id="12479560" class="have-img">
            <a class="wrap-img" href="/p/6a9ba361e08e" target="_blank">
              <img data-echo="//upload-images.jianshu.io/upload_images/2053886-cb01871f89ffc503.jpg?imageMogr2/auto-orient/strip|imageView2/1/w/375/h/300" class="img-blur" src="//upload-images.jianshu.io/upload_images/2053886-cb01871f89ffc503.jpg?imageMogr2/auto-orient/strip|imageView2/1/w/150/h/120" alt="120">
            </a>
            <div class="content">
              <div class="author">
                <a class="avatar" target="_blank" href="/u/73246a384162">
                  <img src="//upload.jianshu.io/users/upload_avatars/2053886/c7a15baece82.jpg?imageMogr2/auto-orient/strip|imageView2/1/w/96/h/96" alt="96">
                </a>      <div class="name">
                <a class="blue-link" target="_blank" href="/u/73246a384162">大肚子猫</a>
                <span class="time" data-shared-at="2017-05-18T11:49:57+08:00">05.18 11:49</span>
              </div>
              </div>
              <a class="title" target="_blank" href="/p/6a9ba361e08e">想自学英语，试试这些网站吧</a>
              <p class="abstract">
                &#65279;天下没有免费的午餐，但会不会有一些免费的好东西？答案是有的,比如接下来要推荐的免费在线英语学习网站。 在开始推荐以前，我想先从学习风格说起。因学习风格不同，有些人喜欢通过看...
              </p>
              <div class="meta">
                <a target="_blank" href="/p/6a9ba361e08e">
                  <i class="iconfont ic-list-read"></i> 20357
                </a>        <a target="_blank" href="/p/6a9ba361e08e#comments">
                <i class="iconfont ic-list-comments"></i> 43
              </a>      <span><i class="iconfont ic-list-like"></i> 2216</span>
                <span><i class="iconfont ic-list-money"></i> 1</span>
              </div>
            </div>
          </li>
          <li id="note-12097997" data-note-id="12097997" class="have-img">
            <a class="wrap-img" href="/p/dbd1eb2a31eb" target="_blank">
              <img data-echo="//upload-images.jianshu.io/upload_images/691278-41aef773717162b6.png?imageMogr2/auto-orient/strip|imageView2/1/w/375/h/300" class="img-blur" src="//upload-images.jianshu.io/upload_images/691278-41aef773717162b6.png?imageMogr2/auto-orient/strip|imageView2/1/w/150/h/120" alt="120">
            </a>
            <div class="content">
              <div class="author">
                <a class="avatar" target="_blank" href="/u/b067d53d56b2">
                  <img src="//upload.jianshu.io/users/upload_avatars/691278/8d0529fa0fea.jpg?imageMogr2/auto-orient/strip|imageView2/1/w/96/h/96" alt="96">
                </a>      <div class="name">
                <a class="blue-link" target="_blank" href="/u/b067d53d56b2">弘丹</a>
                <span class="time" data-shared-at="2017-05-09T12:23:21+08:00">05.09 12:23</span>
              </div>
              </div>
              <a class="title" target="_blank" href="/p/dbd1eb2a31eb">没有建立这种思维，学再多都是白费</a>
              <p class="abstract">
                1 最近一直在思考一个问题，为什么看了那么多书，听了那么多课，进步却很小呢？ 去年参加了很多分享课，每周末至少有一天在外面参加活动。但参加了那么多课，我的收获有多少呢? 参加...
              </p>
              <div class="meta">
                <a target="_blank" href="/p/dbd1eb2a31eb">
                  <i class="iconfont ic-list-read"></i> 29212
                </a>        <a target="_blank" href="/p/dbd1eb2a31eb#comments">
                <i class="iconfont ic-list-comments"></i> 199
              </a>      <span><i class="iconfont ic-list-like"></i> 1630</span>
                <span><i class="iconfont ic-list-money"></i> 10</span>
              </div>
            </div>
          </li>
          <li id="note-12132295" data-note-id="12132295" class="have-img">
            <a class="wrap-img" href="/p/130779e395b4" target="_blank">
              <img data-echo="//upload-images.jianshu.io/upload_images/2542851-f117c6648df38684.jpeg?imageMogr2/auto-orient/strip|imageView2/1/w/375/h/300" class="img-blur" src="//upload-images.jianshu.io/upload_images/2542851-f117c6648df38684.jpeg?imageMogr2/auto-orient/strip|imageView2/1/w/150/h/120" alt="120">
            </a>
            <div class="content">
              <div class="author">
                <a class="avatar" target="_blank" href="/u/62478ec15b74">
                  <img src="//upload.jianshu.io/users/upload_avatars/2542851/0dca220dd6bb.jpeg?imageMogr2/auto-orient/strip|imageView2/1/w/96/h/96" alt="96">
                </a>      <div class="name">
                <a class="blue-link" target="_blank" href="/u/62478ec15b74">怀左同学</a>
                <span class="time" data-shared-at="2017-05-07T09:54:44+08:00">05.07 09:54</span>
              </div>
              </div>
              <a class="title" target="_blank" href="/p/130779e395b4">每日早起，是一种生活方式</a>
              <p class="abstract">
                01 对于我来讲，早起是一件非常简单的事情。 现在，早起已经成为了我的一个习惯，生物钟准时在早上六点多唤醒我，有时候磨蹭磨蹭，最晚，七点也就起来了。 一年365天，除了非常累...
              </p>
              <div class="meta">
                <a target="_blank" href="/p/130779e395b4">
                  <i class="iconfont ic-list-read"></i> 27388
                </a>        <a target="_blank" href="/p/130779e395b4#comments">
                <i class="iconfont ic-list-comments"></i> 412
              </a>      <span><i class="iconfont ic-list-like"></i> 1243</span>
                <span><i class="iconfont ic-list-money"></i> 2</span>
              </div>
            </div>
          </li>
          <li id="note-3917938" data-note-id="3917938" class="have-img">
            <a class="wrap-img" href="/p/bf965da0082c" target="_blank">
              <img data-echo="//upload-images.jianshu.io/upload_images/1767483-80e454c74d33f5ee.jpg?imageMogr2/auto-orient/strip|imageView2/1/w/375/h/300" class="img-blur" src="//upload-images.jianshu.io/upload_images/1767483-80e454c74d33f5ee.jpg?imageMogr2/auto-orient/strip|imageView2/1/w/150/h/120" alt="120">
            </a>
            <div class="content">
              <div class="author">
                <a class="avatar" target="_blank" href="/u/3e2c151e2c9d">
                  <img src="//upload.jianshu.io/users/upload_avatars/1767483/6321b54d19be.jpeg?imageMogr2/auto-orient/strip|imageView2/1/w/96/h/96" alt="96">
                </a>      <div class="name">
                <a class="blue-link" target="_blank" href="/u/3e2c151e2c9d">韩大爷的杂货铺</a>
                <span class="time" data-shared-at="2016-05-12T19:47:24+08:00">2016.05.12 19:47</span>
              </div>
              </div>
              <a class="title" target="_blank" href="/p/bf965da0082c">从现在起，培养五个获益终生的思维习惯。</a>
              <p class="abstract">
                文/韩大爷的杂货铺导语：平时喜欢写一些干货类的文章，觉得这样能让大家通过阅读获取更多实在的精神收益，长此以往，与读者朋友们的互动也就多了起来。最近，有位读者朋友发来简信问我：...
              </p>
              <div class="meta">
                <a target="_blank" href="/p/bf965da0082c">
                  <i class="iconfont ic-list-read"></i> 216111
                </a>        <a target="_blank" href="/p/bf965da0082c#comments">
                <i class="iconfont ic-list-comments"></i> 1702
              </a>      <span><i class="iconfont ic-list-like"></i> 15653</span>
                <span><i class="iconfont ic-list-money"></i> 45</span>
              </div>
            </div>
          </li>
          <li id="note-12768346" data-note-id="12768346" class="have-img">
            <a class="wrap-img" href="/p/828833b74118" target="_blank">
              <img data-echo="//upload-images.jianshu.io/upload_images/2336875-83368a162587de3b.jpg?imageMogr2/auto-orient/strip|imageView2/1/w/375/h/300" class="img-blur" src="//upload-images.jianshu.io/upload_images/2336875-83368a162587de3b.jpg?imageMogr2/auto-orient/strip|imageView2/1/w/150/h/120" alt="120">
            </a>
            <div class="content">
              <div class="author">
                <a class="avatar" target="_blank" href="/u/5a3f5e32115c">
                  <img src="//upload.jianshu.io/users/upload_avatars/2336875/5fb352c3-022a-43d4-85e7-0682ed1f767c.jpg?imageMogr2/auto-orient/strip|imageView2/1/w/96/h/96" alt="96">
                </a>      <div class="name">
                <a class="blue-link" target="_blank" href="/u/5a3f5e32115c">邢先生决不orz</a>
                <span class="time" data-shared-at="2017-05-27T07:56:50+08:00">05.27 07:56</span>
              </div>
              </div>
              <a class="title" target="_blank" href="/p/828833b74118">我亲手招来的年轻人裸辞了，说要追求梦想</a>
              <p class="abstract">
                人们常常讲，背负行囊、追逐梦想。 追梦是要背包的，不带干粮就上路，容易饿死在路上。 01 昨天，我亲自招回来的年轻同事交了辞职信。 男生，23岁，相貌堂堂，985名校毕业，专...
              </p>
              <div class="meta">
                <a target="_blank" href="/p/828833b74118">
                  <i class="iconfont ic-list-read"></i> 22316
                </a>        <a target="_blank" href="/p/828833b74118#comments">
                <i class="iconfont ic-list-comments"></i> 478
              </a>      <span><i class="iconfont ic-list-like"></i> 1129</span>
                <span><i class="iconfont ic-list-money"></i> 8</span>
              </div>
            </div>
          </li>
          <li id="note-12012380" data-note-id="12012380" class="have-img">
            <a class="wrap-img" href="/p/1e2c4c09285c" target="_blank">
              <img data-echo="//upload-images.jianshu.io/upload_images/3459828-918c55dd1a612006.jpg?imageMogr2/auto-orient/strip|imageView2/1/w/375/h/300" class="img-blur" src="//upload-images.jianshu.io/upload_images/3459828-918c55dd1a612006.jpg?imageMogr2/auto-orient/strip|imageView2/1/w/150/h/120" alt="120">
            </a>
            <div class="content">
              <div class="author">
                <a class="avatar" target="_blank" href="/u/21a7a893f4b7">
                  <img src="//upload.jianshu.io/users/upload_avatars/3459828/b8f6b400-bc84-4f58-816f-769329e1f1a7.jpg?imageMogr2/auto-orient/strip|imageView2/1/w/96/h/96" alt="96">
                </a>      <div class="name">
                <a class="blue-link" target="_blank" href="/u/21a7a893f4b7">有备而来的路人甲</a>
                <span class="time" data-shared-at="2017-05-06T13:06:51+08:00">05.06 13:06</span>
              </div>
              </div>
              <a class="title" target="_blank" href="/p/1e2c4c09285c">愿你不再等待，也无所畏惧</a>
              <p class="abstract">
                青春这东西，青春的时候我们都活不明白，明白的时候也许就已经老了。 所谓成熟，是你越来越能接受现实，而不是越来越现实。 愿你所有的期望都不用再等待，愿青春这条路上你无所畏惧。 ...
              </p>
              <div class="meta">
                <a target="_blank" href="/p/1e2c4c09285c">
                  <i class="iconfont ic-list-read"></i> 26242
                </a>        <a target="_blank" href="/p/1e2c4c09285c#comments">
                <i class="iconfont ic-list-comments"></i> 346
              </a>      <span><i class="iconfont ic-list-like"></i> 1454</span>
                <span><i class="iconfont ic-list-money"></i> 16</span>
              </div>
            </div>
          </li>
          <li id="note-10992269" data-note-id="10992269" class="have-img">
            <a class="wrap-img" href="/p/abdd3f0b1f70" target="_blank">
              <img data-echo="//upload-images.jianshu.io/upload_images/1368738-2bb58de8a617ef42.jpg?imageMogr2/auto-orient/strip|imageView2/1/w/375/h/300" class="img-blur" src="//upload-images.jianshu.io/upload_images/1368738-2bb58de8a617ef42.jpg?imageMogr2/auto-orient/strip|imageView2/1/w/150/h/120" alt="120">
            </a>
            <div class="content">
              <div class="author">
                <a class="avatar" target="_blank" href="/u/d85468dcf308">
                  <img src="//upload.jianshu.io/users/upload_avatars/1368738/852e73ae-bf79-4c90-acf3-8d110c637107.jpg?imageMogr2/auto-orient/strip|imageView2/1/w/96/h/96" alt="96">
                </a>      <div class="name">
                <a class="blue-link" target="_blank" href="/u/d85468dcf308">北辰以北_</a>
                <span class="time" data-shared-at="2017-04-09T16:53:23+08:00">04.09 16:53</span>
              </div>
              </div>
              <a class="title" target="_blank" href="/p/abdd3f0b1f70">那些年网易云里戳心窝热评</a>
              <p class="abstract">
                有人曾说:"爱上一首歌可能不是因为旋律多动听，嗓音多感人，而是因为，你恰好也有个故事"。 网易云，往忆云。 心血来潮，整理了部分那些年戳心窝的热评！ &#65279; 1.不在巅峰慕名而来...
              </p>
              <div class="meta">
                <a target="_blank" href="/p/abdd3f0b1f70">
                  <i class="iconfont ic-list-read"></i> 47507
                </a>        <a target="_blank" href="/p/abdd3f0b1f70#comments">
                <i class="iconfont ic-list-comments"></i> 325
              </a>      <span><i class="iconfont ic-list-like"></i> 4355</span>
                <span><i class="iconfont ic-list-money"></i> 2</span>
              </div>
            </div>
          </li>
          <li id="note-12121119" data-note-id="12121119" class="have-img">
            <a class="wrap-img" href="/p/80778dbef824" target="_blank">
              <img data-echo="//upload-images.jianshu.io/upload_images/4870034-6b1341674879bc1c.jpg?imageMogr2/auto-orient/strip|imageView2/1/w/375/h/300" class="img-blur" src="//upload-images.jianshu.io/upload_images/4870034-6b1341674879bc1c.jpg?imageMogr2/auto-orient/strip|imageView2/1/w/150/h/120" alt="120">
            </a>
            <div class="content">
              <div class="author">
                <a class="avatar" target="_blank" href="/u/59e42ddc3d88">
                  <img src="//upload.jianshu.io/users/upload_avatars/4870034/f4feef83-a5c4-4188-94f5-ba655e6443d6.jpg?imageMogr2/auto-orient/strip|imageView2/1/w/96/h/96" alt="96">
                </a>      <div class="name">
                <a class="blue-link" target="_blank" href="/u/59e42ddc3d88">万里依然11</a>
                <span class="time" data-shared-at="2017-05-06T22:36:31+08:00">05.06 22:36</span>
              </div>
              </div>
              <a class="title" target="_blank" href="/p/80778dbef824">我的英语自学之路，不背单词的奥秘</a>
              <p class="abstract">
                4月30号的那天晚上，我怀着忐忑的心情打开了testyourvocab.com这个网站，当我看到那7970的单词量时，我先是兴奋，紧接着开始怀疑，再加30个就八千了呢，这是一...
              </p>
              <div class="meta">
                <a target="_blank" href="/p/80778dbef824">
                  <i class="iconfont ic-list-read"></i> 17351
                </a>        <a target="_blank" href="/p/80778dbef824#comments">
                <i class="iconfont ic-list-comments"></i> 273
              </a>      <span><i class="iconfont ic-list-like"></i> 1465</span>
                <span><i class="iconfont ic-list-money"></i> 6</span>
              </div>
            </div>
          </li>
          <li id="note-12747638" data-note-id="12747638" class="have-img">
            <a class="wrap-img" href="/p/67fa73b02b87" target="_blank">
              <img data-echo="//upload-images.jianshu.io/upload_images/3354589-9571165349eabf4d.jpg?imageMogr2/auto-orient/strip|imageView2/1/w/375/h/300" class="img-blur" src="//upload-images.jianshu.io/upload_images/3354589-9571165349eabf4d.jpg?imageMogr2/auto-orient/strip|imageView2/1/w/150/h/120" alt="120">
            </a>
            <div class="content">
              <div class="author">
                <a class="avatar" target="_blank" href="/u/eee6e7dea98c">
                  <img src="//upload.jianshu.io/users/upload_avatars/3354589/c5a5c2aa-eeb3-4e50-8ac5-a0798375e016.jpg?imageMogr2/auto-orient/strip|imageView2/1/w/96/h/96" alt="96">
                </a>      <div class="name">
                <a class="blue-link" target="_blank" href="/u/eee6e7dea98c">焱公子</a>
                <span class="time" data-shared-at="2017-05-25T09:50:45+08:00">05.25 09:50</span>
              </div>
              </div>
              <a class="title" target="_blank" href="/p/67fa73b02b87">在自媒体写故事，你需要懂得的规则和潜规则</a>
              <p class="abstract">
                文 | 焱公子 在入驻简书前，我混过较长时间的自媒体，主要包括今日头条、企鹅号、百度百家和一点资讯，其他较大的几家自媒体，比如网易、UC云观、东方头条等也都注册了账号，发过几...
              </p>
              <div class="meta">
                <a target="_blank" href="/p/67fa73b02b87">
                  <i class="iconfont ic-list-read"></i> 16916
                </a>        <a target="_blank" href="/p/67fa73b02b87#comments">
                <i class="iconfont ic-list-comments"></i> 298
              </a>      <span><i class="iconfont ic-list-like"></i> 1100</span>
                <span><i class="iconfont ic-list-money"></i> 14</span>
              </div>
            </div>
          </li>
          <li id="note-12209221" data-note-id="12209221" class="have-img">
            <a class="wrap-img" href="/p/fd32d2e3a588" target="_blank">
              <img data-echo="//upload-images.jianshu.io/upload_images/394706-60ff40b8d7178fda?imageMogr2/auto-orient/strip|imageView2/1/w/375/h/300" class="img-blur" src="//upload-images.jianshu.io/upload_images/394706-60ff40b8d7178fda?imageMogr2/auto-orient/strip|imageView2/1/w/150/h/120" alt="120">
            </a>
            <div class="content">
              <div class="author">
                <a class="avatar" target="_blank" href="/u/a626ba39cadb">
                  <img src="//upload.jianshu.io/users/upload_avatars/394706/4859fc6c-fb2d-4e3e-9306-d1aea856b0ee.jpg?imageMogr2/auto-orient/strip|imageView2/1/w/96/h/96" alt="96">
                </a>      <div class="name">
                <a class="blue-link" target="_blank" href="/u/a626ba39cadb">晏耀飞</a>
                <span class="time" data-shared-at="2017-05-09T11:52:51+08:00">05.09 11:52</span>
              </div>
              </div>
              <a class="title" target="_blank" href="/p/fd32d2e3a588">台湾26岁美女作家自杀：那个被诱奸的女孩，是怎样一步步走向毁灭的？</a>
              <p class="abstract">
                如果你关注微博，可能这两天会看到一个话题#房思琪的初恋乐园#。《房思琪的初恋乐园》是台湾女作家林奕含的第一本书，也是最后一本书，因为在书出版不久，她就在家里上吊自杀，将生命永...
              </p>
              <div class="meta">
                <a target="_blank" href="/p/fd32d2e3a588">
                  <i class="iconfont ic-list-read"></i> 30292
                </a>        <a target="_blank" href="/p/fd32d2e3a588#comments">
                <i class="iconfont ic-list-comments"></i> 457
              </a>      <span><i class="iconfont ic-list-like"></i> 882</span>
                <span><i class="iconfont ic-list-money"></i> 6</span>
              </div>
            </div>
          </li>
          <li id="note-12132546" data-note-id="12132546" class="have-img">
            <a class="wrap-img" href="/p/a379debe4dd9" target="_blank">
              <img data-echo="//upload-images.jianshu.io/upload_images/1996023-f052aeb54cb97d72.jpg?imageMogr2/auto-orient/strip|imageView2/1/w/375/h/300" class="img-blur" src="//upload-images.jianshu.io/upload_images/1996023-f052aeb54cb97d72.jpg?imageMogr2/auto-orient/strip|imageView2/1/w/150/h/120" alt="120">
            </a>
            <div class="content">
              <div class="author">
                <a class="avatar" target="_blank" href="/u/2796f2d6e198">
                  <img src="//upload.jianshu.io/users/upload_avatars/1996023/a1e3ab6c-6929-4da5-879a-90b54c26627e.jpg?imageMogr2/auto-orient/strip|imageView2/1/w/96/h/96" alt="96">
                </a>      <div class="name">
                <a class="blue-link" target="_blank" href="/u/2796f2d6e198">佳心有约</a>
                <span class="time" data-shared-at="2017-05-07T10:09:00+08:00">05.07 10:09</span>
              </div>
              </div>
              <a class="title" target="_blank" href="/p/a379debe4dd9">你现所从事的职业是在消亡？还是在兴起？</a>
              <p class="abstract">
                据资料预测： 正在消亡：制造业工业、白领、法律咨询、保险计算、工程造价、司机、银行柜员、编辑... ...正在兴起：艺术类的职业，画家、音乐家、服务员、知识管理和个人规划专家...
              </p>
              <div class="meta">
                <a target="_blank" href="/p/a379debe4dd9">
                  <i class="iconfont ic-list-read"></i> 10554
                </a>        <a target="_blank" href="/p/a379debe4dd9#comments">
                <i class="iconfont ic-list-comments"></i> 1134
              </a>      <span><i class="iconfont ic-list-like"></i> 322</span>
                <span><i class="iconfont ic-list-money"></i> 12</span>
              </div>
            </div>
          </li>
          <li id="note-13049926" data-note-id="13049926" class="have-img">
            <a class="wrap-img" href="/p/ccc104a0639e" target="_blank">
              <img data-echo="//upload-images.jianshu.io/upload_images/2484282-74155d744f489041.jpg?imageMogr2/auto-orient/strip|imageView2/1/w/375/h/300" class="img-blur" src="//upload-images.jianshu.io/upload_images/2484282-74155d744f489041.jpg?imageMogr2/auto-orient/strip|imageView2/1/w/150/h/120" alt="120">
            </a>
            <div class="content">
              <div class="author">
                <a class="avatar" target="_blank" href="/u/5dbd34b241c6">
                  <img src="//upload.jianshu.io/users/upload_avatars/2484282/c0ae3290-474c-4cae-a3fa-e06c57642b2a.jpg?imageMogr2/auto-orient/strip|imageView2/1/w/96/h/96" alt="96">
                </a>      <div class="name">
                <a class="blue-link" target="_blank" href="/u/5dbd34b241c6">苏沐医编</a>
                <span class="time" data-shared-at="2017-06-02T16:39:57+08:00">06.02 16:39</span>
              </div>
              </div>
              <a class="title" target="_blank" href="/p/ccc104a0639e">我就是那个被简书拯救过来的姑娘</a>
              <p class="abstract">
                简书像对我进行了人工呼吸，恢复了我的心跳，砰砰有力，让我重获新生，不再像死人一样的活着。 文/苏沐 【1】 有人说，最理想的生活就是干净的圈子，规律但偶尔放肆的生活，还有喜欢...
              </p>
              <div class="meta">
                <a target="_blank" href="/p/ccc104a0639e">
                  <i class="iconfont ic-list-read"></i> 12518
                </a>        <a target="_blank" href="/p/ccc104a0639e#comments">
                <i class="iconfont ic-list-comments"></i> 591
              </a>      <span><i class="iconfont ic-list-like"></i> 1067</span>
                <span><i class="iconfont ic-list-money"></i> 13</span>
              </div>
            </div>
          </li>

        </ul>
      </div>
    </div>
    <div class="col-xs-7 col-xs-offset-1 aside">
      <div class="recommend"><div class="title"><span>推荐作者</span> <div class="reload"><div class="page-count">1/40</div> <div class="page-change"><a><i class="iconfont ic-previous-s"></i></a> <a><i class="iconfont ic-next-s"></i></a></div></div></div> <ul class="list"><li><a href="/u/5SqsuF?utm_source=desktop&amp;utm_medium=index-users" target="_blank" class="avatar"><img src="//upload.jianshu.io/users/upload_avatars/6287/06c537002583.png?imageMogr2/auto-orient/strip|imageView2/1/w/144/h/144"></a> <a class="follow"><i class="iconfont ic-follow"></i>关注
      </a> <a href="/u/5SqsuF?utm_source=desktop&amp;utm_medium=index-users" target="_blank" class="name">
        刘淼
      </a> <p>
        写了333.7K字 · 17.4K喜欢
      </p></li><li><a href="/u/ab2e050ad67f?utm_source=desktop&amp;utm_medium=index-users" target="_blank" class="avatar"><img src="//upload.jianshu.io/users/upload_avatars/967456/c98099dae618.jpg?imageMogr2/auto-orient/strip|imageView2/1/w/144/h/144"></a> <a class="follow"><i class="iconfont ic-follow"></i>关注
      </a> <a href="/u/ab2e050ad67f?utm_source=desktop&amp;utm_medium=index-users" target="_blank" class="name">
        沐儿
      </a> <p>
        写了337.5K字 · 22.4K喜欢
      </p></li><li><a href="/u/1441f4ae075d?utm_source=desktop&amp;utm_medium=index-users" target="_blank" class="avatar"><img src="//upload.jianshu.io/users/upload_avatars/195046/65f2b15c-fdae-44f4-8ae8-726b55bbc06e.jpg?imageMogr2/auto-orient/strip|imageView2/1/w/144/h/144"></a> <a class="follow"><i class="iconfont ic-follow"></i>关注
      </a> <a href="/u/1441f4ae075d?utm_source=desktop&amp;utm_medium=index-users" target="_blank" class="name">
        彭小六
      </a> <p>
        写了577.5K字 · 199.5K喜欢
      </p></li><li><a href="/u/49c73adacb4b?utm_source=desktop&amp;utm_medium=index-users" target="_blank" class="avatar"><img src="//upload.jianshu.io/users/upload_avatars/1718706/2a20cd39edb4?imageMogr2/auto-orient/strip|imageView2/1/w/144/h/144"></a> <a class="follow"><i class="iconfont ic-follow"></i>关注
      </a> <a href="/u/49c73adacb4b?utm_source=desktop&amp;utm_medium=index-users" target="_blank" class="name">
        挽梨
      </a> <p>
        写了267.7K字 · 9.9K喜欢
      </p></li><li><a href="/u/1d59a1dd4bd4?utm_source=desktop&amp;utm_medium=index-users" target="_blank" class="avatar"><img src="//upload.jianshu.io/users/upload_avatars/2184130/cf6c9f3d30eb?imageMogr2/auto-orient/strip|imageView2/1/w/144/h/144"></a> <a class="follow"><i class="iconfont ic-follow"></i>关注
      </a> <a href="/u/1d59a1dd4bd4?utm_source=desktop&amp;utm_medium=index-users" target="_blank" class="name">
        朱子先生
      </a> <p>
        写了248.3K字 · 7.4K喜欢
      </p></li></ul> <a href="/recommendations/users?utm_source=desktop&amp;utm_medium=index-users" target="_blank" class="find-more">
        查看全部<i class="iconfont ic-link"></i></a></div>
    </div>
  </div>
</div>
