<ul class="trigger-menu" data-pjax-container="#list-container">
    <li class="active"><a href="/u/c1fed915ed12?order_by=shared_at"><i class="icon-articles"></i> 文章</a></li>
    <li class=""><a href="/users/c1fed915ed12/timeline"><i class="icon-feed"></i> 动态</a></li>
    <li class=""><a href="/u/c1fed915ed12?order_by=commented_at"><i class="icon-latestcomments"></i> 最新评论</a></li>
    <li class=""><a href="/u/c1fed915ed12?order_by=top"><i class="icon-hot"></i> 热门</a></li>
</ul>
<div id="list-container">
    <!-- 文章列表模块 -->
    <ul class="note-list" infinite-scroll-url="/u/c1fed915ed12?order_by=shared_at">
        <li id="note-13131753" data-note-id="13131753" class="have-img">
            <a class="wrap-img" href="/p/1b61d1dcd1ef" target="_blank">
                <img class="img-blur-done" src="//upload-images.jianshu.io/upload_images/1669869-0e9e0efc4f4f3991.jpg?imageMogr2/auto-orient/strip|imageView2/1/w/375/h/300" alt="120">
            </a>
            <div class="content">
                <div class="author">
                    <a class="avatar" target="_blank" href="/u/c1fed915ed12">
                        <img src="//upload.jianshu.io/users/upload_avatars/1669869/21cc1916b6a4.jpg?imageMogr2/auto-orient/strip|imageView2/1/w/96/h/96" alt="96">
                    </a>
                    <div class="name">
                        <a class="blue-link" target="_blank" href="/u/c1fed915ed12">顾一宸</a>
                        <span class="time" data-shared-at="2017-06-05T09:19:25+08:00">4 小时前</span>
                    </div>
                </div>
                <a class="title" target="_blank" href="/p/1b61d1dcd1ef">你努力合群的样子好孤独</a>
                <p class="abstract">
                    1. 刚上大学那会，我特别热衷于参加各种社团，觉得社团生活丰富多彩，特别有意思，肯定能好好锻炼自己。 我一股脑报名了很多社团：校学生会、院学生会、院辩论队、棋艺协会……还没入...
                </p>
                <div class="meta">
                    <a target="_blank" href="/p/1b61d1dcd1ef">
                        <i class="iconfont ic-list-read"></i> 4467
                    </a>
                    <a target="_blank" href="/p/1b61d1dcd1ef#comments">
                        <i class="iconfont ic-list-comments"></i> 55
                    </a> <span><i class="iconfont ic-list-like"></i> 198</span>
                    <span><i class="iconfont ic-list-money"></i> 1</span>
                </div>
            </div>
        </li>

        <li id="note-12996660" data-note-id="12996660" class="have-img">
            <a class="wrap-img" href="/p/42a2cf0c28fc" target="_blank">
                <img class="img-blur-done" src="//upload-images.jianshu.io/upload_images/1669869-4eae0f56f9d6ed93.jpg?imageMogr2/auto-orient/strip|imageView2/1/w/375/h/300" alt="120">
            </a>
            <div class="content">
                <div class="author">
                    <a class="avatar" target="_blank" href="/u/c1fed915ed12">
                        <img src="//upload.jianshu.io/users/upload_avatars/1669869/21cc1916b6a4.jpg?imageMogr2/auto-orient/strip|imageView2/1/w/96/h/96" alt="96">
                    </a>
                    <div class="name">
                        <a class="blue-link" target="_blank" href="/u/c1fed915ed12">顾一宸</a>
                        <span class="time" data-shared-at="2017-06-01T07:13:07+08:00">06.01 07:13</span>
                    </div>
                </div>
                <a class="title" target="_blank" href="/p/42a2cf0c28fc">爱不爱，看味道就知道</a>
                <p class="abstract">
                    1. 随着《欢乐颂2》的热播，五美又霸屏了。身边的朋友都在讨论哪组CP最有夫妻相，能够走到最后，有说安迪和小包总的，有说曲筱绡和赵医生的，有说樊胜美和王柏川的，可我觉得邱莹莹...
                </p>
                <div class="meta">
                    <a target="_blank" href="/p/42a2cf0c28fc">
                        <i class="iconfont ic-list-read"></i> 6440
                    </a>
                    <a target="_blank" href="/p/42a2cf0c28fc#comments">
                        <i class="iconfont ic-list-comments"></i> 38
                    </a> <span><i class="iconfont ic-list-like"></i> 114</span>
                    <span><i class="iconfont ic-list-money"></i> 2</span>
                </div>
            </div>
        </li>

        <li id="note-12958379" data-note-id="12958379" class="have-img">
            <a class="wrap-img" href="/p/73974dee1f60" target="_blank">
                <img class="img-blur-done" src="//upload-images.jianshu.io/upload_images/1669869-2259359dd4c46801.jpeg?imageMogr2/auto-orient/strip|imageView2/1/w/375/h/300" alt="120">
            </a>
            <div class="content">
                <div class="author">
                    <a class="avatar" target="_blank" href="/u/c1fed915ed12">
                        <img src="//upload.jianshu.io/users/upload_avatars/1669869/21cc1916b6a4.jpg?imageMogr2/auto-orient/strip|imageView2/1/w/96/h/96" alt="96">
                    </a>
                    <div class="name">
                        <a class="blue-link" target="_blank" href="/u/c1fed915ed12">顾一宸</a>
                        <span class="time" data-shared-at="2017-05-31T08:40:54+08:00">05.31 08:40</span>
                    </div>
                </div>
                <a class="title" target="_blank" href="/p/73974dee1f60">我们呐，都曾经天真傻气如邱莹莹啊</a>
                <p class="abstract">
                    1. 前几天和几位朋友闲聊时，说到了热播的《欢乐颂2》，让我意外的是，他们最讨厌的人不是爱惹事不安分的曲筱绡，而是心直口快的邱莹莹。说到原因时，他们一脸嫌弃地说邱莹莹智商和情...
                </p>
                <div class="meta">
                    <a target="_blank" href="/p/73974dee1f60">
                        <i class="iconfont ic-list-read"></i> 7171
                    </a>
                    <a target="_blank" href="/p/73974dee1f60#comments">
                        <i class="iconfont ic-list-comments"></i> 53
                    </a> <span><i class="iconfont ic-list-like"></i> 200</span>
                    <span><i class="iconfont ic-list-money"></i> 1</span>
                </div>
            </div>
        </li>

        <li id="note-12730519" data-note-id="12730519" class="have-img">
            <a class="wrap-img" href="/p/1f630b5f4655" target="_blank">
                <img data-echo="//upload-images.jianshu.io/upload_images/1669869-9e67820a716cc5da.jpg?imageMogr2/auto-orient/strip|imageView2/1/w/375/h/300" class="img-blur" src="//upload-images.jianshu.io/upload_images/1669869-9e67820a716cc5da.jpg?imageMogr2/auto-orient/strip|imageView2/1/w/150/h/120"
                    alt="120">
            </a>
            <div class="content">
                <div class="author">
                    <a class="avatar" target="_blank" href="/u/c1fed915ed12">
                        <img src="//upload.jianshu.io/users/upload_avatars/1669869/21cc1916b6a4.jpg?imageMogr2/auto-orient/strip|imageView2/1/w/96/h/96" alt="96">
                    </a>
                    <div class="name">
                        <a class="blue-link" target="_blank" href="/u/c1fed915ed12">顾一宸</a>
                        <span class="time" data-shared-at="2017-05-24T08:37:56+08:00">05.24 08:37</span>
                    </div>
                </div>
                <a class="title" target="_blank" href="/p/1f630b5f4655">人生这场博弈，我们是怎么输给他们的？</a>
                <p class="abstract">
                    1. 前几天，我从重庆飞回昆明，在从机场往外走的时候，走在我前面的是一位四十岁左右的女士，保养得很好，妆容精致，衣着得体。她一手拖着旅行箱，一手牵着她女儿——一个十六岁左右长...
                </p>
                <div class="meta">
                    <a target="_blank" href="/p/1f630b5f4655">
                        <i class="iconfont ic-list-read"></i> 3020
                    </a>
                    <a target="_blank" href="/p/1f630b5f4655#comments">
                        <i class="iconfont ic-list-comments"></i> 31
                    </a> <span><i class="iconfont ic-list-like"></i> 149</span>
                </div>
            </div>
        </li>

        <li id="note-12659244" data-note-id="12659244" class="have-img">
            <a class="wrap-img" href="/p/d7a9214e8bec" target="_blank">
                <img data-echo="//upload-images.jianshu.io/upload_images/1669869-40c2ff66cbe52fb6.jpg?imageMogr2/auto-orient/strip|imageView2/1/w/375/h/300" class="img-blur" src="//upload-images.jianshu.io/upload_images/1669869-40c2ff66cbe52fb6.jpg?imageMogr2/auto-orient/strip|imageView2/1/w/150/h/120"
                    alt="120">
            </a>
            <div class="content">
                <div class="author">
                    <a class="avatar" target="_blank" href="/u/c1fed915ed12">
                        <img src="//upload.jianshu.io/users/upload_avatars/1669869/21cc1916b6a4.jpg?imageMogr2/auto-orient/strip|imageView2/1/w/96/h/96" alt="96">
                    </a>
                    <div class="name">
                        <a class="blue-link" target="_blank" href="/u/c1fed915ed12">顾一宸</a>
                        <span class="time" data-shared-at="2017-05-22T09:07:54+08:00">05.22 09:07</span>
                    </div>
                </div>
                <a class="title" target="_blank" href="/p/d7a9214e8bec">只花三千和敢花三万的人到底有什么不一样？</a>
                <p class="abstract">
                    1. 之前朋友圈里疯转过一篇爆文《月薪三千和月薪三万过的是两种人生》，说的是月薪三千和月薪三万的人在时间观念、朋友圈子和生活品质上都有巨大的差别。 要我说啊，岂止是两种不同的...
                </p>
                <div class="meta">
                    <a target="_blank" href="/p/d7a9214e8bec">
                        <i class="iconfont ic-list-read"></i> 7061
                    </a>
                    <a target="_blank" href="/p/d7a9214e8bec#comments">
                        <i class="iconfont ic-list-comments"></i> 61
                    </a> <span><i class="iconfont ic-list-like"></i> 227</span>
                </div>
            </div>
        </li>

        <li id="note-12455110" data-note-id="12455110" class="have-img">
            <a class="wrap-img" href="/p/19eb1a5ca623" target="_blank">
                <img data-echo="//upload-images.jianshu.io/upload_images/1669869-ecfbc342b62868a1.jpg?imageMogr2/auto-orient/strip|imageView2/1/w/375/h/300" class="img-blur" src="//upload-images.jianshu.io/upload_images/1669869-ecfbc342b62868a1.jpg?imageMogr2/auto-orient/strip|imageView2/1/w/150/h/120"
                    alt="120">
            </a>
            <div class="content">
                <div class="author">
                    <a class="avatar" target="_blank" href="/u/c1fed915ed12">
                        <img src="//upload.jianshu.io/users/upload_avatars/1669869/21cc1916b6a4.jpg?imageMogr2/auto-orient/strip|imageView2/1/w/96/h/96" alt="96">
                    </a>
                    <div class="name">
                        <a class="blue-link" target="_blank" href="/u/c1fed915ed12">顾一宸</a>
                        <span class="time" data-shared-at="2017-05-16T07:44:29+08:00">05.16 07:44</span>
                    </div>
                </div>
                <a class="title" target="_blank" href="/p/19eb1a5ca623">大学四年你一定要养成这五个好习惯</a>
                <p class="abstract">
                    韩寒曾经在博客里写过：有人住高楼，有人在深沟，有人光万丈，有人一身锈。文字很美，写出的却是无奈又沉重的现实。是啊，人和人之间，就是有着这样巨大的差别，不可忽视，难以逾越。 可...
                </p>
                <div class="meta">
                    <a target="_blank" href="/p/19eb1a5ca623">
                        <i class="iconfont ic-list-read"></i> 6697
                    </a>
                    <a target="_blank" href="/p/19eb1a5ca623#comments">
                        <i class="iconfont ic-list-comments"></i> 81
                    </a> <span><i class="iconfont ic-list-like"></i> 322</span>
                    <span><i class="iconfont ic-list-money"></i> 2</span>
                </div>
            </div>
        </li>

        <li id="note-12422173" data-note-id="12422173" class="have-img">
            <a class="wrap-img" href="/p/f82a933c7121" target="_blank">
                <img data-echo="//upload-images.jianshu.io/upload_images/1669869-a833d2c7035e40be.jpg?imageMogr2/auto-orient/strip|imageView2/1/w/375/h/300" class="img-blur" src="//upload-images.jianshu.io/upload_images/1669869-a833d2c7035e40be.jpg?imageMogr2/auto-orient/strip|imageView2/1/w/150/h/120"
                    alt="120">
            </a>
            <div class="content">
                <div class="author">
                    <a class="avatar" target="_blank" href="/u/c1fed915ed12">
                        <img src="//upload.jianshu.io/users/upload_avatars/1669869/21cc1916b6a4.jpg?imageMogr2/auto-orient/strip|imageView2/1/w/96/h/96" alt="96">
                    </a>
                    <div class="name">
                        <a class="blue-link" target="_blank" href="/u/c1fed915ed12">顾一宸</a>
                        <span class="time" data-shared-at="2017-05-15T08:59:10+08:00">05.15 08:59</span>
                    </div>
                </div>
                <a class="title" target="_blank" href="/p/f82a933c7121">晚点遇到你，余生都是你</a>
                <p class="abstract">
                    1. 你累了吧？ 一个人走了那么久，才终于遇见我。那些没有我的日子，一个人撑得并不容易，对吗？ 有人说，你的生命里会有一个人，他的出现，会让你之前的等待都变得值得，你要相信，...
                </p>
                <div class="meta">
                    <a target="_blank" href="/p/f82a933c7121">
                        <i class="iconfont ic-list-read"></i> 12450
                    </a>
                    <a target="_blank" href="/p/f82a933c7121#comments">
                        <i class="iconfont ic-list-comments"></i> 141
                    </a> <span><i class="iconfont ic-list-like"></i> 458</span>
                    <span><i class="iconfont ic-list-money"></i> 2</span>
                </div>
            </div>
        </li>

        <li id="note-12385814" data-note-id="12385814" class="have-img">
            <a class="wrap-img" href="/p/e4fcda6f7921" target="_blank">
                <img data-echo="//upload-images.jianshu.io/upload_images/1669869-b4ebba026a6c6615.jpg?imageMogr2/auto-orient/strip|imageView2/1/w/375/h/300" class="img-blur" src="//upload-images.jianshu.io/upload_images/1669869-b4ebba026a6c6615.jpg?imageMogr2/auto-orient/strip|imageView2/1/w/150/h/120"
                    alt="120">
            </a>
            <div class="content">
                <div class="author">
                    <a class="avatar" target="_blank" href="/u/c1fed915ed12">
                        <img src="//upload.jianshu.io/users/upload_avatars/1669869/21cc1916b6a4.jpg?imageMogr2/auto-orient/strip|imageView2/1/w/96/h/96" alt="96">
                    </a>
                    <div class="name">
                        <a class="blue-link" target="_blank" href="/u/c1fed915ed12">顾一宸</a>
                        <span class="time" data-shared-at="2017-05-14T08:24:23+08:00">05.14 08:24</span>
                    </div>
                </div>
                <a class="title" target="_blank" href="/p/e4fcda6f7921">什么样的文章才能让人拍案叫绝？</a>
                <p class="abstract">
                    重要提示： 如果你想写出更吸引人、传播性更好的文章，如果你想在自媒体的道路上走得更快更稳健，那么，你会需要这门写作及自媒体进阶课程（戳进去，就能看到课程相关内容），课程正在火...
                </p>
                <div class="meta">
                    <a target="_blank" href="/p/e4fcda6f7921">
                        <i class="iconfont ic-list-read"></i> 1971
                    </a>
                    <a target="_blank" href="/p/e4fcda6f7921#comments">
                        <i class="iconfont ic-list-comments"></i> 17
                    </a> <span><i class="iconfont ic-list-like"></i> 96</span>
                    <span><i class="iconfont ic-list-money"></i> 2</span>
                </div>
            </div>
        </li>

        <li id="note-12354723" data-note-id="12354723" class="have-img">
            <a class="wrap-img" href="/p/c791a724e439" target="_blank">
                <img data-echo="//upload-images.jianshu.io/upload_images/1669869-efe3a83150d44875.jpg?imageMogr2/auto-orient/strip|imageView2/1/w/375/h/300" class="img-blur" src="//upload-images.jianshu.io/upload_images/1669869-efe3a83150d44875.jpg?imageMogr2/auto-orient/strip|imageView2/1/w/150/h/120"
                    alt="120">
            </a>
            <div class="content">
                <div class="author">
                    <a class="avatar" target="_blank" href="/u/c1fed915ed12">
                        <img src="//upload.jianshu.io/users/upload_avatars/1669869/21cc1916b6a4.jpg?imageMogr2/auto-orient/strip|imageView2/1/w/96/h/96" alt="96">
                    </a>
                    <div class="name">
                        <a class="blue-link" target="_blank" href="/u/c1fed915ed12">顾一宸</a>
                        <span class="time" data-shared-at="2017-05-13T00:43:16+08:00">05.13 00:43</span>
                    </div>
                </div>
                <a class="title" target="_blank" href="/p/c791a724e439">别快到母亲节了才想起妈妈，好吗？</a>
                <p class="abstract">
                    重要提示： 如果你想写出更吸引人、传播性更好的文章，如果你想在自媒体的道路上走得更快更稳健，那么，你会需要这门写作及自媒体进阶课程（戳进去，就能看到课程相关内容），课程正在火...
                </p>
                <div class="meta">
                    <a target="_blank" href="/p/c791a724e439">
                        <i class="iconfont ic-list-read"></i> 1909
                    </a>
                    <a target="_blank" href="/p/c791a724e439#comments">
                        <i class="iconfont ic-list-comments"></i> 52
                    </a> <span><i class="iconfont ic-list-like"></i> 77</span>
                </div>
            </div>
        </li>

    </ul>

</div>