<div class="row">
  <div class="col-xs-17 main">
    <a target="_blank" href="http://www.jianshu.com/c/jppzD2">关于简书</a><em> · </em>
    <a routerLink="/contact">联系我们</a><em> · </em>
    <a target="_blank" href="http://www.jianshu.com/c/bfeec2e13990">加入我们</a><em> · </em>
    <a target="_blank" href="http://www.jianshu.com/p/ab3a3856cdaf">作者成书计划</a><em> · </em>
    <a target="_blank" href="http://www.jianshu.com/nb/547">帮助中心</a><em> · </em>
    <a target="_blank" href="http://www.jianshu.com/p/cabc8fa39830">合作伙伴</a>
    <div class="icp">
      ©2012-2017 上海佰集信息科技有限公司 / Tel:021-61995350 / 简书 / 沪ICP备11018329号-5 / <a target="_blank"
                                                                              href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=31010602000064">沪公网安备31010602000064号</a>
      <a target="_blank" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=31010602000064">
        <img src="//cdn2.jianshu.io/assets/web/smrz-14723344f0991457bfc9f5172c219a5f.png" alt="Smrz">
      </a></div>
  </div>
</div>
