@import "../root.css";

:host {
  @apply --block-full-screen;
}

body {
  background-color: red;
}

:host /deep/ .g-navbar {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
  min-height: 50px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  &.navbar-default {
    background-color: #fff;
    border-color: #f0f0f0
  }
}

.app-progress-bar-container {
  position: fixed;
  top: 0;
  z-index: 1050;
  overflow: hidden;
  height: 2px;
  width: 100vw;
}
