.m-error-logo{
  margin: 0;
  & img{
    position: absolute;
    left: 40px;
    top: 40px;
    width: 300px;
  }
}
.m-error-block{
  width: 100%;
  max-width: 1440px;
  min-width: 768px;
  margin: 0 auto;
  padding: 80px 0 20px;
  text-align: center;
  & img{
    width: 220px;
  }
  & h3{
    margin: 40px 0 20px 0;
  }
  & p{
    margin: 10px 0 30px 0;
    font-size: 14px;
  }
  & a{
    font-size: 16px;
    border-radius: 40px;
  }
}
