<div class="img"></div>
<div class="content">
    <div class="author">
        <div class="avatar"></div>
        <div class="name"></div>
    </div>
    <div class="title"></div>
    <div class="text"></div>
    <div class="text animation-delay"></div>
    <div class="text short-text"></div>
    <div class="meta">
        <div class="tag"></div>
        <i class="icon-list-read"></i>
        <div class="read"></div>
        <i class="icon-list-comments"></i>
        <div class="small"></div>
        <i class="icon-list-like"></i>
        <div class="small"></div>
    </div>
</div>