<div class="container faqs"><div class="col-xs-16 main"><div class="category-title">热门问题</div> <div class="questions"><a href="/p/3aea6c982ef8" target="_blank" class="question-title">
  如何在简书进行创作
</a><a href="/p/72f326961ab3" target="_blank" class="question-title">
  简书赞赏和提现说明
</a><a href="/p/eea64a29cf9d" target="_blank" class="question-title">
  简书账号绑定解绑相关问题汇总
</a><a href="/p/2c2939855887" target="_blank" class="question-title">
  如果你被封号了？
</a><a href="/p/8d850339c63b" target="_blank" class="question-title">
  关于凌晨两点至六点发布的新文章审核时间的说明公告
</a><a href="/p/8d3296037f59" target="_blank" class="question-title">
  关于举报“抄袭类文章”的说明
</a><a href="/p/15f4a9bd6321" target="_blank" class="question-title">
  为什么文章会被锁定？
</a></div> <div><div class="category-title">如何玩转简书</div> <div class="questions"><a href="/p/14fe9be38baa" target="_blank" class="question-title">
  怎么关闭评论
</a><a href="/p/3aea6c982ef8" target="_blank" class="question-title">
  如何在简书进行创作
</a><a href="/p/2d42e9b14c70" target="_blank" class="question-title">
  发现页热门文章使用指南
</a> <a class="question-title more">
  展开全部
  <i class="iconfont ic-show"></i></a> <!----></div></div><div><div class="category-title">简书帮助中心</div> <div class="questions"><a href="/p/3cb4c632dff0" target="_blank" class="question-title">
  验证码控件异常问题的错误提示详情
</a><a href="/p/e0655753c84e" target="_blank" class="question-title">
  历史版本
</a><a href="/p/c903745c1322" target="_blank" class="question-title">
  上传图片的私密性说明
</a><a href="/p/pAPzwS" target="_blank" class="question-title">
  简信
</a><a href="/p/UMMtHa" target="_blank" class="question-title">
  喜欢的文章
</a><a href="/p/4sdEia" target="_blank" class="question-title">
  我的动态
</a><a href="/p/WGSSGz" target="_blank" class="question-title">
  个人主页
</a><a href="/p/opYSw1" target="_blank" class="question-title">
  作者推荐
</a><a href="/p/zvHQ2G" target="_blank" class="question-title">
  好文推荐
</a><a href="/p/jmepzd" target="_blank" class="question-title">
  专题
</a><a href="/p/em2j6x" target="_blank" class="question-title">
  简友圈
</a><a href="/p/q81RER" target="_blank" class="question-title">
  献给写作者的 Markdown 新手指南
</a><a href="/p/UsAsfW" target="_blank" class="question-title">
  Markdown 编辑器
</a><a href="/p/j2qVUo" target="_blank" class="question-title">
  富文本（Rich-text）编辑器
</a><a href="/p/wxeN9i" target="_blank" class="question-title">
  文章书写
</a><a href="/p/D5hyMr" target="_blank" class="question-title">
  文章管理
</a><a href="/p/uU89UQ" target="_blank" class="question-title">
  文集管理
</a><a href="/p/pUWzkq" target="_blank" class="question-title">
  阅读主界面
</a><a href="/p/HEQ8KB" target="_blank" class="question-title">
  写作主界面
</a><a href="/p/hYkqcM" target="_blank" class="question-title">
  设置
</a><a href="/p/PL9y6P" target="_blank" class="question-title">
  帐号注册、登录与删除
</a><a href="/p/67b2ec2cb0de" target="_blank" class="question-title">
  如何插入图片
</a><a href="/p/caf48155b58f" target="_blank" class="question-title">
  专题审核新技能，对于不需要审核的专题，如何事后更好的管理
</a><a href="/p/733f1bda183d" target="_blank" class="question-title">
  简书新浪微博联合认证说明
</a><a href="/p/1dbabe384ae2" target="_blank" class="question-title">
  简书帐号绑定相关问题
</a><a href="/p/72f326961ab3" target="_blank" class="question-title">
  简书赞赏和提现说明
</a><a href="/p/ksqQTS" target="_blank" class="question-title">
  常见问题
</a><a href="/p/fbdc9fc74f0a" target="_blank" class="question-title">
  你好，简书
</a> <!----> <!----></div></div><div><div class="category-title">身份认证</div> <div class="questions"><a href="/p/a7ceedd3f4b5" target="_blank" class="question-title">
  简书新浪微博联合认证说明
</a><a href="/p/70bd7b5a489e" target="_blank" class="question-title">
  如何申请成为签约作者
</a> <!----> <!----></div></div><div><div class="category-title">简书账号问题</div> <div class="questions"><a href="/p/15f4a9bd6321" target="_blank" class="question-title">
  为什么文章会被锁定？
</a><a href="/p/2c2939855887" target="_blank" class="question-title">
  如果你被封号了？
</a><a href="/p/eea64a29cf9d" target="_blank" class="question-title">
  简书账号绑定解绑相关问题汇总
</a><a href="/p/906eec100c75" target="_blank" class="question-title">
  我记得简书的昵称，忘记了登录方式怎么办
</a><a href="/p/8453aa356878" target="_blank" class="question-title">
  如何注销简书账号
</a><a href="/p/29dc5947ad4f" target="_blank" class="question-title">
  如何绑定和解绑手机号/邮箱
</a><a href="/p/298e47f8f31b" target="_blank" class="question-title">
  多个账号支持合并吗？
</a><a href="/p/639370fae073" target="_blank" class="question-title">
  绑定账号的时候提示被占用怎么办？
</a> <!----> <!----></div></div></div> <div class="col-xs-7 col-xs-offset-1 aside"><div class="go-to-feedback"><img src="//cdn2.jianshu.io/assets/web/faqs-helps-1235ff8d1b459bc6e8f838db329150a5.png" alt="Helps"> <div class="text">
  没解决你的疑问？
  <a href="/help"> 去反馈 <i class="iconfont ic-link"></i></a></div></div> <div class="hint-text">添加简书小飞（吕芷萱）微信号：L1272312505，备注“Web公测”，加群第一时间获得帮助。</div> <div class="hint-text">也可以<a href="/contact"> 联系我们 <i class="iconfont ic-link"></i></a></div></div></div>
