.collection {
  display: inline-block;
  margin: 0 18px 18px 0;
  min-height: 32px;
  background-color: #f7f7f7;
  border: 1px solid #dcdcdc;
  border-radius: 4px;
  vertical-align: top;
  overflow: hidden;
  & img{
    width: 32px;
  }
  & .name{
    display: inline-block;
    padding: 0 11px 0 6px;
    font-size: 14px;
  }
}
.more-hot-collection{
  display: inline-block;
  margin-top: 7px;
  font-size: 14px;
  color: #787878;
}
