.user-placeholder {
  padding-bottom: 20px;
  & .avatar {
    position: absolute;
    cursor: default;
    margin-top: 5px;
    width: 52px;
    height: 52px;
    background-color: #eaeaea;
    border-radius: 50%;
  }
  & .wrap {
    padding: 3px 0 16px 65px;
    border-bottom: 1px solid #f0f0f0;
    & .btn {
      cursor: default;
      margin-top: 5px;
      float: right;
      width: 100px;
      height: 39px;
      background-color: #eaeaea;
      border-radius: 20px;
    }
    & .name {
      width: 30px;
      height: 15px;
      background-color: #eaeaea;
    }
    & .text {
      margin: 7px 0;
      width: 40%;
      height: 12px;
      background-color: #eaeaea;
      animation: shortLoading 1s ease-in-out -.5s infinite;
    }
    & .short-text {
      width: 40%;
      animation: shortLoading 1s ease-in-out infinite;
    }
  }
}
@keyframes shortLoading {
  0% {
    width: 20%
  }

  50% {
    width: 40%
  }

  to {
    width: 20%
  }
}
