<div class="container recommend">
  <img class="recommend-banner" src="//cdn2.jianshu.io/assets/web/recommend-author-03cc8798d5cc3f986e49cbcb2eb63079.png" alt="Recommend author">
  <div class="row">

    <div class="col-xs-8">
      <div class="wrap">
        <a class="avatar" target="_blank" href="/users/5SqsuF">
          <img src="//upload.jianshu.io/users/upload_avatars/6287/06c537002583.png?imageMogr2/auto-orient/strip|imageView2/1/w/180/h/180" alt="180">
        </a>    <h4>
        <a class="name" target="_blank" href="/users/5SqsuF">刘淼</a>

      </h4>
        <p class="description">关注公众号“茶点故事”，每天一个好故事。
          ...</p>

        <a class="btn btn-success follow"><i class="iconfont ic-follow"></i><span>关注</span></a>

        <hr>
        <div class="meta">最近更新</div>
        <div class="recent-update">
          <a class="new" target="_blank" href="/p/dae9eb43ca28">江湖最后一位笑星（三十五）</a>
          <a class="new" target="_blank" href="/p/5c84127ef097">江湖最后一位笑星（三十四）</a>
          <a class="new" target="_blank" href="/p/335db6b43af1">江湖最后一位笑星（三十三）</a>
        </div>
      </div>
    </div>


    <div class="col-xs-8">
      <div class="wrap">
        <a class="avatar" target="_blank" href="/users/1d59a1dd4bd4">
          <img src="//upload.jianshu.io/users/upload_avatars/2184130/cf6c9f3d30eb?imageMogr2/auto-orient/strip|imageView2/1/w/180/h/180" alt="180">
        </a>    <h4>
        <a class="name" target="_blank" href="/users/1d59a1dd4bd4">朱子先生</a>

      </h4>
        <p class="description">读书，行路，按快门，讲故事。
          写作圈里最会...</p>

        <a class="btn btn-success follow"><i class="iconfont ic-follow"></i><span>关注</span></a>

        <hr>
        <div class="meta">最近更新</div>
        <div class="recent-update">
          <a class="new" target="_blank" href="/p/f6942b3b9859">【每日壹图】没带三脚架，我是怎么拍慢门的？</a>
          <a class="new" target="_blank" href="/p/3154e42f0422">【每日壹图】在一夫当关万夫莫开的剑门关，我用了一个道具拍这张照片</a>
          <a class="new" target="_blank" href="/p/a17a5d5cdeaf">【每日壹图】在武汉长江大桥下，我却拍了这个</a>
        </div>
      </div>
    </div>


    <div class="col-xs-8">
      <div class="wrap">
        <a class="avatar" target="_blank" href="/users/680ea2b754fc">
          <img src="//upload.jianshu.io/users/upload_avatars/23852/cc0c1e84a511.jpeg?imageMogr2/auto-orient/strip|imageView2/1/w/180/h/180" alt="180">
        </a>    <h4>
        <a class="name" target="_blank" href="/users/680ea2b754fc">魔鬼的赞歌</a>
        <i class="iconfont ic-man"></i>
      </h4>
        <p class="description">影视天堂专题主编。入影视微信群请联系管理员@...</p>

        <a class="btn btn-success follow"><i class="iconfont ic-follow"></i><span>关注</span></a>

        <hr>
        <div class="meta">最近更新</div>
        <div class="recent-update">
          <a class="new" target="_blank" href="/p/f2652d07e495">财报业绩不佳，华谊兄弟正往何处去？</a>
          <a class="new" target="_blank" href="/p/a3094bd893cb">「院线」和「电影」，万达A股更改名称的背后</a>
          <a class="new" target="_blank" href="/p/5b41a6868d44">《辛普森：美国制造》：带血的美国梦</a>
        </div>
      </div>
    </div>


    <div class="col-xs-8">
      <div class="wrap">
        <a class="avatar" target="_blank" href="/users/1bfbfe5059dc">
          <img src="//upload.jianshu.io/users/upload_avatars/5101324/d13967fe-9448-425c-986e-8a62574257d0.jpg?imageMogr2/auto-orient/strip|imageView2/1/w/180/h/180" alt="180">
        </a>    <h4>
        <a class="name" target="_blank" href="/users/1bfbfe5059dc">沪江英语</a>

      </h4>
        <p class="description">英语学习界的维生素片。</p>

        <a class="btn btn-success follow"><i class="iconfont ic-follow"></i><span>关注</span></a>

        <hr>
        <div class="meta">最近更新</div>
        <div class="recent-update">
          <a class="new" target="_blank" href="/p/99d2a38aa53f">给工资都不要？世界上还有这样的国家？【一词日历·2017年6月5日】</a>
          <a class="new" target="_blank" href="/p/0fd2ce24f129">这个卖过期食品的大叔，为何被美国人视为英雄？【一词日历·2017年6月4日】</a>
          <a class="new" target="_blank" href="/p/7db812afedb0">中国人习以为常的包子，被这个法国女人做成了艺术【一词日历·2017年6月3日】</a>
        </div>
      </div>
    </div>


    <div class="col-xs-8">
      <div class="wrap">
        <a class="avatar" target="_blank" href="/users/8f798fa68365">
          <img src="//upload.jianshu.io/users/upload_avatars/3598054/9ac398074ca8.jpg?imageMogr2/auto-orient/strip|imageView2/1/w/180/h/180" alt="180">
        </a>    <h4>
        <a class="name" target="_blank" href="/users/8f798fa68365">冷眼观史</a>
        <i class="iconfont ic-man"></i>
      </h4>
        <p class="description">武侠江湖专题主编，微信公众号：历史这样说（y...</p>

        <a class="btn btn-success follow"><i class="iconfont ic-follow"></i><span>关注</span></a>

        <hr>
        <div class="meta">最近更新</div>
        <div class="recent-update">
          <a class="new" target="_blank" href="/p/ef25e83ebe9c">【武侠江湖专题每周精品活动】琅琊令第十一期：身不由己</a>
          <a class="new" target="_blank" href="/p/b85cdd015702">唐高祖宠幸，唐太宗冷对，她也曾有武则天般的野心？</a>
          <a class="new" target="_blank" href="/p/6144d64073f8">【武侠江湖专题每周精品活动】琅琊令第十期：浪迹天涯</a>
        </div>
      </div>
    </div>


    <div class="col-xs-8">
      <div class="wrap">
        <a class="avatar" target="_blank" href="/users/5cfa376301c5">
          <img src="//upload.jianshu.io/users/upload_avatars/326721/fbb53af4d452.jpg?imageMogr2/auto-orient/strip|imageView2/1/w/180/h/180" alt="180">
        </a>    <h4>
        <a class="name" target="_blank" href="/users/5cfa376301c5">傅踢踢</a>

      </h4>
        <p class="description">作家，编剧
          微信公众号“傅踢踢”（fute...</p>

        <a class="btn btn-success follow"><i class="iconfont ic-follow"></i><span>关注</span></a>

        <hr>
        <div class="meta">最近更新</div>
        <div class="recent-update">
          <a class="new" target="_blank" href="/p/540b8c8c24f9">什么才是最好的致青春？</a>
          <a class="new" target="_blank" href="/p/3c9cd88c00bf">为什么我不喜欢小鲜肉，偏偏钟情老干部</a>
          <a class="new" target="_blank" href="/p/4d67415335fd">你去装成熟好了，我才不要做无趣残忍的大人|儿童节</a>
        </div>
      </div>
    </div>


    <div class="col-xs-8">
      <div class="wrap">
        <a class="avatar" target="_blank" href="/users/d9edcb44e2f2">
          <img src="//upload.jianshu.io/users/upload_avatars/568470/10ada909-3f70-43ca-8375-2554124cd714.png?imageMogr2/auto-orient/strip|imageView2/1/w/180/h/180" alt="180">
        </a>    <h4>
        <a class="name" target="_blank" href="/users/d9edcb44e2f2">简黛玉</a>
        <i class="iconfont ic-woman"></i>
      </h4>
        <p class="description">黛玉每天在这里给各位推送简书好文章，请多多关...</p>

        <a class="btn btn-success follow"><i class="iconfont ic-follow"></i><span>关注</span></a>

        <hr>
        <div class="meta">最近更新</div>
        <div class="recent-update">
          <a class="new" target="_blank" href="/p/7cef6b951729">黛玉晚报170605——《你努力合群的样子好孤独》</a>
          <a class="new" target="_blank" href="/p/c6a513e49ee9">黛玉早报170605——《入驻那么多平台，你写出点什么名堂了吗？》</a>
          <a class="new" target="_blank" href="/p/96cf2ce42106">黛玉晚报170604——《女人多读书真的会“气质好”吗？不见得！》</a>
        </div>
      </div>
    </div>


    <div class="col-xs-8">
      <div class="wrap">
        <a class="avatar" target="_blank" href="/users/8d30caa7a118">
          <img src="//upload.jianshu.io/users/upload_avatars/938531/83bc84b18ce4.jpg?imageMogr2/auto-orient/strip|imageView2/1/w/180/h/180" alt="180">
        </a>    <h4>
        <a class="name" target="_blank" href="/users/8d30caa7a118">爱瑋儿</a>
        <i class="iconfont ic-woman"></i>
      </h4>
        <p class="description">简书官方《心理》专题主编
          《上班这点事儿》...</p>

        <a class="btn btn-success follow"><i class="iconfont ic-follow"></i><span>关注</span></a>

        <hr>
        <div class="meta">最近更新</div>
        <div class="recent-update">
          <a class="new" target="_blank" href="/p/bd91199cd130">放榜啦！——【从心，遇见幸福】心理专题征文评奖揭晓</a>
          <a class="new" target="_blank" href="/p/3da3a4027f06">十万火急！心理专题招副编啦！</a>
          <a class="new" target="_blank" href="/p/c22496777bbd">《简书-心理专题精选半月刊》4月下｜从心开始，重新出发</a>
        </div>
      </div>
    </div>


    <div class="col-xs-8">
      <div class="wrap">
        <a class="avatar" target="_blank" href="/users/46abcf684093">
          <img src="//upload.jianshu.io/users/upload_avatars/2041831/c40f7c0555b7.jpeg?imageMogr2/auto-orient/strip|imageView2/1/w/180/h/180" alt="180">
        </a>    <h4>
        <a class="name" target="_blank" href="/users/46abcf684093">无戒</a>

      </h4>
        <p class="description">我是左手佛门，右手红尘的无戒，个人公众号:无...</p>

        <a class="btn btn-success follow"><i class="iconfont ic-follow"></i><span>关注</span></a>

        <hr>
        <div class="meta">最近更新</div>
        <div class="recent-update">
          <a class="new" target="_blank" href="/p/3be71a2fe56f">行走在城市角落的蚁族 第八章</a>
          <a class="new" target="_blank" href="/p/8f2ce91ba9b2">[招募]无戒21天写作训练营第四期——在纯粹的写作中精进</a>
          <a class="new" target="_blank" href="/p/194f1316ab99">生活如饮水，冷暖自知</a>
        </div>
      </div>
    </div>


    <div class="col-xs-8">
      <div class="wrap">
        <a class="avatar" target="_blank" href="/users/9202155c8b4a">
          <img src="//upload.jianshu.io/users/upload_avatars/145902/1faabc1551fe.jpg?imageMogr2/auto-orient/strip|imageView2/1/w/180/h/180" alt="180">
        </a>    <h4>
        <a class="name" target="_blank" href="/users/9202155c8b4a">天花板</a>
        <i class="iconfont ic-man"></i>
      </h4>
        <p class="description">从业多年的资深软件工程师一枚~

          - 热...</p>

        <a class="btn btn-success follow"><i class="iconfont ic-follow"></i><span>关注</span></a>

        <hr>
        <div class="meta">最近更新</div>
        <div class="recent-update">
          <a class="new" target="_blank" href="/p/571a61dd635f">天花板编程手把手计划-第1期-第9天</a>
          <a class="new" target="_blank" href="/p/93a118216b95">天花板编程手把手计划-第1期-第8天</a>
          <a class="new" target="_blank" href="/p/6df9cafebc64">天花板编程手把手计划-第1期-第7天</a>
        </div>
      </div>
    </div>


    <div class="col-xs-8">
      <div class="wrap">
        <a class="avatar" target="_blank" href="/users/7e0d9fc3fcc0">
          <img src="//upload.jianshu.io/users/upload_avatars/1428671/a1836affcd9d.jpg?imageMogr2/auto-orient/strip|imageView2/1/w/180/h/180" alt="180">
        </a>    <h4>
        <a class="name" target="_blank" href="/users/7e0d9fc3fcc0">ONES_Piece</a>

      </h4>
        <p class="description">星辰大海之下有太多被埋没的宝藏，让我们好好擦...</p>

        <a class="btn btn-success follow"><i class="iconfont ic-follow"></i><span>关注</span></a>

        <hr>
        <div class="meta">最近更新</div>
        <div class="recent-update">
          <a class="new" target="_blank" href="/p/908843e7fb1e">Neuralink 与大脑的神奇未来·第四部分：挑战</a>
          <a class="new" target="_blank" href="/p/5e8361d28c69">Neuralink 与大脑的神奇未来·第三部分：脑机接口</a>
          <a class="new" target="_blank" href="/p/9c32c2ed4d26">Neuralink 与大脑的神奇未来·第二部分：大脑</a>
        </div>
      </div>
    </div>


    <div class="col-xs-8">
      <div class="wrap">
        <a class="avatar" target="_blank" href="/users/1d467fec18db">
          <img src="//upload.jianshu.io/users/upload_avatars/3097674/89acf777-93e4-4ee9-9db6-59c3b147630f.jpg?imageMogr2/auto-orient/strip|imageView2/1/w/180/h/180" alt="180">
        </a>    <h4>
        <a class="name" target="_blank" href="/users/1d467fec18db">铃铛子</a>

      </h4>
        <p class="description">新浪微博@铃铛子520
          微信公众号：边奔跑...</p>

        <a class="btn btn-success follow"><i class="iconfont ic-follow"></i><span>关注</span></a>

        <hr>
        <div class="meta">最近更新</div>
        <div class="recent-update">
          <a class="new" target="_blank" href="/p/afa86249d714">与其沉沦于焦虑，不如做个行动派。</a>
          <a class="new" target="_blank" href="/p/3c5b1b2450c0">彩铅 | 朝阳花色别样黄——向日葵</a>
          <a class="new" target="_blank" href="/p/72bd4aa53fee">手绘 | 那些年，我画的彩铅。</a>
        </div>
      </div>
    </div>


    <div class="col-xs-8">
      <div class="wrap">
        <a class="avatar" target="_blank" href="/users/de3e13a93ee7">
          <img src="//upload.jianshu.io/users/upload_avatars/1960495/fe47eec0-49c6-4a7f-82e9-9b0fa98519e7.jpg?imageMogr2/auto-orient/strip|imageView2/1/w/180/h/180" alt="180">
        </a>    <h4>
        <a class="name" target="_blank" href="/users/de3e13a93ee7">天涯放逐</a>

      </h4>
        <p class="description">专业医学爱好文学</p>

        <a class="btn btn-success follow"><i class="iconfont ic-follow"></i><span>关注</span></a>

        <hr>
        <div class="meta">最近更新</div>
        <div class="recent-update">
          <a class="new" target="_blank" href="/p/b34de0069806">浮生若梦，零落半生</a>
          <a class="new" target="_blank" href="/p/74c452bceb47">如果你在远方</a>
          <a class="new" target="_blank" href="/p/c422536f9301">东篱把酒黄昏后</a>
        </div>
      </div>
    </div>


    <div class="col-xs-8">
      <div class="wrap">
        <a class="avatar" target="_blank" href="/users/2eb258d0009e">
          <img src="//upload.jianshu.io/users/upload_avatars/619393/150b0401e500.png?imageMogr2/auto-orient/strip|imageView2/1/w/180/h/180" alt="180">
        </a>    <h4>
        <a class="name" target="_blank" href="/users/2eb258d0009e">经典重读</a>

      </h4>
        <p class="description">简书陪你读经典
          这里是简书官号
          作为简书...</p>

        <a class="btn btn-success follow"><i class="iconfont ic-follow"></i><span>关注</span></a>

        <hr>
        <div class="meta">最近更新</div>
        <div class="recent-update">
          <a class="new" target="_blank" href="/p/1642c98a8314">墓——何其芳</a>
          <a class="new" target="_blank" href="/p/53880c156bb5">立秋之夜——郁达夫</a>
          <a class="new" target="_blank" href="/p/a8c1a41ff388">哀　歌——何其芳</a>
        </div>
      </div>
    </div>


    <div class="col-xs-8">
      <div class="wrap">
        <a class="avatar" target="_blank" href="/users/1a4a21cf4d10">
          <img src="//upload.jianshu.io/users/upload_avatars/646344/dd61d4a328ac.JPG?imageMogr2/auto-orient/strip|imageView2/1/w/180/h/180" alt="180">
        </a>    <h4>
        <a class="name" target="_blank" href="/users/1a4a21cf4d10">唐妈</a>

      </h4>
        <p class="description">暖心文字暖心人
          落笔有物渡凡尘
          新浪微博...</p>

        <a class="btn btn-success follow"><i class="iconfont ic-follow"></i><span>关注</span></a>

        <hr>
        <div class="meta">最近更新</div>
        <div class="recent-update">
          <a class="new" target="_blank" href="/p/e8f3d10609c1">惟有兰花香正好（三十五）</a>
          <a class="new" target="_blank" href="/p/38f156783752">《你的美好，要靠自己成全》：和自己对话</a>
          <a class="new" target="_blank" href="/p/54ed5dc9c056">惟有兰花香正好（三十四）</a>
        </div>
      </div>
    </div>


    <div class="col-xs-8">
      <div class="wrap">
        <a class="avatar" target="_blank" href="/users/e5e1bca85ee5">
          <img src="//upload.jianshu.io/users/upload_avatars/2623512/51172f7c5975.jpg?imageMogr2/auto-orient/strip|imageView2/1/w/180/h/180" alt="180">
        </a>    <h4>
        <a class="name" target="_blank" href="/users/e5e1bca85ee5">五虎谷的阿格</a>

      </h4>
        <p class="description">五虎谷谷主，擅长五虎断门刀、五虎练气术、五虎...</p>

        <a class="btn btn-success follow"><i class="iconfont ic-follow"></i><span>关注</span></a>

        <hr>
        <div class="meta">最近更新</div>
        <div class="recent-update">
          <a class="new" target="_blank" href="/p/0b6608341229">今天续写财务篇之本量利（四）</a>
          <a class="new" target="_blank" href="/p/92ba34e9c0fb">价值10万的互联网小公司营销手法</a>
          <a class="new" target="_blank" href="/p/cfc333844bf8">你的营销太露骨，一眼就看穿了</a>
        </div>
      </div>
    </div>


    <div class="col-xs-8">
      <div class="wrap">
        <a class="avatar" target="_blank" href="/users/eee6e7dea98c">
          <img src="//upload.jianshu.io/users/upload_avatars/3354589/c5a5c2aa-eeb3-4e50-8ac5-a0798375e016.jpg?imageMogr2/auto-orient/strip|imageView2/1/w/180/h/180" alt="180">
        </a>    <h4>
        <a class="name" target="_blank" href="/users/eee6e7dea98c">焱公子</a>
        <i class="iconfont ic-man"></i>
      </h4>
        <p class="description">奇思妙想专题副主编
          写有灵魂的故事，过有温...</p>

        <a class="btn btn-success follow"><i class="iconfont ic-follow"></i><span>关注</span></a>

        <hr>
        <div class="meta">最近更新</div>
        <div class="recent-update">
          <a class="new" target="_blank" href="/p/aeaccf519196">连载 | 七世诅咒第061章：赏金巫师</a>
          <a class="new" target="_blank" href="/p/eab9cf3b2dc7">连载 | 七世诅咒第060章：山洞中的出浴美人</a>
          <a class="new" target="_blank" href="/p/406c58b6b4f6">片段写作分享03期 | 狭路相逢，宿命对决</a>
        </div>
      </div>
    </div>


    <div class="col-xs-8">
      <div class="wrap">
        <a class="avatar" target="_blank" href="/users/f8eb74f62534">
          <img src="//upload.jianshu.io/users/upload_avatars/3682352/f92c33799ac5.jpg?imageMogr2/auto-orient/strip|imageView2/1/w/180/h/180" alt="180">
        </a>    <h4>
        <a class="name" target="_blank" href="/users/f8eb74f62534">茜喵</a>
        <i class="iconfont ic-woman"></i>
      </h4>
        <p class="description">医院营养医师一枚，公众号：茜喵型体营。会定期...</p>

        <a class="btn btn-success follow"><i class="iconfont ic-follow"></i><span>关注</span></a>

        <hr>
        <div class="meta">最近更新</div>
        <div class="recent-update">
          <a class="new" target="_blank" href="/p/0f9efa585022">21天减肥训练营第一期结营盘点|短短的21天，她们都经历了什么？（上）</a>
          <a class="new" target="_blank" href="/p/6b653a105db7">写作|打造个人影响力，你还需要补上一堂写作课</a>
          <a class="new" target="_blank" href="/p/677c1ce2e2af">21天减肥训练营|第二次群活动——学员饮食心得分享</a>
        </div>
      </div>
    </div>


    <div class="col-xs-8">
      <div class="wrap">
        <a class="avatar" target="_blank" href="/users/07cfbee129fa">
          <img src="//upload.jianshu.io/users/upload_avatars/1983849/8bbf49f7fde2.jpeg?imageMogr2/auto-orient/strip|imageView2/1/w/180/h/180" alt="180">
        </a>    <h4>
        <a class="name" target="_blank" href="/users/07cfbee129fa">池塘之底</a>

      </h4>
        <p class="description">微信公众号：池塘之底chitangedu  ...</p>

        <a class="btn btn-success follow"><i class="iconfont ic-follow"></i><span>关注</span></a>

        <hr>
        <div class="meta">最近更新</div>
        <div class="recent-update">
          <a class="new" target="_blank" href="/p/7410838008b1">我的故事！</a>
          <a class="new" target="_blank" href="/p/cd63ae665ea8">有人说，反转基因的基本都是文科生</a>
          <a class="new" target="_blank" href="/p/759cdfd2814d">行为的哭泣（三）——受害者都是需要被清除的垃圾！</a>
        </div>
      </div>
    </div>


    <div class="col-xs-8">
      <div class="wrap">
        <a class="avatar" target="_blank" href="/users/c1fed915ed12">
          <img src="//upload.jianshu.io/users/upload_avatars/1669869/21cc1916b6a4.jpg?imageMogr2/auto-orient/strip|imageView2/1/w/180/h/180" alt="180">
        </a>    <h4>
        <a class="name" target="_blank" href="/users/c1fed915ed12">顾一宸</a>

      </h4>
        <p class="description">简书签约作者，微博签约自媒体。
          专注于情感...</p>

        <a class="btn btn-success follow"><i class="iconfont ic-follow"></i><span>关注</span></a>

        <hr>
        <div class="meta">最近更新</div>
        <div class="recent-update">
          <a class="new" target="_blank" href="/p/1b61d1dcd1ef">你努力合群的样子好孤独</a>
          <a class="new" target="_blank" href="/p/42a2cf0c28fc">爱不爱，看味道就知道</a>
          <a class="new" target="_blank" href="/p/73974dee1f60">我们呐，都曾经天真傻气如邱莹莹啊</a>
        </div>
      </div>
    </div>


    <div class="col-xs-8">
      <div class="wrap">
        <a class="avatar" target="_blank" href="/users/21a7a893f4b7">
          <img src="//upload.jianshu.io/users/upload_avatars/3459828/b8f6b400-bc84-4f58-816f-769329e1f1a7.jpg?imageMogr2/auto-orient/strip|imageView2/1/w/180/h/180" alt="180">
        </a>    <h4>
        <a class="name" target="_blank" href="/users/21a7a893f4b7">有备而来的路人甲</a>
        <i class="iconfont ic-man"></i>
      </h4>
        <p class="description">大萌，对世界上瘾的二逼青年。
          旅行、摄影、公...</p>

        <a class="btn btn-success follow"><i class="iconfont ic-follow"></i><span>关注</span></a>

        <hr>
        <div class="meta">最近更新</div>
        <div class="recent-update">
          <a class="new" target="_blank" href="/p/f9ccb9f69aa4">最成都 &nbsp;慢旅行 | 世界很嘈杂，而这里很安静</a>
          <a class="new" target="_blank" href="/p/7191bd4d7d1a">大萌旅行 | 在行走中，发现世界也发现另一个自己</a>
          <a class="new" target="_blank" href="/p/4c481d6828b6">世界是一样的，只是每个人的经历不一样</a>
        </div>
      </div>
    </div>


    <div class="col-xs-8">
      <div class="wrap">
        <a class="avatar" target="_blank" href="/users/65b9e2d90f5b">
          <img src="//upload.jianshu.io/users/upload_avatars/2826570/ad8616930f55?imageMogr2/auto-orient/strip|imageView2/1/w/180/h/180" alt="180">
        </a>    <h4>
        <a class="name" target="_blank" href="/users/65b9e2d90f5b">RainbowPeng</a>
        <i class="iconfont ic-woman"></i>
      </h4>
        <p class="description">一个喜欢讲故事的人
          记录自己的生活及其有意思...</p>

        <a class="btn btn-success follow"><i class="iconfont ic-follow"></i><span>关注</span></a>

        <hr>
        <div class="meta">最近更新</div>
        <div class="recent-update">
          <a class="new" target="_blank" href="/p/6ae935346d06">三小时画了三十个小孩儿 | 首次挑战临摹中国古代《百子图》</a>
          <a class="new" target="_blank" href="/p/679fcbf9fc3c">用现代及时尚的方式传播老祖宗的东西 | 这些年创意开发的《中国古代智慧》(图集选)</a>
          <a class="new" target="_blank" href="/p/323fbb3444b6">屋外夏日炎炎、屋内凉风习习 | 教你烧一锅秘笈清凉绿豆汤</a>
        </div>
      </div>
    </div>


    <div class="col-xs-8">
      <div class="wrap">
        <a class="avatar" target="_blank" href="/users/7fcaa35a3523">
          <img src="//upload.jianshu.io/users/upload_avatars/2816862/cf006989-1eae-46d0-b4e8-322b2a862f1a.jpg?imageMogr2/auto-orient/strip|imageView2/1/w/180/h/180" alt="180">
        </a>    <h4>
        <a class="name" target="_blank" href="/users/7fcaa35a3523">小k飞耳</a>

      </h4>
        <p class="description">【音乐】主编， 新浪微博:@小k飞耳
          偶尔...</p>

        <a class="btn btn-success follow"><i class="iconfont ic-follow"></i><span>关注</span></a>

        <hr>
        <div class="meta">最近更新</div>
        <div class="recent-update">
          <a class="new" target="_blank" href="/p/21fa0d45d826">专题福利|华晨宇邀你来简书分享音乐故事，送签名照了~</a>
          <a class="new" target="_blank" href="/p/e1f353a8537d">【原创玄幻】连载 │ 天池&#65279;道  第三章</a>
          <a class="new" target="_blank" href="/p/5dbe9e5ef719">【原创玄幻】连载 │ 天池&#65279;道  第二章</a>
        </div>
      </div>
    </div>


    <div class="col-xs-8">
      <div class="wrap">
        <a class="avatar" target="_blank" href="/users/73fd48dcb7ba">
          <img src="//upload.jianshu.io/users/upload_avatars/1417131/b0f33523aa79.jpg?imageMogr2/auto-orient/strip|imageView2/1/w/180/h/180" alt="180">
        </a>    <h4>
        <a class="name" target="_blank" href="/users/73fd48dcb7ba">沐丞</a>

      </h4>
        <p class="description">微信公共号：沐丞的自由生活(mucheng-...</p>

        <a class="btn btn-success follow"><i class="iconfont ic-follow"></i><span>关注</span></a>

        <hr>
        <div class="meta">最近更新</div>
        <div class="recent-update">
          <a class="new" target="_blank" href="/p/43dac55cc980">自己亲历的网络诈骗的那些事</a>
          <a class="new" target="_blank" href="/p/2f2ca6297c40">职场女性自我提升的五个方法</a>
          <a class="new" target="_blank" href="/p/a2088b389c67">《欢乐颂2》五美男友的职场优劣分析</a>
        </div>
      </div>
    </div>

  </div>

  <a class="btn btn-danger load-more-btn" data-next-page="2" href="">加载更多</a>
</div>
