/* You can add global styles to this file, and also import other style files */

@import "./assets/scss/icon.scss";
@import "./assets/scss/reset.scss";
@import "./assets/scss/form.scss";
html,
body {
  height: 100%;
}

body {
  min-width: 768px;
  font-family: -apple-system, SF UI Text, Arial, PingFang SC, Hiragino Sans GB, Microsoft YaHei, WenQuanYi Micro Hei, sans-serif;
  font-size: 16px;
}

* {
  padding: 0;
  margin: 0;
}

a,
body {
  color: #333
}

a {
  cursor: pointer;
  text-decoration: none
}

a:focus,
a:hover {
  color: #2f2f2f;
  text-decoration: none
}

a:focus {
  outline: none
}

ul {
  padding-left: 0
}

li {
  line-height: 20px
}

form {
  margin: 0 0 20px
}

input:focus {
  box-shadow: none
}


/**
  禁止input[type="number"]出现上下箭头
*/

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none !important;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.b-pt10 {
  padding-top: 10px;
}
