/* You can add global styles to this file, and also import other style files */

@import "./root.css";



html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%
}


body, html{
  @apply --block-full-screen;
}

body {
  margin: 0
}


.m-logo{
  margin: 0;
  background: url('assets/images/logo.png') no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  & a{
    @apply --block;
    overflow: hidden;
    height: 0;
  }
}

.avatar{
  width: 32px;
  height: 32px;
  display: block;
  cursor: pointer;
  & img{
    width: 100%;
    height: 100%;
    border: 1px solid #ddd;
    border-radius: 50%;
  }
}
@custom-selector :--block article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary;
:--block {
  @apply --block;
}



audio,canvas,progress,video {
  display: inline-block;
  vertical-align: baseline
}

audio:not([controls]) {
  display: none;
  height: 0
}

[hidden],template {
  display: none
}

a {
  cursor: pointer;
  background-color: transparent
}

a:active,a:hover {
  outline: 0
}

abbr[title] {
  border-bottom: 1px dotted
}

b,strong {
  font-weight: 700
}

dfn {
  font-style: italic
}

h1 {
  font-size: 2em;
  margin: .67em 0
}

mark {
  background: #ff0;
  color: #000
}

small {
  font-size: 80%
}

sub,sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline
}

sup {
  top: -.5em
}

sub {
  bottom: -.25em
}

img {
  border: 0
}

svg:not(:root) {
  overflow: hidden
}

figure {
  margin: 1em 40px
}

hr {
  box-sizing: content-box;
  height: 0
}

pre {
  overflow: auto
}

code,kbd,pre,samp {
  font-family: monospace,monospace;
  font-size: 1em
}

button,input,optgroup,select,textarea {
  color: inherit;
  font: inherit;
  margin: 0
}

button {
  overflow: visible
}

button,select {
  text-transform: none
}

button,html input[type=button],input[type=reset],input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer
}

button[disabled],html input[disabled] {
  cursor: default
}

button::-moz-focus-inner,input::-moz-focus-inner {
  border: 0;
  padding: 0
}

input {
  line-height: normal
}

input[type=checkbox],input[type=radio] {
  box-sizing: border-box;
  padding: 0
}

input[type=number]::-webkit-inner-spin-button,input[type=number]::-webkit-outer-spin-button {
  height: auto
}

input[type=search] {
  -webkit-appearance: textfield;
  box-sizing: content-box
}

input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em
}

legend {
  border: 0;
  padding: 0
}

textarea {
  overflow: auto
}

optgroup {
  font-weight: 700
}

table {
  border-collapse: collapse;
  border-spacing: 0
}

td,th {
  padding: 0
}

/*! Source: https://github.com/h5bp/html5-boilerplate/blob/master/src/css/main.css */
@media print {
  *,:after,:before {
    background: transparent!important;
    color: #000!important;
    box-shadow: none!important;
    text-shadow: none!important
  }

  a,a:visited {
    text-decoration: underline
  }

  a[href]:after {
    content: " (" attr(href) ")"
  }

  abbr[title]:after {
    content: " (" attr(title) ")"
  }

  a[href^="#"]:after,a[href^="javascript:"]:after {
    content: ""
  }

  blockquote,pre {
    border: 1px solid #999;
    page-break-inside: avoid
  }

  thead {
    display: table-header-group
  }

  img,tr {
    page-break-inside: avoid
  }

  img {
    max-width: 100%!important
  }

  h2,h3,p {
    orphans: 3;
    widows: 3
  }

  h2,h3 {
    page-break-after: avoid
  }

  .navbar {
    display: none
  }

  .btn>.caret,.dropup>.btn>.caret {
    border-top-color: #000!important
  }

  .label {
    border: 1px solid #000
  }

  .table {
    border-collapse: collapse!important
  }

  .table td,.table th {
    background-color: #fff!important
  }

  .table-bordered td,.table-bordered th {
    border: 1px solid #ddd!important
  }
}

*,:after,:before {
  box-sizing: border-box
}

html {
  font-size: 10px;
  -webkit-tap-highlight-color: transparent
}

body {
  font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
  font-size: 14px;
  line-height: 1.42857;
  color: #333;
  background-color: #fff
}

button,input,select,textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit
}

a {
  color: #337ab7;
  text-decoration: none;
}

a:focus,a:hover {
  color: #23527c;
}

a:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px
}

figure {
  margin: 0
}

img {
  vertical-align: middle
}

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto
}

.img-rounded {
  border-radius: 6px
}

.img-thumbnail {
  padding: 4px;
  line-height: 1.42857;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  display: inline-block;
  max-width: 100%;
  height: auto
}

.img-circle {
  border-radius: 50%
}

hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #eee
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0
}

.sr-only-focusable:active,.sr-only-focusable:focus {
  position: static;
  width: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  clip: auto
}

[role=button] {
  cursor: pointer
}

.h1,.h2,.h3,.h4,.h5,.h6,h1,h2,h3,h4,h5,h6 {
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
  color: inherit
}

.h1 .small,.h1 small,.h2 .small,.h2 small,.h3 .small,.h3 small,.h4 .small,.h4 small,.h5 .small,.h5 small,.h6 .small,.h6 small,h1 .small,h1 small,h2 .small,h2 small,h3 .small,h3 small,h4 .small,h4 small,h5 .small,h5 small,h6 .small,h6 small {
  font-weight: 400;
  line-height: 1;
  color: #777
}

.h1,.h2,.h3,h1,h2,h3 {
  margin-top: 20px;
  margin-bottom: 10px
}

.h1 .small,.h1 small,.h2 .small,.h2 small,.h3 .small,.h3 small,h1 .small,h1 small,h2 .small,h2 small,h3 .small,h3 small {
  font-size: 65%
}

.h4,.h5,.h6,h4,h5,h6 {
  margin-top: 10px;
  margin-bottom: 10px
}

.h4 .small,.h4 small,.h5 .small,.h5 small,.h6 .small,.h6 small,h4 .small,h4 small,h5 .small,h5 small,h6 .small,h6 small {
  font-size: 75%
}

.h1,h1 {
  font-size: 36px
}

.h2,h2 {
  font-size: 30px
}

.h3,h3 {
  font-size: 24px
}

.h4,h4 {
  font-size: 18px
}

.h5,h5 {
  font-size: 14px
}

.h6,h6 {
  font-size: 12px
}

p {
  margin: 0 0 10px
}

.lead {
  margin-bottom: 20px;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.4
}

.f-fl{
  float: left;
}
.f-fr{
  float: right;
}
.f-cb:matches(::after, ::before) {
  content: "";
  display:table;
  clear:both;
}
[role=button] {
    cursor: pointer;
}
/**
按钮组件
 */
.u-btn{
  display: inline-block;
  margin-bottom: 0;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857;
  border-radius: 4px;
  color: #969696;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  &-default{
    color: #fff;
    background-color: #a5a5a5;
    &:hover {
      color: #fff;
      background-color: color(#a5a5a5 shade(10%));
    }
  }
  &[disabled],&.disabled{
    cursor: not-allowed;
    box-shadow: none;
    opacity: .65;
  }
  &.transparent{
    background-color: transparent;
  }
  &-primary{
    color: #fff;
    background-color: #3194d0;
    border-color: #2e6da4;
    &:hover {
      color: #fff;
      background-color: color(#3194d0 shade(10%));
      border-color: color(#2e6da4 shade(25%));
    }
  }
  &-success{
    color: #fff;
    background-color: #42c02e;
    border-color: #4cae4c;
    &:hover {
      color: #fff;
      background-color: color(#42c02e shade(10%));
      border-color: color(#4cae4c shade(25%));
    }
    &.transparent{
      border: 1px solid rgba(59,194,29,.7);
      color: #42c02e;
      &:hover{
        border: 1px solid #42c02e;
        color: #42c02e;
        background-color: rgba(59,194,29,.05);
      }
    }
  }
  &-info{

  }
  &-warning{

  }
  &-danger{
    color: #fff;
    background-color: #ea6f5a;
    border-color: #d43f3a;
    &:hover {
      color: #fff;
      background-color: color(#ea6f5a shade(10%));
      border-color: color(#d43f3a shade(25%));
    }
    &.transparent{
      border: 1px solid rgba(236,97,73,.7);
      color: #ea6f5a;
      &:hover{
        color: #ec6149;
        border-color: #ec6149;
        background-color: rgba(236,97,73,.05);
      }
    }
  }
  &-link{
    background-color: transparent;
    border: none;
    box-shadow: none;
  }
  &-lg{
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.3333333;
    border-radius: 6px;
  }
  &-md{
    padding: 8px 14px;
    font-size: 16px;
    line-height: 1.3;
    border-radius: 4px;
  }
  &-sm{
    padding: 5px 10px;
    font-size: 14px;
    line-height: 1.478;
    border-radius: 3px;
  }
  &-xs{
    padding: 4px 8px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 2px;
  }
  &-block{
    display: block;
    width: 100%;
  }
}


.g-container {
  width: 960px;
  margin-right: auto;
  margin-left: auto;
}
.avatar-collection {
  width: 48px;
  height: 48px;
  display: block;
  cursor: pointer;
  & img{
    width: 100%;
    height: 100%;
    border: 1px solid #ddd;
    border-radius: 10%;
  }
}
.icon-man{
  color: #3194d0;
}
.icon-woman{
  color: #ea6f5a;
}

/**
  美化 checkbox 和 radio
 */

.checkbox label,.radio label{
  margin: 10px 0;
  padding: 0 10px 0 0;
  & input{
    margin-right: 5px;
  }
}

input[type=checkbox], input[type=radio]{
  line-height: normal;
  &:focus {
    outline: none;
    box-shadow: inset 0 1px 1px rgba(255,255,255,0.075), 0 0 2px #38a7ff;
  }
  &:disabled{
    opacity: .65;
  }
}

input[type=checkbox]{
  position: relative;
  width: 16px;
  height: 16px;
  background-clip: border-box;
  appearance: none;
  margin: -.15px .6px 0 0;
  vertical-align: text-bottom;
  border-radius: 3px;
  transition: background-color .25s;
  background-color: #fff;
  border: 1px solid #d7d7d7;
  &:after{
    position: absolute;
    top: 3px;
    left: 3px;
    content: '';
    display: block;
    height: 6px;
    width: 9px;
    border: 0 solid #fff;
    border-width: 0 0 2px 2px;
    transform: rotate(-45deg);
  }
  &:checked{
    background-color: #337ab7;
    border-color: #337ab7;
  }
}


input[type=radio]{
  position: relative;
  width: 16px;
  height: 16px;
  background-clip: border-box;
  appearance: none;
  margin: -.15px .6px 0 0;
  vertical-align: text-bottom;
  border-radius: 50%;
  background-color: #fff;
  border: 1px solid #d7d7d7;
  &:before{
    content: '';
    display: block;
    height: 0;
    width: 0;
    transition: width .25s,height .25s;
  }
  &:checked:before{
    height: 8px;
    width: 8px;
    border-radius: 50%;
    margin: 3px 0 0 3px;
    background-color: #337ab7;
  }
}
