.g-container {
  padding: 30px 0 50px;
}

.row{
  margin: 0 -15px;
}
.col-xs-8{
  position: relative;
  float: left;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  width: 33.33333%;
}
.wrap{
  position: relative;
  height: 340px;
  margin-top: 80px;
  padding: 0 20px;
  border: 1px solid #e6e6e6;
  border-radius: 4px;
  background-color: hsla(0,0%,71%,.1);
  transition: .2s ease;
  &:hover{
    box-shadow: 0 5px 20px rgba(0,0,0,.1);
  }
  & .description{
    margin: 0 auto 10px;
    max-width: 180px;
  }
  & h4{
    font-size: 22px;
    font-weight: 400;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    & a{
      color: #2f2f2f;
      text-decoration: none;
      &:hover{
        color: #000;
      }
    }
    & i{
      font-size: 22px;
    }
  }
  & p{
    min-height: 55px;
    font-size: 14px;
    line-height: 25px;
    margin: 0 0 10px;
    color: #333;
  }
  & .meta{
    float: left;
    margin-top: -29px;
    padding-right: 10px;
    font-size: 12px;
    color: #969696;
    background-color: #f8f8f8;
  }
  & .recent-update{
    min-height: 75px;
    & a{
      font-size: 14px;
      line-height: 25px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      display: block;
      color: #333;
      &:hover{
        text-decoration: underline;
      }
    }
  }
}
.avatar{
  width: 80px;
  height: 80px;
  margin: -40px 0 10px;
  display: inline-block;
  border: 1px solid #ddd;
  background-color: #fff;
  border-radius: 40px;
}
article{
  text-align: center;
}
.follow{
  width: 100px;
  padding: 8px 0;
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
  border-radius: 40px;
}
.load-more-btn{
  width: 38.2%;
  padding: 10px 0;
  margin: 40px 0;
  font-size: 16px;
  border-radius: 20px;
  border: none;
}
