<main class="g-container f-cb">
  <div class="recommend-banner">
    <img style="width: 100%;
    min-height: 100px;
    background-color: hsla(0,0%,71%,.2);
    border-radius: 6px;" src="../assets/images/recommend-author.png" alt="Recommend collection">
    <a class="help" href="/p/9e6397e3e921">
      <i class="icon-navigation-help"></i>
      如何成为签约作者
    </a>
  </div>
  <article>
    <div class="row f-cb" id="list-container">
      <div class="col-xs-8" *ngFor="let item of collection">
        <div class="wrap">
          <a class="avatar" target="_blank" href="/users/5SqsuF">
            <img src="//upload.jianshu.io/users/upload_avatars/6287/06c537002583.png?imageMogr2/auto-orient/strip|imageView2/1/w/180/h/180" alt="180">
          </a>
          <h4><a class="name" target="_blank" href="/users/5SqsuF">刘淼 <i class="icon-man"></i></a></h4>
          <p class="description">关注公众号“茶点故事”，每天一个好故事。
            ...</p>
          <a class="u-btn u-btn-success follow"><i class="icon-follow"></i><span>关注</span></a>
          <hr>
          <div class="meta">最近更新</div>
          <div class="recent-update">
            <a class="new" target="_blank" href="/p/dae9eb43ca28">江湖最后一位笑星（三十五）</a>
            <a class="new" target="_blank" href="/p/5c84127ef097">江湖最后一位笑星（三十四）</a>
            <a class="new" target="_blank" href="/p/335db6b43af1">江湖最后一位笑星（三十三）</a>
          </div>
        </div>
      </div>
    </div>
    <button class="u-btn u-btn-default load-more-btn">加载更多</button>
  </article>
</main>
