<div id="writer" class="container-fluid" data-writer-version="16">

  <div id="kalamu-video-modal" class="modal kalamu-video-modal hide fade" tabindex="-1" aria-hidden="true"
       data-keyboard="false">
    <div class="modal-header"><h3>插入视频</h3>
      <!-- <span>目前只支持<a href="http://www.youku.com/" target="_blank">优酷</a>、<a href="http://www.tudou.com/" target="_blank">土豆</a>、<a href="http://v.qq.com/" target="_blank">腾讯视频</a>、<a href="http://www.acfun.tv/" target="_blank">A站视频</a>与<a href="http://vww.bilibili.com/" target="_blank">B站视频</a>。</span> -->
      <span>目前只支持<a href="http://www.youku.com/" target="_blank">优酷</a>、<a href="http://www.tudou.com/" target="_blank">土豆</a>、<a
        href="http://v.qq.com/" target="_blank">腾讯视频</a>。</span></div>
    <div class="modal-body">
      <div class="input-prepend"><span class="add-on"><i class="fa fa-link"></i></span> <input class="span2"
                                                                                               name="url-input"
                                                                                               placeholder="请输入视频链接"
                                                                                               type="text"></div>
      <span class="message-text" style="display: none"></span>
      <button class="btn-link" name="ok">确认</button>
      <button class="btn-link" data-dismiss="modal" aria-hidden="true">取消</button>
    </div>
  </div>
  <div class="stack expansion">
    <div class="row-fluid normal-mode active">
      <div class="span2 aside" style="height: 864px;">
        <div class="home-wrap"><a href="/" class="go-home"><i class="fa fa-home" aria-hidden="true"></i><span>回首页</span></a>
        </div>
        <div class="new-notebook"><a href="javascript:void(0)" class="create-notebook win-text"> <i
          class="fa fa-plus"></i> 新建文集 <img
          src="//cdn2.jianshu.io/assets/loaders/tiny-304c0fec0b7e6cc57bff0e396602c18e.gif"
          class="hide loader-tiny create-notebook-loader"> </a>
          <div class="new-notebook-form hide">
            <form class="create-notebook-form"><input placeholder="请输入文集名..." type="text" name="name"
                                                      class="input-medium notebook-input"> <a href="javascript:void(0)"
                                                                                              class="btn cancel"
                                                                                              data-action="cancel-create-notebook">
              取消 </a><input class="btn btn-mainRed submit" name="commit" type="submit" value="提交" data-action="submit">
            </form>
          </div>
        </div>
        <ul class="nav nav-list notebooks ui-sortable">
          <li class="one-notebook item active" data-model="notebook" data-cid="c-2"><a href="javascript:void(0)"
                                                                                       data-type="active"
                                                                                       class="notebook-name"><span>其味无穷</span></a>
            <a href="javascript:void(0)" data-type="edit" class="edit-notebook dropdown-toggle" data-toggle="dropdown">
              <i class="fa fa-gear"></i> </a>
            <ul class="dropdown-menu arrow-top">
              <li><a href="javascript:void(0)" data-action="rename-notebook" data-toggle="modal"> <i
                class="fa fa-pencil-square-o"></i> 修改文集名 </a></li>
              <li class="divider"></li>
              <li><a href="javascript:void(0)" data-action="delete-notebook"> <i class="fa fa-trash-o"></i> 删除文集 </a>
              </li>
            </ul>
          </li>
          <li class="one-notebook item" data-model="notebook" data-cid="c-0"><a href="javascript:void(0)"
                                                                                data-type="active"
                                                                                class="notebook-name"><span>日记本</span></a>
            <a href="javascript:void(0)" data-type="edit" class="edit-notebook dropdown-toggle" data-toggle="dropdown">
              <i class="fa fa-gear"></i> </a>
            <ul class="dropdown-menu arrow-top">
              <li><a href="javascript:void(0)" data-action="rename-notebook" data-toggle="modal"> <i
                class="fa fa-pencil-square-o"></i> 修改文集名 </a></li>
              <li class="divider"></li>
              <li><a href="javascript:void(0)" data-action="delete-notebook"> <i class="fa fa-trash-o"></i> 删除文集 </a>
              </li>
            </ul>
          </li>
          <li class="one-notebook item" data-model="notebook" data-cid="c-1"><a href="javascript:void(0)"
                                                                                data-type="active"
                                                                                class="notebook-name"><span>随笔</span></a>
            <a href="javascript:void(0)" data-type="edit" class="edit-notebook dropdown-toggle" data-toggle="dropdown">
              <i class="fa fa-gear"></i> </a>
            <ul class="dropdown-menu arrow-top">
              <li><a href="javascript:void(0)" data-action="rename-notebook" data-toggle="modal"> <i
                class="fa fa-pencil-square-o"></i> 修改文集名 </a></li>
              <li class="divider"></li>
              <li><a href="javascript:void(0)" data-action="delete-notebook"> <i class="fa fa-trash-o"></i> 删除文集 </a>
              </li>
            </ul>
          </li>
        </ul>
        <div class="commercial"><a class="btn" href="javascript:void(null)" data-action="recycle-mode"><i
          class="fa fa-trash"></i><span>回收站</span></a></div>
      </div>
      <div class="span3 middle" style="height: 864px;">
        <div id="notes-list">
          <div id="new-note"><a href="javascript:void(0)" data-action="create-note" class="new-note-link"> <i
            class="icon fa fa-plus-circle"></i> <span class="win-text">新建文章 <img
            src="//cdn2.jianshu.io/assets/loaders/tiny-304c0fec0b7e6cc57bff0e396602c18e.gif"
            class="hide cnlt loader-tiny"></span> </a></div>
          <ul class="nav nav-list notes ui-sortable"></ul>
        </div>
        <div id="move-note-modal" tabindex="-1" aria-hidden="true" class="move-note-modal modal hide fade fullscreen">
          <div class="modal-header"><b>移动文章到</b></div>
          <div class="modal-body">
            <ul class="notebooks-select"></ul>
          </div>
          <div class="modal-footer">
            <button class="btn cancel-button">取消</button>
            <input data-action="submit-move-note" class="btn btn-info" name="commit" type="submit" value="提交"></div>
        </div>
      </div>
      <div class="span7 main">
        <div class="no-notes" style="height: 864px;"><span>简&nbsp;书</span></div>
      </div>
    </div>
    <div class="row-fluid preview-mode">
      <div class="span6 main">
        <ul class="loading" style="height: 864px;">
          <li class="loading-a"></li>
          <li class="loading-b"></li>
          <li class="loading-c"></li>
        </ul>
      </div>
      <div class="span6 preview"></div>
    </div>
    <div class="writing-mode">
      <div class="main">
        <ul class="loading" style="height: 864px;">
          <li class="loading-a"></li>
          <li class="loading-b"></li>
          <li class="loading-c"></li>
        </ul>
      </div>
    </div>
    <div class="row-fluid history-mode">
      <div class="history-list"></div>
      <div class="history-view"></div>
    </div>
    <div class="row-fluid recycle-mode">
      <div class="recycle-note-list"></div>
      <div class="recycle-note-content span7"></div>
    </div>
  </div>
  <div id="share-weibo-modal" tabindex="-1" aria-hidden="true" class="share-longweibo modal hide fade fullscreen">
    <div class="modal-header"><b>分享到微博</b></div>
    <div class="modal-body">
      <div class="pic-processing"><img src="//cdn2.jianshu.io/assets/loaders/tiny-304c0fec0b7e6cc57bff0e396602c18e.gif"
                                       class="loader-tiny"><br> 正在生成长微博图片
      </div>
      <div class="pic-done" style="display:none"><img class="imagebubble-image"></div>
      <div class="use-image-wrapper" style="display:none"><label>
        <div class="icheckbox_minimal" style="position: relative;"><input class="use-image" type="checkbox"
                                                                          style="position: absolute; opacity: 0;">
          <ins class="iCheck-helper"
               style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins>
        </div>
        带长微博图片分享</label></div>
      <p class="pic-Production">如果您不需要带长微博分享，可点击下面的分享按钮直接分享，无需等待。</p></div>
    <div class="modal-footer">
      <button class="btn btn-info"><span>分 享</span></button>
      <a href="javascript:void(0)" class="btn btn-link" data-action="close-weibo-share">关闭</a></div>
  </div>
  <div id="share-modal" tabindex="-1" aria-hidden="true" class="modal hide fade share-directly-modal fullscreen"><a
    href="javascript:void(null)" class="close" data-dismiss="modal"><i class="fa fa-times"></i></a>
    <div class="container">
      <div class="modal-header"><h3 class=""><i class="fa fa-check"></i> 已发布</h3></div>
      <div class="modal-body">
        <div class="social-network"><h2 class="title" data-toggle="tooltip" data-title="点击标题可以查看已发布的文章"
                                        data-trigger="manual" data-placement="right"
                                        data-container=".share-directly-modal"><a href="javascript:void(null)"
                                                                                  class="text-info"
                                                                                  target="_blank"> </a></h2>
          <ul class="share unstyled"><p>分享到</p>
            <li class="weixin share-wechat"><a href="javascript:void(null)" class="dropdown-toggle"
                                               data-toggle="dropdown"> <i class="fa fa-weixin"></i> </a>
              <div class="arrow-top dropdown-menu"></div>
            </li>
            <li class="weibo"><a href="#share-weibo-modal" role="button" data-toggle="modal"
                                 data-action="share-to-weibo"> <i class="fa fa-weibo"></i> </a></li>
            <li class="item-1 share-link"><a class="dropdown-toggle" data-toggle="dropdown"
                                             href="javascript:void(null)"> <i class="fa fa-link"></i> </a>
              <div class="arrow-top dropdown-menu permlink"><input id="permlink-text" class="text-left" readonly=""> <a
                href="javascript:void(null)" class="btn btn-info btn-small copy-to-clipboard"
                data-clipboard-target="permlink-text">复制链接</a></div>
            </li>
            <li class="ellipsis"><a class="dropdown-toggle" data-toggle="dropdown" href="javascript:void(null)"> <i
              class="fa fa-ellipsis-h"></i> </a>
              <ul class="dropdown-menu arrow-top more-sns">
                <li><a href="javascript:void(null)" data-sns="qzone"> <img
                  src="//cdn2.jianshu.io/assets/social_icons/32x32/qzone-ca28ff15266a67f55a86b2b2955db8f4.png"> 分享到QQ空间
                </a></li>
                <li><a href="javascript:void(null)" data-sns="douban"> <img
                  src="//cdn2.jianshu.io/assets/social_icons/32x32/douban-43460d7963b10cd8465c489c29803226.png"> 分享到豆瓣
                </a></li>
                <li><a href="javascript:void(null)" data-sns="twitter"> <img
                  src="//cdn2.jianshu.io/assets/social_icons/32x32/twitter-a96fc1ac3a78b8b50219b04e970e9a44.png">
                  分享到Twitter </a></li>
                <li><a href="javascript:void(null)" data-sns="facebook"> <img
                  src="//cdn2.jianshu.io/assets/social_icons/32x32/facebook-db3a493808b38b837caca41bbc1bd0de.png">
                  分享到Facebook </a></li>
                <li><a href="javascript:void(null)" data-sns="google_plus"> <img
                  src="//cdn2.jianshu.io/assets/social_icons/32x32/google_plus-00fa79c0164f1441a95a9de4c39c9477.png">
                  分享到Google+ </a></li>
              </ul>
            </li>
          </ul>
        </div>
        <div class="submission"><span>向专题投稿，让文章被更多人发现：</span>
          <div class="search"><input class="input-large search-query" placeholder="搜索专题" type="text"></div>
          <div class="loader"><img src="//cdn2.jianshu.io/assets/loaders/tiny-304c0fec0b7e6cc57bff0e396602c18e.gif"
                                   class="lodaer loader-tiny"></div>
          <div class="no-search-result" style="display:none"><p> 没有找到相关专题， <a href="= Routes.new_collection_path()"
                                                                              target="_blank"
                                                                              class="result-new-collection">去新建一个</a>
          </p></div>
          <div class="contribute"></div>
        </div>
      </div>
      <div class="modal-footer">
        <!-- <a href="javascript:void(null)" class="btn" data-action="close-share-note">关闭</a> <a href="javascript:void(null)" class="btn btn-info share-l" data-action="submit-share-note">发布</a> --> </div>
    </div>
  </div>
  <div class="publish-loading writer-splash" style="display:none"><img
    src="//cdn2.jianshu.io/assets/writer-loading-3ddb17e3fef31e25b0a9f54dd32a52d9.gif"></div>
  <div tabindex="-1" aria-hidden="true" class="modal hide fade rename-notebook-modal fullscreen"
       id="rename-notebook-modal">
    <div class="modal-header"><b>修改文集名</b></div>
    <div class="modal-body">
      <form class="modal-form" onsubmit="return false"><input placeholder="新文集名" name="name" type="text"
                                                              class="input-large notebook-input" size="30"></form>
    </div>
    <div class="modal-footer"><a href="javascript:void(0)" class="btn cancel-button"> 取消 </a> <input
      class="rename-a-notebook btn btn-info" name="commit" type="submit" value="提交"
      data-action="submit-rename-notebook"></div>
  </div>
  <div id="view-mode-modal" tabindex="-1" class="modal hide read-modal" aria-hidden="false">
    <div class="btn-group change-background" data-toggle="buttons-radio"><a class="btn btn-daytime active"
                                                                            href="javascript:void(null)"
                                                                            data-action="set-day" rel="nofollow"> <i
      class="fa fa-sun-o"></i> </a> <a class="btn btn-nighttime " href="javascript:void(null)" data-action="set-night"
                                       rel="nofollow"> <i class="fa fa-moon-o"></i> </a></div>
    <div class="btn-group change-font" data-toggle="buttons-radio"><a class="btn font " href="javascript:void(null)"
                                                                      data-action="set-font1" rel="nofollow">宋体</a> <a
      class="btn font hei active" href="javascript:void(null)" data-action="set-font2" rel="nofollow">黑体</a></div>
  </div>
</div>
